{% if error %}<p class="error-message">{{error}}</p>{% endif %}

<form action="?" method="post" id="add_event">
	<div class="boxset">
		<fieldset>
			
			<p><label for="event_title">שם הארוע:</label>
			<input class="large" name="event_title" type="text" autofocus="autofocus" placeholder="שם הארוע" value="{{event_title}}"/></p>
			
			<p><label for="event_type">סוג ארוע:</label>
			<select name="event_type">
				<option disabled="disabled" {% if event_type is empty %}selected="selected"{%endif%}>סוג ארוע</option>
				{% for dbevent_type in event_types %}
				<option value="{{dbevent_type.key}}" {% if dbevent_type.key == event_type %}selected="selected"{%endif%}>{{dbevent_type.title}}</option>
				{% endfor %}
			</select></p>
			
			<p><label for="event_rule_system">שיטת משחק</label>
			<input class="large" name="event_rule_system" type="text" placeholder="שיטת משחק" value="{{event_rule_system}}" disabled="disable"/></p>
<script>
jQuery(function(){
	var $ = jQuery;
	var evtype = $('[name=event_type]');
	var evrules = $('[name=event_rule_system]');
	if (evtype.val() == 'משחק-תפקידים')
		evrules.removeAttr("disabled");
	evtype.change(function(){ 
		if (evtype.val() == 'משחק-תפקידים')
			evrules.removeAttr("disabled");
		else
			evrules.attr("disabled", "disabled");
	}); 
	
	$("input[name=event_rule_system]").autocomplete({
		autoFocus: true,
		minLength: 0,
		source: [
	{% for rule_system in rule_systems %}"{{rule_system.title|raw}}"{%if not loop.last%},{%endif%}{% endfor %}
		]
	});
	$("input[name=event_rule_system]").click(function(){
		$("input[name=event_rule_system]").autocomplete('search',"");
	});
	$("input[name=event_rule_system]").focus(function(){
		$("input[name=event_rule_system]").autocomplete('search',"");
	});
	
});
</script>

			<p><label for="event_description">תאור:</label></p>
			<textarea name="event_description" class="large-description" placeholder="תאור">{{event_desc}}</textarea>

			<p><label for="event_notes_to_staff">הערות לצוות הכנס:</label></p>
			<textarea name="event_notes_to_staff" class="large-description" placeholder="הערות לצוות הכנס">{{event_notes_to_staff}}</textarea>
			
		</fieldset>

		<fieldset>
		
			<p><label for="event_length" class="as-placeholder">משך הזמן הנדרש (דקות)</label>
			<input name="event_length" type="number" value="{{event_length|default('15')}}" min="15" max="240" step="15"/></p>

			<p><label for="event_min_attendees" class="as-placeholder">מספר משתתפים מזערי</label>
			<input name="event_min_attendees" type="number" value="{{event_min_attendess|default('1')}}" min="1" max="20" placeholder="0"/></p>

			<p><label for="event_max_attendees" class="as-placeholder">מספר משתתפים מרבי</label>
			<input name="event_max_attendees" type="number" value="{{event_max_attendess|default('1')}}" min="1" max="20" placeholder="0"/></p>

<script>
jQuery(function(){
	var $ = jQuery;
	var min = $('[name=event_min_attendees]');
	var max = $('[name=event_max_attendees]');
	min.change(function(){ if (max.val() != '' && max.val() - min.val() < 0) max.val(min.val()); }); 
	max.change(function(){ if (max.val() - min.val() < 0) min.val(max.val()); window.last_max_attendees = max.val()});
});
</script>
			
			<p><label class="checkbox-label">
			<input name="event_tag_kid_friendly" value="1" type="checkbox" {% if event_tag_kid_friendly %}checked="checked"{%endif%}>מתאים לילדים</label></p>

			<p><label class="checkbox-label">
			<input name="event_tag_newbie_friendly" value="1" type="checkbox" {% if event_tag_newbie_friendly %}checked="checked"{%endif%}>מתאים לשחקנים מתחילים</label></p>

			<p><label class="checkbox-label">
			<input name="no_logistical_requirements" value="1" type="checkbox" {% if not event_logistical_requirments %}checked="checked"{%endif%}>אין לי דרישות לוגיסטיות מיוחדות</label></p>
			
			<p><label for="event_logistical_requirments">דרישות לוגיסטיות:</label></p>
			<textarea name="event_logistical_requirments" class="large-description" placeholder="דרישות לוגיסטיות">{{event_logistical_requirments}}</textarea>
<script>
jQuery(function(){
	var $ = jQuery,
		l = $('[name=event_logistical_requirments]');
	var updateLogisticalDisabled = function() {
		if ($('[name=no_logistical_requirements]').is(':checked'))
			l.attr("disabled", "disabled");
		else
			l.removeAttr("disabled");
	};
	$('[name=no_logistical_requirements]').on('change', updateLogisticalDisabled);
	updateLogisticalDisabled();
});
</script>

			<p><label for="event_scheduling_constraints">מגבלות שיבוץ:</label></p>
			<textarea name="event_scheduling_constraints" class="large-description" placeholder="מגבלות שיבוץ (זמנים שאני לא פנוי)">{{event_scheduling_constraints}}</textarea>

			<p><label for="event_tags">תגים (מפורדים בפסיקים):</label>
			<input name="event_tags" type="text" placeholder="תגים (מפורדים בפסיקים)" value="{{event_tags}}"></p>

		</fieldset>
		<div style="clear:both;"></div>
	</div>

<!--  
<label for="">media
<label for="">status
<label for="">prevent_conflicts
<label for="">location_id
<label for="">price
<label for="">registration_required
<label for="">max_free_tickets
<label for="">reserved_tickets
-->

	<p class="form-submit">
	<button type="submit">אישור</button>
	</p>

</form>
