
<p><a href="/controll/admin/users">ניהול משתמשים</a></p>

<p>
	<a href="/controll/admin/events">ניהול ארועים</a> | 
	<a href="/controll/admin/add-event">הוסף ארוע חדש</a> | 
	<a href="/controll/events">תכניה</a> |
	<a href="/controll/events/list">רשימת ארועים</a>
</p>

<p>
	<a href="/controll/admin/registrations">רשימת הזמנות</a> |
	<a href="/controll/admin/merchandise">רשימת מכירות</a>
</p>

<p>
	<a href="/controll/admin/log">לוג</a>
</p>

<p>
	<a href="/controll/authenticate/logout">יציאה</a>
</p>