{% if post.post_type == 'post' %}
{% set taxonomy_class %}tag-type{{post.tagcolor}}{% endset %}
{% set target_url %}/articles/{{post.post_name}}{% endset %}
{% else %}
{% set taxonomy_class %}page-type{{post.page_type}}{% endset %}
{% set target_url %}/page/{{post.post_name}}{% endset %}
{% endif %}
{% if post.custom_fields.redirect_url %}
{% set target_url %}{{post.custom_fields.redirect_url[0]}}{% endset %}
{% endif %}
<div class="grid-box {%if post.featured%}featured{%elseif enhance%}mediumbox{%else%}smallbox{%endif%} {%if latest %}latest{%endif%}">
	<article id="post-{{post.ID}}" class="post-{{post.ID}} post type-post status-publish format-standard {%if post.featured%}sticky{%endif%} hentry {{taxonomy_class}}">
		<div class="grid-box-img">
			<a href="{{target_url}}" rel="bookmark" title="{{post.post_title}}">
				<span class="img-box-link-bait thumbnail" style="background-image: url({{post.thumbnail}})"></span>
				<span class="img-box-link-bait large" style="background-image: url({{post.image}})"></span>
			</a>
		</div>

		{#<span class="cat-links" style="background-color: #6ac93e"><a href="/controll/tags/{{post.tags}}" title="View all posts in {{post.tags}}" rel="tag">{{post.categories}}</a></span>#}
		
		<header class="entry-header">
			<h2 class="entry-title"><a href="{{target_url}}" title="Permalink to {{post.post_title}}" rel="bookmark">{{post.post_title}}</a></h2>
			
			{#<div class="entry-meta">
				<span class="sep meta-by">Author </span>
				<span class="author vcard"><a class="url fn n" href="{{post.post_author}}" title="View all posts by {{post.post_author}}" rel="author">{{post.post_author}}</a></span>
				<span class="byline">
					<span class="sep meta-on"> Date </span> 
					<a href="{{target_url}}" title="{{post.post_date}}" rel="bookmark">
						<time class="entry-date" datetime="{{post.post_date}}">{{post.post_date}}</time>
					</a>
				</span>
			</div><!-- .entry-meta -->#}
		</header><!-- .entry-header -->
		
		<div class="entry-content post_content">{{post.post_excerpt}}</div>
	</article><!-- #post-{{post.ID}} -->
</div>
