<header class="entry-header full ">
	<h2 class="entry-title"><a href="/controll/articles/{{post.post_name}}" title="Permalink to {{post.post_title}}" rel="bookmark">{{post.post_title}}</a></h2>
</header>

<h3>{{post.post_excerpt}}</h3>

<article id="post-{{post.ID}}" class="post-{{post.ID}} post full type-post status-publish format-standard {%if post.featured%}sticky{%endif%} hentry">
	<div class="post_content">
		<div class="grid-box-img tag-type{{post.tagcolor}}">
			<img src="{{post.image}}" class="large"/>
		</div>

		{{post.post_content|raw}}
	</div>

	{#
	<p>
	<span class="cat-links">תגים:
		{%for slug,name in post.tags%}
			<a href="/controll/article/tags/{{slug}}" title="View all posts in {{name}}" rel="tag">{{name}}</a>
		{% endfor %}
	</span>
	</p>
	<footer class="entry-meta">	
		<span class="byline">
			<span class="sep meta-on"> תאריך: </span> 
			<a href="/controll/article/{{post.ID}}" title="{{post.post_date|date("d/m/Y")}}" rel="bookmark">
				<time class="entry-date" datetime="{{post.post_date|date("d/m/Y")}}">{{post.post_date|date("d/m/Y")}}</time>
			</a>
		</span>
	</footer><!-- #entry-meta -->
	#}
	
	<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'giborim'; // required: replace example with your forum shortname
        var disqus_url = '{{canonical}}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
</article><!-- #post-{{post.ID}} -->
