<style>
.container TABLE {
    border-collapse: collapse;
	border: solid black 1px;
}

.container TABLE THEAD {
    display: table;
    float: right;
    width: 100%;
}
.container TABLE thead tr {
    display: table-row;
    width: 100%;
}

.container TABLE TBODY {
    display: block;
    overflow: auto;
    float: right;
}

.container TABLE TBODY TR {
    display: table;
    width: 100%;
}
.container TABLE TBODY TR.alt {
	background-color: #EEE;
}
.container TABLE TBODY TR:hover, .container TABLE TBODY TR.selectedrow {
	background-color: #DDD;
}
.container TABLE tbody tr {
    height: 1.25em;
}
.container TABLE tbody td {
    padding: 1px 8px;
}
.container TABLE tr:after{
    content: ".";
    visibility: hidden;
}

.error {
	font-weight: bold;
	color: rgb(180,0,0);
}

BUTTON IMG {
	vertical-align: bottom;
}

.topcolumns {
	-moz-column-count:2; 
	-webkit-column-count:2;
	column-count:2;
}

.topcolumns SECTION {
	-moz-column-break-inside:avoid;
	-webkit-column-break-inside:avoid;
	column-break-inside:avoid;
}

.topcolumns SECTION H2 {
	margin-top: 0;
}

.topcolumns SECTION TABLE {
	width: 95%;
	margin-top: 1em;
}

.topcolumns SECTION TABLE#regresults TBODY {
    height: 16em;
    width: 100%;
}

.topcolumns SECTION TABLE#regresults th, .topcolumns SECTION TABLE#regresults td {
    width: 30%;
}

.topcolumns SECTION TABLE#regresults .count {
	width: 10%!important;
}

.topcolumns SECTION TABLE#tickets TBODY {
    height: 10.3em;
    width: 100%;
}

.topcolumns SECTION TABLE#tickets .price {
    width: 10%;
}

.topcolumns SECTION TABLE#tickets .count {
	width: 15%;
}

.topcolumns SECTION TABLE#tickets .name {
	width: 75%;
}

.topcolumns SECTION TABLE tbody td IMG.action {
	float: left;
}

.topcolumns SECTION P {
	margin: 0;
}

.topcolumns SECTION P LABEL {
	width: 8em;
	display: inline-block;
}

.topcolumns SECTION LABEL EM {
	color: gray;
}

#user-details {
	-moz-column-count:2; 
	-webkit-column-count:2;
	column-count:2;
}

#user-details P {
	-moz-column-break-inside:avoid;
	-webkit-column-break-inside:avoid;
	column-break-inside:avoid;
}

.order-sum INPUT {
    width: 5em;
}

.order-sum .currency {
    margin-right: -1.2em;
}

.order-sum LABEL {
    margin-right: 3em;
}

.order-sum LABEL:first-child {
    margin-right: 0;
}

.tab-box LI {
	float: right;
	padding: 0.2em 1em;
	font-size: 120%;
	border: solid black 1px;
	border-bottom: 0;
	margin-left: .1em;
}

.tab-box LI.active {
	background-color: lightcyan;
}

.tabbed-notebook {
	clear: right;
	width: 100%;
	border: solid black 1px;
}

.notebook-tab {
	display: none;
}

TABLE TD.centered {
	text-align: center;
}

TABLE#eventlist {
	margin-top: .1em;
	width: 100%;
}

TABLE#eventlist TBODY {
    height: 16em;
    width: 100%;
}

TABLE#eventlist th, TABLE#eventlist td {
    width: 15%;
}

TABLE#eventlist TBODY TR {
    cursor: pointer;
}

TABLE#eventlist TBODY A IMG {
	float: left;
}

TABLE#eventlist .name {
	width: 27%;
}
TABLE#eventlist .type {
    width: 10%;
}
TABLE#eventlist .price {
    width: 5%;
}
TABLE#eventlist .time {
	width: 13%;
}

TABLE#eventlist th.event-description, TABLE#eventlist td.event-description {
    width: 45%;
    max-height: 1.25em;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

TABLE#eventlist .available-tickets {
	display:block;
	float: left;
	color: gray;
}

</style>

<h1 id="start">מסך קופאי</h1>

<div class="container">

	<div class="topcolumns">
		<section>
			<h2>חיפוש לקוח</h2>
			<input type="text" id="regsearch"> 
			<label><em>[F4]</em></label>
			<button type="none" id="button-print"><img src="/controll/images/print.png"> הדפסת כרטיסים [&#8679;F4]</button>
			<table id="regresults">
				<thead>
					<tr><th>לקוח</th><th>ארוע</th><th class="count">כמות</th><th>קוד</th>
				</thead>
				<tbody>
				</tbody>
			</table>
		</section>
		
		<section>
			<h2>מכירת כרטיסים</h2>
			<button type="none" id="clearform">איפוס טופס <img src="/controll/images/clear.png"> [F9]</button>
			<div id="user-details">
				<p><label for="name">שם (חובה): <em>[F7]</em></label> <input type="text" name="name" id="username" placeholder="ישראל ישראלי"/></p>
				<p><label>דואל:</label> <input type="email" name="email" id="useremail" placeholder="login@domain.com"></p>
				<p><label>טלפון:</label> <input type="tel" name="telephone" id="usertel" placeholder=""></p>
				<p><label>מס. חבר:</label> <input type="text" name="assoc-num" id="userassocnum" placeholder=""></p>
			</div>
			<table id="tickets">
				<thead>
					<tr><th class="name">ארוע</th><th class="count">כמות</th><th class="price">עלות</th>
				</thead>
				<tbody>
				</tbody>
			</table>
			<p class="order-sum">
				<label>סה"כ:</label><input type="text" readonly id="tickets-total"><span class="currency">₪</span>
				<label>בקניה זו חסכת:</label><input type="text" readonly id="tickets-discount"><span class="currency">₪</span>
				<label style="width: 4em;"><input type="checkbox" style="width: 1.5em;" name="credit-payment" id="credit-payment" value="1"><img src="/controll/images/cc_generic.png" style="vertical-align: bottom;"></label>
				<button type="none" style="float: left" id="approve-button">
					<img src="/controll/images/save.png"> אשר תשלום והדפס [F2]
				</button>
			</p>
		</section>
	</div>
	
	<div class="tab-box">
		<ul>
			<li><label for="merchandiselist">חנות</label></li>
			<li><label for="conplan">תכניה</label></li>
			<li><label for="eventlist">רשימת ארועים</label></li>
		</ul>
	</div>
	
	<div class="tabbed-notebook">
		<div class="notebook-tab" id="conplan">
		תכניה
		</div>
		<div class="notebook-tab" id="eventlist">
			<input type="text" style="width: 100%" placeholder="חיפוש [F3]" id="eventsearch">
			<table id="eventlist">
				<thead>
					<tr>
						<th class="name">שם</th>
						<th class="type">סוג</th>
						<th class="event-description">תיאור</th>
						<th class="price">מחיר</th>
						<th class="time">זמן</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="notebook-tab" id="merchandiselist">
		    חולצה :  
		    <div id="merchandise-select">
		    </div>
		</div>
	</div>

</div>

<script type="text/javascript">
const MEMBER_DISCOUNT = 10;
var registrations = null,
	events = null,
	users = null;

var retrievedata_int = null;
function retrieveData() {
	$.getJSON("/controll/cashier/getregistrations", function(data){ registrations = data; });
	$.getJSON("/controll/cashier/getevents", function(data){
		var eventsnotstarted = [], eventsstarted = [];
		var now = Math.floor(new Date().getTime()/1000);
		data.events.forEach(function(ev) {
			if (ev.start + 1800 < now)
				eventsstarted.push(ev);
			else
				eventsnotstarted.push(ev);
		});
		data.events = eventsnotstarted.concat(eventsstarted); 
		events = data; 
	});
	//$.getJSON("/controll/cashier/getusers", function(data) { users = data; });
	if (!retrievedata_int)
		retrievedata_int = window.setInterval(retrieveData, 60000);
}

function cancelRegistration(reg) {
	if (!confirm('למחוק את הרישום של ' + reg.user.fullname + ' ל-' + reg.amount + ' כרטיסים ל-"' + reg.event_occurrence.event.title + '"?\n' +
			'לא ניתן לבטל את המחיקה!\n' +
			'\n'+
			'אם כן, יש להחזיר ללקוח ₪' + reg.price))
		return;
	
	$.getJSON('/controll/cashier/delregistration', { reg: reg.id }, function(data) {
		if (!data) {
			alert('שגיאה בשרת! יש להודיע למנהל המערכת');
		}
		if (!data.status) {
			alert('שגיאה: ' + data.message);
		}
		registrations = null;
		retrieveData();
		var myint = window.setInterval(function(){
			if (registrations == null) return;
			window.clearInterval(myint);
			searchReg($('#regsearch').val());
		}, 100);
	});
}

function searchReg(text) {
	$('#regresults tbody tr').remove();
	if (!text) return;
	
	var data = [];
	var search = new RegExp(text, "i");
	registrations.forEach(function(reg){
		if (
				(reg.user.phone && reg.user.phone.search(search) >= 0) ||
				reg.user.email.search(search) >= 0 ||
				reg.user.fullname.search(search) >= 0 ||
				reg.event_occurrence.event.title.search(search) >= 0 ||
				reg.authcode.search(search) >= 0
				)
			data.push(reg);
	});
	
	data.forEach(function(reg){
		$('#regresults tbody').append(
			$('<tr/>').data('reg',reg)
				.append($('<td/>').attr({
					title: 'טל: ' + reg.user.phone + ', @: ' + reg.user.email })
					.append($('<img src="/controll/images/action-delete.png">').click(function() { cancelRegistration(reg); return false; }))
					.append(reg.user.fullname)
				)
				.append($('<td/>').attr({
					title: reg.event_occurrence.starttext + ' ' + reg.event_occurrence.location.title}).append($('<a/>').attr({
					target:'blank',
					href:'/controll/event/'+reg.id}).text(reg.event_occurrence.event.title)))
				.append($('<td class="count"/>').append($('<strong/>').text(reg.amount/* + ' [₪' + reg.price + ']'*/)))
				.append($('<td/>').append($('<em/>').text(reg.authcode)).append('<img src="/controll/images/print.png" class="action">'))
				.click(function(){ printRegistrations(reg.user_id); })
		).tooltip();
	});
}

function printRegistrations(userid) {
	window.open('/controll/cashier/print?user='+userid, 'printview', 
			'menubar=no,location=no,resizable=no,scrollbars=yes,status=no,width=800,height=600');
}

function printUserRegistartions() {
	$('<input id="dummy-user-select"/>').css({opacity: '0.01'}).insertAfter($('#button-print'));
	var dummytext = $('#dummy-user-select');
	
	var users = [], keys = {};
	$('#regresults TBODY TR').each(function(){
		var reg = $(this).data('reg');
		keys[reg.user.fullname + ' (' + reg.user.email + ')'] = reg.user;
	});
	for (var userkey in keys) {
		users.push({label: userkey, value: keys[userkey]});
	}
	
	if (users.length == 1) {
		printRegistrations(users[0].value.id);
		return;
	}
	
	dummytext.autocomplete({ 
		autoFocus: true, 
		minLength: 0, 
		delay: 0,
		source: users, 
		select: function(e,ui) { 
			printRegistrations(ui.item.value.id); 
		}, 
		focus: function(e,ui) {
			dummytext.val(ui.item.value.fullname);
		},
		close: function(e,ui) { 
			dummytext.remove();
			$('#regsearch').focus();
		},
	});
	dummytext.focus();
	dummytext.autocomplete('search','');
}

function setupMerch() {
    if (!events.skus[0].skus) return;
    var shirt = events.skus[0];
    shirt.skus.forEach(function (sku) {
        $('#merchandise-select').append($('<div/>')
            .text(sku.key.replace('_',' '))
            .css({textDecoration: 'underline', cursor: 'pointer' })
            .click(function(){
                $('#tickets tbody').append(
                    $('<tr/>').data({ price: shirt.price, sku: sku, amount: 1 })
                        .addClass($('#tickets tbody TR').size() % 2 > 0 ? 'alt': '')
                        .append($('<td class="name"/>').append(sku.key))
                        .append($('<td class="count centered"/>').text('1').append($('<img src="/controll/images/action-delete.png">').click(function() {
                            $(this).closest('tr').remove();
                            calculateTotal();
                        })))
                        .append($('<td class="price centered"/>').append($('<em/>').append($('<bdo dir="ltr"/>').text('₪' + shirt.price)))));
                calculateTotal();
            })
        ).click(function(e){ e.preventDefault(); });
    });
}

function searchEvents(text) {
	// retain selected event
	var selectedrow = $('#eventlist TBODY TR.selectedrow');
	if (selectedrow.size())
		selectedrow = selectedrow.data('event').id;
	else
		selectedrow = null;
	$('#eventlist tbody tr').remove();
	if (!events) return;
	if (!text) {
		events.events.forEach(addEventToTable);		
		return;
	}
	
	var data = [];
	var search = new RegExp(text, "i");
	events.events.forEach(function(ev){
		if (ev.id === selectedrow)
			ev.selected = true;
		if (
				ev.event.description.search(search) >= 0 ||
				ev.event.tags.search(search) >= 0 ||
				ev.event.title.search(search) >= 0 ||
				ev.event.type.type.title.search(search) >= 0
				)
			addEventToTable(ev);
	});
	// fake max-width: 45% which doesn't actually work
	$('TABLE#eventlist td.event-description').css({maxWidth: (parseInt($('TABLE#eventlist').css('width'))/100*45) + 'px'}); 
}

function makeEventTitle(event,icons) {
	return $('<div/>')
		.append($('<a/>').attr({href: '/controll/event/' + event.event.key, target: '_blank'}).append($('<img src="/controll/images/link.png">'))
			.click(function(e){e.stopPropagation();}))
		.append(icons ? $('<img src="/controll/images/reg-add.png">') : '')
		.append($('<span/>').text(event.event.title))
		.append($('<span class="available-tickets"/>').text(event.available_tickets === 0 ? '[מלא]' : (event.available_tickets ? 
			'['+event.available_tickets+'/' + event.max_attendees + ']' : '[חופשי]')))	
}

function formatDuration(seconds) {
	var time = Math.floor(seconds / 60);
	var minutes = time % 60;
	var hours = Math.floor(time / 60);
	return '' + hours + ':' + (minutes < 10 ? '0' : '') + minutes;
}

function addEventToTable(ev) {
	$('#eventlist tbody').append(
			$('<tr/>').addClass(ev.selected ? 'selectedrow' : '').data('event', ev)
				.append($('<td/>').addClass('name').attr({ title: 'מיקום: ' + ev.location.title }).append(makeEventTitle(ev,true)))
				.append($('<td/>').addClass('type centered').text(ev.event.type.type.title))
				.append($('<td/>').addClass('event-description').attr({title: ev.event.description + ' [הערות: '+ 
				    ev.notes_to_attendees
				    +']'} ).text(ev.event.description))
				.append($('<td/>').addClass('price centered').text('₪' + ev.event.price))
				.append($('<td/>').addClass('time centered')
						.append($('<span/>').text(ev.starttext))
						.append(' ')
						.append($('<span/>').text('[⌚' + formatDuration(ev.length) + ']')))
				.click(function(){
					if (ev.available_tickets === 0) {
						alert('הארוע מלא!');
						return false;
					}
					addRegistration(ev);
					})
		).tooltip();
}

function updateRegistrationAmountControl(event, change) {
	return function(e) {
		var row = $('#tickets tbody #ev-' + event.id);
		if (row.size() <= 0) // sanity check
			return;
		var val = row.data('amount') + change;
		if (event.available_tickets !== null && val > event.available_tickets)
			return; // dont allow to sell more tickets than available
		if (val) {
			row.data('amount', val);
			row.data('price', val * event.event.price);
			row.find('TD.count STRONG').text(val);
			row.find('TD.price EM').text('₪'+row.data('price'));
		} else {
			row.remove();
		}
		calculateTotal();
	};
}

function checkForCoupons() {
	$('#tickets tbody #coupons').remove(); // make sure to clean previously calculated coupons
	var user = $('#username').data('user');
	if (!user) // happens if the user wasn't loaded yet
		return;
	
	
	var coupons = 0;
	user.remaining_coupons.forEach(function(c){ coupons += parseFloat(c.credit); });
	if (!coupons)
		return;
	
	$('#tickets tbody').prepend(
		$('<tr/>').attr('id','coupons').data({ coupon: -1*coupons })
			.addClass($('#tickets tbody TR').size() % 2 > 0 ? 'alt': '')
			.append($('<td class="name"/>').append('קופון הנחה'))
			.append($('<td class="count centered"/>'))
			.append($('<td class="price centered"/>').append($('<em/>').append($('<bdo dir="ltr"/>').text('₪' + (-1*coupons))))));
}

function addRegistration(event) {
	if ($('#tickets tbody #ev-' + event.id).size()) {
		// add a ticket to an existing registration
		var amount = $('#tickets tbody #ev-' + event.id).data('amount') + 1;
		$('#tickets tbody #ev-' + event.id).data('amount', amount);
		var price = $('#tickets tbody #ev-' + event.id).data('event').event.price * amount;
		$('#tickets tbody #ev-' + event.id).data('price', price);
		$('#tickets tbody #ev-' + event.id + ' TD.count STRONG').text(amount);
		$('#tickets tbody #ev-' + event.id + ' TD.price EM').text('₪'+price);
		calculateTotal();
		return;
	}
	$('#tickets tbody').append(
			$('<tr/>').attr('id','ev-' + event.id).data({ event: event, price: event.event.price, amount: 1 })
				.addClass($('#tickets tbody TR').size() % 2 > 0 ? 'alt': '')
				.append($('<td class="name"/>').append(makeEventTitle(event)))
				.append($('<td class="count centered"/>')
						.append($('<strong/>').text(1))
						.append($('<img src="/controll/images/arrow-down.png">').click(updateRegistrationAmountControl(event,-1)))
						.append($('<img src="/controll/images/arrow-up.png">').click(updateRegistrationAmountControl(event,1)))
				)
				.append($('<td class="price centered"/>').append($('<em/>').append($('<bdo dir="ltr"/>').text('₪' + event.event.price))))
		).tooltip();
	
	$('#tickets tbody').animate({scrollTop: $('#tickets tbody').height() }, 'slow');
	calculateTotal();
}

function calculateTotal() {
	checkForCoupons();
	var total = 0;
	var discount = 0;
	$('#tickets tbody tr').each(function(){
		if ($(this).data('coupon')) {
			total += parseFloat($(this).data('coupon'));
			return;
		}
		var count = $(this).data('amount');
		var price = parseFloat($(this).data('price'));
		// calculate possible discount
		var ticketdiscount = count * MEMBER_DISCOUNT; // 5 ILS per ticket for members
		if (price > ticketdiscount)
			discount += ticketdiscount;
		total += price;
	});
	if ($('#userassocnum').val()) { // members get discount
		$('#tickets-discount').val(discount);
		total -= discount;
	} else
		$('#tickets-discount').val('');
	if (total < 0) // could happen if the user has coupons
		total = 0; // we don't give money back
	$('#tickets-total').val(total);
}

function showTab(id) {
	$('.notebook-tab').hide();
	$('.tab-box LI').removeClass('active');
	$('.notebook-tab#' + id).show();
	$('.tab-box LI LABEL[for='+id+']').parent().addClass('active');
}

function delaySearchCall(method, hasData) {
	return function() {
		if (method.timeout)
			window.clearTimeout(method.timeout);
		var text = $(this).val();
		var runner = function(){
			method.timeout = null;
			if (hasData()) 
				method(text);
			else
				method.timeout = window.setTimeout(runner, 250);
		};
		method.timeout = window.setTimeout(runner, 250);
	};
}

function printSaleApproval(){
	var id = $('#progress-dialog').data('user');
	printRegistrations(id);
	closeProgress();
	retrieveData();
}

function approveSale() {
	if ($('#progress-dialog').data('user')) { // transaction in progress
		printSaleApproval();
		return;
	}
	if (!$('#username').val()) {
		alert('יש להכניס שם לקוח!');
		return;
	}
	if ($('#tickets tbody tr').size() <= 0) {
		alert('אין הזמנות לאשר!');
		return;
	}
	
	if (!confirm('האם התקבל תשלום בסך: ₪' + $('#tickets-total').val() + '?')) {
		return;
	}
	
	if (!$('#useremail').val()) { // fake user email if not set, as the account management system requires an email
		$('#useremail').val('customer-' + Math.floor(Math.random()*100000) + '@bigor.org.il');
	}
	$('#tickets tbody').animate({scrollTop: 0 }, 'slow');
	showProgressDialog(function(){
		$.getJSON('/controll/cashier/createuser', { 
			name: $('#username').val(), 
			email: $('#useremail').val(), 
			phone: $('#usertel').val(),
			assocnum: $('#userassocnum').val(),
			organization: '{{convention.organizations.find().id}}',
			}, function(data){
				if (!data) {
					showProgress('שגיאה בקריאה לשרת, פנה למנהל המערכת', 'error');
					showProgressButton('חזור',null,closeProgress);
					return;
				}
				if (!data.status) {
					showProgress('שגיאה בבניית משתמש: ' + data.message, 'error'); 
					showProgressButton('חזור',null,closeProgress);
					return;
				}
				$('#progress-dialog').data('user',data.user.id);
				showProgress('חשבון לקוח: ' + data.user.id);
				addTransaction(data);
			});
	});
}

function addTransaction(userdata) {
	if ($('#tickets tbody tr').size() <= 0) {
		showProgress('הרשמה אושרה!')
		clearCustomerForm();
		showProgressButton('הדפס רישום [F2]', 'print.png', printSaleApproval);
		$('#credit-payment').attr('checked',false);
		$('#tickets tbody #coupons').remove(); // make sure to clean previously calculated coupons
		return;
	}
	
	var cur = $('#tickets tbody tr').first();
	
	if (cur.data('coupon')) { // its a coupon, the actual discount will be calculated by the backend, so just ignore it
		cur.remove();
		addTransaction(userdata);
		return;
	}
	
	var event = cur.data('event');
	var sku = cur.data('sku');
	var amount = cur.data('amount');
	var price = cur.data('price');
	// calculate member discount
	var discount = $('#userassocnum').val() ? amount * MEMBER_DISCOUNT : 0;
	var coupon = '';
	if (price > discount) {
		price -= discount
		coupon = 'org-member:{{convention.organizations.find().id}}'; 
	}
	
	if (sku) {
    	$.getJSON('/controll/cashier/addmerchandise',{
    			user: userdata.user.id,
    			sku: sku.id,
    			amount: amount,
    			price: price,
    			coupon: coupon,
    			creditcard: $('#credit-payment').attr('checked') ? 1 : 0,
    		}, function(data){
    			if (!data) {
    				showProgress('שגיאה בקריאה לשרת, פנה למנהל המערכת', 'error');
    				showProgressButton('חזור',null,closeProgress);
    				return;
    			}
    			
    			if (!data.status) {
    				showProgress('שגיאה בהכנסת רכישה: ', data.message, 'error');
    				showProgressButton('חזור',null,closeProgress);
    				return;
    			}
    			
    			showProgress('רישום רכישה: ' + data.transaction.id);
    			cur.remove();
    			addTransaction(userdata);
    		});
	} else {
    	$.getJSON('/controll/cashier/addregistration',{
    			user: userdata.user.id,
    			event: event.id,
    			amount: amount,
    			price: price,
    			coupon: coupon,
    			creditcard: $('#credit-payment').attr('checked') ? 1 : 0,
    		}, function(data){
    			if (!data) {
    				showProgress('שגיאה בקריאה לשרת, פנה למנהל המערכת', 'error');
    				showProgressButton('חזור',null,closeProgress);
    				return;
    			}
    			
    			if (!data.status) {
    				showProgress('שגיאה בהכנסת רישום: ' + data.message, 'error');
    				showProgressButton('חזור',null,closeProgress);
    				return;
    			}
    			
    			showProgress('רישום ארוע: ' + data.registration.id);
    			cur.remove();
    			addTransaction(userdata);
    		});
	}
}

function closeProgress() {
	$('#progress-dialog').dialog('close');
	$('#progress-dialog').data('user', null);
}

function showProgressButton(text, image, action) {
	$('#progress-dialog').append($('<button/>')
			.append(image ? '<img src="/controll/images/' + image + '">' : '')
			.append($('<span/>').text(text))
			.click(action));
}

function showProgress(text, cssClass) {
	message = $('<p/>').text(text);
	if (cssClass)
		message.addClass(cssClass);
	$('#progress-dialog').append(message);
}

function showProgressDialog(nextStep) {
	$('body').append('<div id="progress-dialog" style="display: none"><h2>תהליך אישור הזמנה</h2></div>');
	$('#progress-dialog').data('user',null);
	$('#progress-dialog').show().dialog({
		dialogClass: 'progress-dialog',
		modal: true, draggable: false, resizable: false,
		width: 550, height: 300,
		open: nextStep,
		close: function() { $('#progress-dialog').remove();},
	});
}

function clearCustomerForm() {
	$('#username').val('');
	$('#useremail').val('');
	$('#usertel').val('');
	$('#userassocnum').val('');
	calculateTotal();
	$('#tickets tbody tr').remove();
	$('#eventsearch').val('');
	searchEvents();
	$('#username').focus();
}

function eventlistSelectPrev() {
	if ($('#eventlist TBODY TR.selectedrow').size()) {
		var cur = $('#eventlist TBODY TR.selectedrow').first();
		cur.removeClass('selectedrow');
		cur.prev().addClass('selectedrow');
	} else
		$('#eventlist TBODY TR').last().addClass('selectedrow');
	var target = $('#eventlist TBODY TR.selectedrow').offset().top - $('#eventlist TBODY').offset().top;
	console.log('scrolling to ' + $('#eventlist TBODY TR.selectedrow TD:first').text() + ', top: ' + target);
	$('#eventlist TBODY').css({scrollTop: target + 'px' });
	return false;
}

function eventlistSelectNext(){
	if ($('#eventlist TBODY TR.selectedrow').size()) {
		var cur = $('#eventlist TBODY TR.selectedrow').first();
		cur.removeClass('selectedrow');
		cur.next().addClass('selectedrow');
	} else
		$('#eventlist TBODY TR').first().addClass('selectedrow');
	var target = $('#eventlist TBODY TR.selectedrow').offset().top - $('#eventlist TBODY').offset().top;
	console.log('scrolling to ' + $('#eventlist TBODY TR.selectedrow TD:first').text() + ', top: ' + target);
	$('#eventlist TBODY').css({scrollTop: target + 'px' });
	return false;
}

function populateCustomerFieldsFromAutoComplete(e,ui) {
	var user = ui.item.value; 
	e.preventDefault();
	$('#username').val(user.fullname);
	$('#username').data('user',user);
	$('#useremail').val(user.email);
	$('#usertel').val(user.phone);
	$('#userassocnum').val(user.memberships && user.memberships.length ? user.memberships[0].member_id : '');
	calculateTotal();
}

function createAutoComplete(field, positionUnderField, queryEndpoint) {
	var closer = function(e) { 
		if ((e.keyCode ? e.keyCode : e.which) == 13) 
			$(field).autocomplete('close'); 
	}
	$(field).autocomplete({ 
		autoFocus: true, 
		minLength: 3, 
		delay: 500,
		source: queryEndpoint, 
		position: positionUnderField ? { my : "right top", at: "right bottom" } : { my : "right bottom", at: "right top" },
		select: populateCustomerFieldsFromAutoComplete, 
		focus: populateCustomerFieldsFromAutoComplete,
		create: function(e,ui) { shortcut.add('Enter', function(){$(field).autocomplete('widget').keypress(closer);}); },
		close: function(e,ui) { shortcut.remove('Enter'); updateRegistrationSearch(); },
		search: function(e, ui) {
			// dont search if any of the fields are populated
			var cancel = false;
			[ '#username', '#useremail', '#usertel', '#userassocnum' ].forEach(function(f){
				if (f == field) return;
				if ($(f).val())
					cancel = true;
			});	
			if (cancel) {
				e.preventDefault();
				return false;
			}
		},
	}).keypress(closer);
}

function updateRegistrationSearch() {
	if (!registrations) return; 
	searchReg($('#username').val());
}

$(function(){
	retrieveData(); // start getting registration data

	// fix columns width to take advantage of all available space 
	$('.container').css({
		marginRight: -(parseInt($('#container').prop('offsetLeft'))-10) + 'px',
		width: (parseInt($('body').css('width'))-62) + 'px',
		});

	// hook text entry events
	$('#regsearch').keyup(delaySearchCall(searchReg, function(){return !!registrations;}));
	$('#eventsearch').keyup(delaySearchCall(searchEvents, function(){ return !!events;}));
	$('#userassocnum').keyup(calculateTotal);
	$('#username').change(updateRegistrationSearch);
	
	// hook buttons
	$('#approve-button').click(approveSale);
	$('#clearform').click(clearCustomerForm);
	$('#button-print').click(printUserRegistartions);
	
	// hook keyboard shortcuts
	shortcut.add('F9',clearCustomerForm);
	shortcut.add('F2',approveSale);
	shortcut.add('F3', function(){ $('#eventsearch').val(''); $('#eventsearch').focus(); });
	$('#eventsearch').focus(function(){ shortcut.add('Up', eventlistSelectPrev); shortcut.add('Down', eventlistSelectNext); });
	$('#eventsearch').blur(function(){ shortcut.remove('Up'); shortcut.remove('Down'); });
	shortcut.add('F7', function() { $('#username').focus(); });
	shortcut.add('F4', function() { $('#regresults tr').remove();  $('#regsearch').val(''); $('#regsearch').focus();  });
	shortcut.add('Shift+F4', printUserRegistartions);
	
	// hook auto-complete
	createAutoComplete('#username', false, '/controll/cashier/usersearch-name');
	createAutoComplete('#useremail', true, '/controll/cashier/usersearch-email');
	createAutoComplete('#userassocnum', true, '/controll/cashier/usersearch-assocnum');
	createAutoComplete('#usertel', false, '/controll/cashier/usersearch-phone');
	
	// build tabbed notebook
	$('.tab-box label').click(function(){ showTab($(this).attr('for')); });
	showTab($('.tab-box li:last-child label').attr('for'));
	
	// make sure the cashier's screen isn't showing unneeded elements
	if (!window.location.hash)
		window.location = '#start';
	clearCustomerForm();
	
	// fill the event list as soon as data is available (make it more attractive to search)
	var prefill_int = window.setInterval(function(){
		if (!events) return;
		window.clearInterval(prefill_int);
		searchEvents();
		setupMerch();
	},500);
});
</script>
