<script type="text/javascript">
var $ = jQuery;
</script>
{% include 'convention/shopping-cart' %}

<article class="event-details">

	<h1>{{event.title}}</h1>
	
	<dl>
	<dt>מנחה</dt>
		{% set hosts = event.users.find_all().as_array() %}
		{% if hosts|length > 0 %}
		{% for user in hosts %}
			<dd>{{user.first_name}} {{user.last_name}}</dd>
		{% endfor %}
		{% else %}
		<dd>עדיין לא הוגדר</dd>
		{% endif %}
	<dt>מיקום</dt>	<dd>{{event.location|default('עדיין לא הוגדר')}}</dd>
	<dt>זמן</dt>	<dd>
		{% if event.start > 0 %}
		{{event.start|hdate("D d/m H:i")}} - {{event.end|hdate("H:i")}}
		<span style="white-space: nowrap">
		{% set length = (event.end - event.start)/3600 %}
		({{length}} {% if length >= 2 %}שעות{%else%}שעה{%endif%})
		</span>
		{% else %}
		עדיין לא הוגדר
		{% endif %}
		</dd>
	<dt>סוג ארוע</dt>	<dd>{{event.type.title}}</dd>
	{% if event.rule_system and event.rule_system.title is not empty%}
	<dt>שיטת משחק</dt>	<dd>{{event.rule_system.title}}</dd>
	{% endif %}
	</dl>


	{{event.description|nl2br|linkify|markdown}}

	<dl>
		{% if event.notes_to_attendees %}
		<dt>הערות למשתתפים</dt>	<dd>{{event.notes_to_attendees|nl2br|linkify|markdown}}</dd>
		{% endif %}
		<dt>מספר משתתפים</dt>	<dd>{{event.max_attendees}}</dd>
		{% if event.tags %}
		<dt>תגים</dt>	<dd class="tags">
			{% for tag in event.tag_list %}
				<a href="../רשימת-ארועים?tag={{tag.key}}">{{tag.title}}</a>
			{% endfor %}
			</dd>
		{% endif %}
		<dt>עלות</dt>	<dd>₪{{event.price}} לכרטיס</dd>
	</dl>

	{% if event.registration_closed %}
	<p>ההרשמה לארוע נסגרה. לפרטים פנו לקופות</p>
	{% elseif event.available_tickets is null and event.price == 0 %}
	<p>הארוע חופשי לכולם - אין צורך להזמין כרטיסים</p>
	{% elseif user_registration is not empty %}{# user has existing registrations #}
		{% set uamount = 0 %}
		{% for reg in user_registration %}{% set uamount = uamount + reg.amount %}{% endfor %} 
		<a href="#register" id="eventregbutton">הזמנת כרטיסים</a>
		<div id="register">
			{% if event.price > 0 %}
			<p>עלות: ₪{{event.price}} לכרטיס</p>
			{% endif %}
		
			<form method="post" action="?id=/{{event.id}}" class="reg-list">
				<input type="hidden" name="action" value="update"/>
				<label for="curamount" class="as-placeholder">כרטיסים הרשומים לשמך</label>
				<input name="curamount" type="number" value="{{uamount}}" min="{{uamount}}" max="{{event.available_tickets+uamount}}">
				<input name="amount" type="hidden" value="0"/>
				<p id="additional-tickets" style="display:none;">
					<button type="submit">הזמן <span id="additional-tickets-num">0</span> כרטיסים נוספים</button>
					{% if event.available_tickets is not null %}
					<footer>נותרו {{event.available_tickets}} כרטיסים מתוך {{event.max_attendees}}</footer>
					{% endif %}
				</p>
				{#
				<button type="submit" id="cancelreg">בטל</button>
				<script type="text/javascript">
				$('#cancelreg').click(function(e){
					return confirm('באמת לבטל את הרישום לארוע?\n הכרטיסים יוחזרו ויתכן שלא יהיה זמינים בהמשך.');
				});
				</script>
				#}
				<script type="text/javascript">
				$('[name=curamount]').change(function(){
					var val = parseInt($('[name=curamount]').val()),
						min = parseInt($('[name=curamount]').prop('min')),
						max = parseInt($('[name=curamount]').prop('max'));
					if (val > max) {
						$('[name=curamount]').val({{event.available_tickets+uamount}});
						alert('אין אפשרות להזמין יותר מ-{{event.available_tickets+uamount}} כרטיסים');
						return false;
					}
					if (val > min) {
						$('#additional-tickets').show();
						var tobuy = $('[name=curamount]').val() - {{uamount}};
						$('#additional-tickets-num').text(tobuy);
						$('[name=amount]').val(tobuy)
					}
				});
				</script>
			</form>
		</div>
	{% elseif event.available_tickets is null or event.available_tickets > 0 %}
		{%if user %}
			<a href="#register" id="eventregbutton">הזמנת כרטיסים</a>
			<div id="register" style="display: none;">
				{% if event.price > 0 %}
				<p>עלות: ₪{{event.price}} לכרטיס</p>
				{% endif %}
			
				<form method="post" action="?id=/{{event.id}}" class="reg-list">
					<input type="hidden" name="action" value="register"/>
					<label for="amount" class="as-placeholder">מספר כרטיסים</label>
					<input name="amount" type="number" value="1" min="1" max="{{event.available_tickets}}">
					<button type="submit">הזמן</button>
					{% if event.available_tickets is not null %}
					<footer>נותרו {{event.available_tickets}} כרטיסים מתוך {{event.max_attendees}}</footer>
					{% endif %}
					<script type="text/javascript">
					$('[name=amount]').change(function(){
						var val = parseInt($('[name=amount]').val()),
							min = parseInt($('[name=amount]').prop('min')),
							max = parseInt($('[name=amount]').prop('max'));
						if (val > max) {
							$('[name=amount]').val({{event.available_tickets}});
							alert('אין אפשרות להזמין יותר מ-{{event.available_tickets}} כרטיסים');
							return false;
						}
					});
					</script>
				</form>
			</div>
			<script type="text/javascript">
			$('#eventregbutton').click(function(){
				$('#register').show();
			});
			
			$(function() {
				if (window.location.hash == '#register')
					$('#register').show();	
			});
			</script>
		{% else %}
		<a href="#register" onclick="showAuthenticateDialog('http://' + window.location.hostname + window.location.pathname + window.location.search + '#register'); return false;">הרשמה לצורך הזמנת כרטיסים</a>
		{% endif %}
	
	{% else %}
	<p>מצטערים - אזלו הכרטיסים</p>
	{% endif %}
	
	{% if user.isAdmin() %}
		<p>נשמרו {{event.registered_tickets}} כרטיסים</p>
		{% set regs = event.registrations.find_all() %}
		{% if not (regs is empty) %}
		<table class="admin">
		<thead>
			<tr><th>שם</th><th>תאריך</th><th>כמות</th><th>עלות</th><th>מצב</th><th>קוד אישור</th></tr>
		</thead>
		<tbody>
			{% for reg in regs %}
			<tr>
				<td>
					<span dir="rtl">
					<a href="mailto:{{reg.user.email}}">{{reg.user.first_name}} {{reg.user.last_name}}</a>
					</span>
					({{reg.user.phone}})
				</td>
				<td>{{reg.registered|date("d/m H:i")}}</td>
				<td>{{reg.amount}}</td>
				<td>{{reg.price}}</td>
				<td>{{reg.status_text}}</td>
				<td>{{reg.authcode}}</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
		{% endif %}
	{% elseif user and attribute(event, 'isEventHost', [user]) %}
		<p>נשמרו {{event.registered_tickets}} כרטיסים</p>
	{% endif %}

</article>

<ul class="link-bar">
	<li><a href="../רשימת-ארועים">חזרה לתכניה</a></li>
	<li><a href="../רשימת-ארועים">חזרה לרשימת הארועים</a></li>
{% if user.isAdmin() %}
	<li><a href="/controll/admin/edit-event?event_id={{event.id}}">ערוך</a></li>
{% endif %}
</ul>

{% include 'convention/shopping-footer' %}
