{% include 'convention/shopping-cart' %}

<ul><li style="list-style: disc;font-size: 150%;}">רשימת המשחקים בכנס "ביגור" נתונה לשינויים. שימו לב שמשחקים נוספים יתווספו בהמשך.</li></ul>

<p id="day-selector">
{% for day in datelist %}
	<a href="#{{day.start|date('d-m-y')}}">{{day.start|hdate("D d/m")}}</a>
{% endfor %}
</p>

<div class="con-plan-container-container"><div class="con-plan-container" style="overflow-x: auto;">
<!--  event table  -->
<table class="con-plan">
	{% for day in datelist %}
	<thead id="planhead-{{day.start|date('d-m-y')}}" style="display: none;">
		<tr> <!-- locations -->
			<th class="hour-field"></th>
			{% for location in day.locations %}
			<th class="{% if loop.index is odd %}alt{% endif %}" colspan="{{location.concurrency}}">
				{{location}}
			</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody class="day-plan" id="plan-{{day.start|date('d-m-y')}}-hrs" style="display: none;position: absolute;">
		{% for timeslot in day.start..day.end if timeslot is divisibleby(1800) %}
			<tr>
				{% for location in day.locations %}
					{% for conc in 1..location.concurrency %}
						<!-- {{location}} {{conc}} -->
						{% set event_in_time = location.getEvent(conc, timeslot) %}
						{% if not event_in_time %} {# no event #}
							<td class="no-event-spacer" style="width: 0;"></td>
						{% elseif event_in_time.start != timeslot %}{# event in progress - show nothing #}
						{% else %}
							<td rowspan="{{ event_in_time.length / 1800 }}" class="event event-type-{{event_in_time.type.type.key}}" style="width: 0;">
								<div class="eventbox" onclick="window.location.href='/controll/event/{{event_in_time.key}}';"><a href="/controll/event/{{event_in_time.key}}">
									{{event_in_time.title}}
								</a>{% if user.isAdmin() %}[{{event_in_time.registered_tickets}}]{% endif %}</div>
							</td>
						{% endif %}
					{% endfor %}
				{% endfor %}
				<th class="hour-field" style="background-color: white;">{{timeslot|date("H:i")}}</th>
			</tr>
		{% endfor %}
	</tbody>
	<tbody class="day-plan" id="plan-{{day.start|date('d-m-y')}}" style="display: none;">
		{% for timeslot in day.start..day.end if timeslot is divisibleby(1800) %}
			<tr>
				<th class="hour-field" style="visibility:hidden;">{{timeslot|date("H:i")}}</th>
				{% for location in day.locations %}
					{% for conc in 1..location.concurrency %}
						<!-- {{location}} {{conc}} -->
						{% set event_in_time = location.getEvent(conc, timeslot) %}
						{% if not event_in_time %} {# no event #}
							<td class="no-event-spacer"></td>
						{% elseif event_in_time.start != timeslot %}{# event in progress - show nothing #}
						{% else %}
							<td rowspan="{{ event_in_time.length / 1800 }}" class="event event-type-{{event_in_time.type.type.key}}">
								<div class="eventbox" onclick="window.location.href='/controll/event/{{event_in_time.key}}';"><a href="/controll/event/{{event_in_time.key}}">
									{{event_in_time.title}}
								</a>{% if user.isAdmin() %}[{{event_in_time.registered_tickets}}]{% endif %}</div>
							</td>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
	{% endfor %}
</table>
</div></div>

<script>
var shown = null;
var show = function(id) {
	if (id == shown)
		return;
	if (shown) {
		$('#plan-'+shown+'-hrs').hide();
		$('#plan-'+shown).hide();
		$('#planhead-'+shown).hide();
	}
	if (shown == id) {
		shown = null;
		return;
	}
	$('#plan-'+id+'-hrs').show(); 
	$('#plan-'+id).show(); 
	$('#planhead-'+id).show();

	$('#plan-'+id+'-hrs').css({
		width:($('#plan-'+id+'-hrs tr th').width() + 8) + 'px',
		overflow:'hidden',
		marginRight: '-1px',
	});
	$('#plan-'+id+'-hrs')[0].scrollLeft=-($('#plan-'+id).width());
	 
	shown = id;
};

$(function(){
	$("#day-selector a").click(function(ev) {
		var link = ev.target;
		show(link.hash.replace(/^#/,''))
	});

	var firstid = $('#day-selector a')[0].hash;
	if (window.location.hash)
		firstid = window.location.hash; 
	show(firstid.replace(/^#/,''));
	$('.con-plan-container-container').css({marginRight: -parseInt($('#container').prop('offsetLeft'))});
})
</script>

{% include 'convention/shopping-footer' %}
