{% include 'convention/shopping-cart' %}

{{header.post_content|raw}}

<p id="day-selector">
{% for day in datelist %}
	<a href="#{{day.start|date('d-m-y')}}" id="link-{{day.start|date('d-m-y')}}">{{day.start|hdate("D d/m")}}</a>
{% endfor %}
</p>
<p class="event-legend">
{% for event_type in event_types %}
	<a href="/2015/כנס-ביגור/רשימת-ארועים?filter={{event_type.title|e}}">
	<span class="event-type-legend event-type-{{event_type.key}}"><span class="box"></span>{{event_type.title}}</span>
	</a>
{% endfor %}
</p>
<p>
	<a href="#" onclick="$('#eventfilter').val('תג:משחק-היכרות');runSearch();return false;">
	<span class="event-type-legend"><span class="box"></span>משחק היכרות</span>
	</a>
	<a href="#" onclick="$('#eventfilter').val('תג:מתאים-לילדים');runSearch();return false;">
	<span class="event-type-legend"><span class="box"></span>מתאים לילדים</span>
	</a>
</p>

<div class="con-plan-container-container"><div class="con-plan-container">
<!--  event table  -->
<table class="con-plan">
	{% for day in datelist %}
	<thead id="planhead-{{day.start|date('d-m-y')}}" style="display: none;">
		<tr> <!-- locations -->
			<th class="hour-field"></th>
			{% for location in day.locations %}
			<th class="{% if loop.index is odd %}alt{% endif %}" colspan="{{location.concurrency}}">
				{{location}}
			</th>
			{% endfor %}
			<th class="hour-field"></th>
		</tr>
	</thead>
	<tbody class="day-plan" id="plan-{{day.start|date('d-m-y')}}" style="display: none;">
		{% for timeslot in day.start..day.end if timeslot is divisibleby(1800) %}
			<tr class="{%if loop.index is even %}alt{% endif %}">
				<th class="hour-field">{{timeslot|date("H:i")}}</th>
				{% for location in day.locations %}
					{% for conc in 1..location.concurrency %}
						<!-- {{location}} {{conc}} -->
						{% set event_in_time = location.getEvent(conc, timeslot) %}
						{% if not event_in_time %} {# no event #}
							<td class="no-event-spacer"></td>
						{% elseif event_in_time.start != timeslot %}{# event in progress - show nothing #}
						{% else %}
							<td rowspan="{{ event_in_time.length / 1800 }}" class="event event-type-{{event_in_time.type.type.key}}">
								<div class="eventbox" onclick="window.location.href='/2015/כנס-ביגור/ארוע?id=/{{event_in_time.id}}';"><a href="/2015/כנס-ביגור/ארוע?id=/{{event_in_time.id}}">
									{{event_in_time.title}}
								</a>{% if user.isAdmin() %}[{{event_in_time.registered_tickets}}]{% endif %}</div>
							</td>
						{% endif %}
					{% endfor %}
				{% endfor %}
				<th class="hour-field">{{timeslot|date("H:i")}}</th>
			</tr>
		{% endfor %}
	</tbody>
	{% endfor %}
</table>
</div></div>

<script>
var shown = null;
var show = function(id) {
	if (id == shown)
		return;
	if (shown) {
		$('#plan-'+shown).hide();
		$('#planhead-'+shown).hide();
		$("#day-selector a#link-" + shown).removeClass('disabled',false);
	}
	if (shown == id) {
		shown = null;
		return;
	}
	$('#plan-'+id).show(); 
	$('#planhead-'+id).show(); 
	$("#day-selector a#link-"+id).addClass('disabled',true);
	shown = id;
};

$(function(){
	$("#day-selector a").click(function(ev) {
		var link = ev.target.hash.replace(/^#/,'');
		show(link);
	});

	var firstid = $('#day-selector a')[0].hash;
	if (window.location.hash)
		firstid = window.location.hash; 
	show(firstid.replace(/^#/,''));

	$('.con-plan-container-container').css({marginRight: -parseInt($('#container').prop('offsetLeft'))});
})
</script>

{% include 'convention/shopping-footer' %}
