<script type="text/javascript">
var hideeventdescs = {};
var eventdata = {};
var $ = jQuery;
var fromHTML = function(html) {
	return $('<div />').html(html).text();
};
</script>

{% include 'convention/shopping-cart' %}

<p class="event-legend">
{% for event_type in event_types %}
	<a href="#" onclick="$('#eventfilter').val('{{event_type.title}}');runSearch();return false;">
	<span class="event-type-legend event-type-{{event_type.key}}"><span class="box"></span>{{event_type.title}}</span>
	</a>
{% endfor %}
</p>
<p>
	<a href="#" onclick="$('#eventfilter').val('תג:משחק-היכרות');runSearch();return false;">
	<span class="event-type-legend"><span class="box"></span>משחק היכרות</span>
	</a>
	<a href="#" onclick="$('#eventfilter').val('תג:מתאים-לילדים');runSearch();return false;">
	<span class="event-type-legend"><span class="box"></span>מתאים לילדים</span>
	</a>
</p>

<table class="con-plan">
	<thead>
		<tr>
			<th>שם ארוע</th>
			<th>סוג</th>
			<!-- th class="mobile-optional">שיטת משחק</th -->
			<th class="mobile-optional">
				תיאור
			</th>
			<th>מנחה</th>
			<th>
				<select id="datefilter">
					<option value="">זמן</option>
					<option value="05-04-2015">יום א</option>
					<option value="06-04-2015">יום ב</option>
				</select>
			</th>
		</tr>
	</thead>
	<tbody class="table-search">
		<tr>
			<th colspan="5">
				<table style="width: 100%; border:0;"><tbody><tr style="border:0;"><td style="border: 0;" class="single-row">
				<input type="text" id="eventfilter" placeholder="חפש ארועים:" style="	width: 100%; padding: 0 6px 0 0;">
				<img src="/controll/images/clear.png" title="איפוס" style="margin-right: -30px"/>
				</td><td style="border: 0; width: 8em;">
				<select id="tagfilter" style="width: 100%;">
					<option value="">חיפוש לפי תג</option>
					{% for title,key in tag_list %}
					<option value="{{key}}">{{title}}</option>
					{% endfor %}
				</select>
				</td></tr></tbody></table>
			</th>
		</tr>
	</tbody>
	<tbody>
		{% for event in events %}
			<tr class="{#
				#}{%if loop.index is even %}alt{% endif %}{#
				#}{% if event.available_tickets is not null and event.available_tickets <= 0 %}event-full{%endif%}{#
				#}" id="event-{{event.id}}">
				<td><a href="?show_event={{event.id}}">{{event.event.title}}</a>
					{% if event.available_tickets is not null and event.available_tickets <= 0 %}
					<img src="/controll/images/locked.png" title="הארוע מלא - נגמרו הכרטיסים"/>
					{% endif %}
					{% if user.isAdmin() %}[{{event.registered_tickets}}]{% endif %}
				</td>
				<td class="single-row">{{event.event.type.title}}</td>
				<!-- td class="mobile-optional">{{event.rule_system.title}}</td -->
				<td class="mobile-optional">
					<div class="pop-up" id="event-{{event.id}}-description-pop">
					{{event.event.description|nl2br|markdown}}
					{% if event.event.tags %}<p>תגים: {{event.event.tags}}</p>{% endif %}
					</div>
					<div class="single-row" id="event-{{event.id}}-description-tease">
					{{event.event.description|markdown}}
					{% if event.event.tags %}<p>תגים: {{event.event.tags}}</p>{% endif %}
					</div>
				</td>
				<td class="single-row">{% 
					for user in event.users.find_all()
					%}{{user.first_name}} {{user.last_name}}{% if not loop.last %}<br/>{% endif %}{% 
					endfor 
					%}
				</td>
				<td class="single-row">{{event.start|hdate("D H:i")}}-{{event.end|hdate("H:i")}}</td>
			</tr>
			<script type="text/javascript">
			eventdata['{{event.id}}'] = {
					title: fromHTML('{{event.event.title}}'),
					rule_system: fromHTML('{{event.rule_system.title}}'),
					description: fromHTML('{{event.event.description|replace({'\n':'\\n'})}}'),
					hosts: fromHTML('{% for user in event.users.find_all() %}{{user.first_name}} {{user.last_name}} {% endfor %}'),
					tags: fromHTML('{{event.event.tags}}'),
					type: fromHTML('{{event.event.type.title}}'),
					query_tags: fromHTML('{{event.event.tags}}').split(/\s*,\s*/).map(function(t){ return t.replace(/\s+/g,'-'); }),
					date: '{{event.start|date("d-m-Y")}}',
					};
			$('#event-{{event.id}}-description-tease').mouseenter(function(){
				var elt, hasOverflow = (elt = $('#event-{{event.id}}-description-tease')).innerWidth() < elt[0].scrollWidth;
				if (!hasOverflow)
					return; 
				$('#event-{{event.id}}-description-pop').show();
				if (hideeventdescs['{{event.id}}'])
					window.clearTimeout(hideeventdescs['{{event.id}}']);
				hideeventdescs['{{event.id}}'] = window.setTimeout(function() {
					$('#event-{{event.id}}-description-pop').hide(); }, 1500);			
			});
			$('#event-{{event.id}}-description-pop').mouseenter(function() {
				if (hideeventdescs['{{event.id}}'])
					window.clearTimeout(hideeventdescs['{{event.id}}']);
				hideeventdescs['{{event.id}}'] = undefined;
			});
			$('#event-{{event.id}}-description-pop').mouseleave(function(){ 
				$('#event-{{event.id}}-description-pop').hide();
			});
			$('#event-{{event.id}} a').click(function(e){ e.stopPropagation(); return true;});
			$('#event-{{event.id}}').click(function(){ window.location.href='?show_event={{event.id}}'; });
			</script>
		{% endfor %}
	</tbody>
</table>

<script type="text/javascript">
var datefilter = '';

var showAll = function() {
	var alt = true;
	for (var eventid in eventdata) {
		$('#event-' + eventid).removeClass('alt');
		$('#event-' + eventid).show();
		if (alt = !alt)
			$('#event-' + eventid).addClass('alt');
	}
}

var showOnly = function(events) {
	var alt = true;
	for (var eventid in eventdata) {
		$('#event-' + eventid).removeClass('alt');
		if (events.indexOf(eventid) < 0) {
			$('#event-' + eventid).hide();
		} else {
			$('#event-' + eventid).show();
			if (alt = !alt)
				$('#event-' + eventid).addClass('alt');
		}
	}
};

Array.prototype.unique = function() {
    return this.reduce(function(p, c) {
        if (p.indexOf(c) < 0) p.push(c);
        return p;
    }, []);
};

var matchEvent = function(event, args) {
	for (var stype in args) {
		if (stype == 'tag') {
			if (args[stype] && event.query_tags.indexOf(args[stype]) < 0)
				return false;
		} else if (stype == 'text') {
			var search = args[stype].trim();
			if (search == '') continue; // empty text always wins
			for (var field in event) {
				var data = event[field];
				if (typeof data != 'string')
					continue;
				if (data.toLowerCase().indexOf(search.toLowerCase()) >= 0)
					return true;
			}
			return false; // didn't find a field to match my text
		}
	}
	return true;
};

var filterEvents = function(events, args) {
	var outevents = [];
	for (var eventid in events) {
		if (datefilter != '' && events[eventid].date != datefilter)
			continue;
		if (matchEvent(events[eventid], args))
			outevents[eventid] = events[eventid];
	}
	return outevents;
};

var eventSearch = function(text) {
	text = text.trim();
	var events = eventdata;
	// love tag search
	var tagToMatch;
	text = text.replace(/תג:(\S*)/,function(m,val){ tagToMatch = val; return ''; });
	events = filterEvents(events,{tag: tagToMatch, text: text});
	showOnly(Object.keys(events));
}

var runSearch = function() { eventSearch($('#eventfilter').val()); };

$(function(){
	$('#eventfilter').val('');

	$('#eventfilter').keyup(function(){ 
		$('#tagfilter').val(null); 
		runSearch();
	});
	$('.table-search img').click(function() { 
		$('#eventfilter').val(''); showAll();
		$('#eventfilter').focus(); 
		$('#tagfilter').val(null);
		$('#datefilter').val(null);
	});
	
	var taglist = window.location.search.replace(/^\?/,'').split('&').filter(function(a){ kv = a.split('='); return kv[0] == 'tag';  }).map(function(a){ kv = a.split('='); return decodeURIComponent(kv[1]);});
	var filterlist = window.location.search.replace(/^\?/,'').split('&').filter(function(a){ kv = a.split('='); return kv[0] == 'filter';  }).map(function(a){ kv = a.split('='); return decodeURIComponent(kv[1]);});
	if (taglist.length) {
		$('#eventfilter').val('תג:' + taglist[0]);
		$('#tagfilter').val(taglist[0]);
		runSearch();
	}
	if (filterlist.length) {
		var val = $('#eventfilter').val();
		val = filterlist[0] + (val ? ' ' + val : '');
		$('#eventfilter').val(val);
		runSearch();
	}
	
	$('#datefilter').change(function(){
		datefilter = $(this).val(); 		
		runSearch();
	});
	
	$('#tagfilter').change(function(ev){
		var cursearch = $('#eventfilter').val().replace(/תג:(\S*)/, '');
		$('#eventfilter').val(cursearch + ' תג:' + $(this).val());
		runSearch();
	});
});
</script>

{% include 'convention/shopping-footer' %}
