<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
	<channel>
		<title>{{convention.title}}</title>
		<atom:link href="http://giborim.org.il/c/{{convention.key}}/feed/articles" rel="self" type="application/rss+xml" />
		<link>http://giborim.org.il/c/{{convention.key}}</link>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
		{% for post in articles %}<item>
			<title>{{post.post_title}}</title>
			<link>http://giborim.org.il/articles/{{post.post_name}}</link>
			<pubDate>{{post.post_date}}</pubDate>
			<dc:creator>{{post.post_author.nickname[0]}}</dc:creator>
			<guid isPermaLink="true">http://giborim.org.il/articles/{{post.post_name}}</guid>
			<description><![CDATA[{{post.post_excerpt}}]]></description>
		</item>{% endfor %}
	</channel>
</rss>
