<header class="entry-header full">
	<h2 class="entry-title"><a href="/controll/articles" title="{{title}}" rel="bookmark">{{title}}</a></h2>
</header>

<!-- .entry-content -->        	
<div id="grid-wrap" class="clearfix">
{% for article in articles %}
	{{article|raw}}
{% endfor %}
</div>
