<header class="entry-header full ">
	<h2 class="entry-title"><a href="/controll/{{post.post_name}}" title="Permalink to {{post.post_title}}" rel="bookmark">{{post.post_title}}</a></h2>
</header>

<h3>{{post.post_excerpt}}</h3>

<article id="post-{{post.ID}}" class="post-{{post.ID}} post full type-page status-publish format-standard hentry">
	<div class="post_content">
		{% if post.image %}
		<div class="grid-box-img page-type{{post.post_type}}">
			<img src="{{post.image}}" class="large"/>
		</div>
		{% endif %}

		{{post.post_content|raw}}
	</div>
</article><!-- #post-{{post.ID}} -->
