<!DOCTYPE html>
<html lang="he">
<head>
<meta charset="UTF-8">
<style>

HTML, BODY, P, TABLE {
	direction: rtl;
	text-align: right;
}

TABLE {
	width: 100%;
	border-collapse: collapse;
}

TABLE, TR {
	border: solid black 1px;
}

.alt {
	background-color: #eee;
}

</style>
</head>
<body>

<h1>הזמנת רישום טלפוני</h1>

<dl>
<dt>לקוח</dt><dd>{{user.first_name}} {{user.last_name}}</dd>
<dt>דוא"ל</dt><dd><a href="mailto:{{user.email}}">{{user.email}}</a></dd>
<dt>טלפון</dt><dd>{{user.phone}}</dd>
</dl>

<div class="reg-list">
	<table>
	<thead>
	<tr>
			<th>ארוע</th><th>כמות</th><th>עלות</th>
	</tr>
	</thead>
	<tbody>
	{% for reg in registrations %}
		<tr class="{% if loop.index is odd %}alt{% endif %}">
			{% if reg.event %}
			<td><a href="http://www.bigor.org.il/2015/כנס-ביגור/ארוע?id=/{{reg.event.id}}">{{reg.event.title}}</a></td>
			{% else %}
			<td><a href="http://www.bigor.org.il/2015/shop/{{reg.sku.merchandise.key}}">{{reg.description}}</a></td>
			{% endif %}
			<td>{{reg.amount}}</td>
			<td>₪{{reg.price}}</td>
		</tr>
	{% endfor %}
	</tbody>
	<tfoot>
	{% if discount > 0 %}
	<tr>
		<th colspan="2">הנחה</th>
		<td>₪ -{{discount}}</td>
	</tr>
	{% endif %}
	<tr>
		<th colspan="2">סה"כ</th>
		<td>₪{{total}}</td>
	</tfoot>
	</table>
</div>

<p>
<a href="http://www.bigor.org.il/controll/admin/cancel-phone-pending?userid={{user.id}}">בטל הזמנה</a>
</p>

<p>
<a href="http://www.bigor.org.il/controll/admin/approve-phone-pending?userid={{user.id}}">אשר הזמנה</a>
</p>

</body>
</html>
