<h1>תודה על הזמנת הכרטיסים הטלפונית</h1>

<p>נציגנו יצרו איתך קשר בקרוב, במספר הטלפון או הדואר האלקטרוני שציינת ברישום</p>

<div class="reg-list">
	<table>
	<caption>פרטי הזמנה</caption>
	<thead>
	<tr>
			<th>שם</th><th>כמות</th><th>עלות</th>
	</tr>
	</thead>
	<tbody>
	{% for reg in registrations %}
		<tr>
			{% if reg.event %}
			<td><a href="/2015/כנס-ביגור/ארוע?id=/{{reg.event.id}}">{{reg.event.title}}</a></td>
			{% else %}
			<td><a href="/controll/shop/{{reg.sku.merchandise.key}}">{{reg.description}}</a></td>
			{% endif %}
			<td>{{reg.amount}}</td>
			<td>₪{{reg.price}}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
