<h1>תודה על הזמנת הכרטיסים</h1>

<p>צפה לדוא"ל עם מספר האישור ורשימת הכרטיסים. לנוחותך, להלן כל הכרטיסים שהזמנת:</p>

<div class="reg-list">
	<table>
	<caption>פרטי הזמנה</caption>
	<thead>
	<tr>
			<th>שם</th><th>כמות</th><th>עלות</th><th>קוד אישור</th>
	</tr>
	</thead>
	<tbody>
	{% for reg in user.fulfilled_transactions %}
		<tr>
			{% if reg.event %}
			<td><a href="/2015/כנס-ביגור/ארוע?id=/{{reg.event.id}}">{{reg.event.title}}</a></td>
			{% else %}
			<td><a href="/controll/shop/{{reg.sku.merchandise.key}}">{{reg.description}}</a></td>
			{% endif %}
			<td>{{reg.amount}}</td>
			<td>₪{{reg.price}}</td>
			<td>{{reg.authcode}}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
