<!DOCTYPE html>
<html lang="he">
<head>
<meta charset="UTF-8">
<style>

HTML, BODY, P, TABLE {
	direction: rtl;
	text-align: right;
}

TABLE {
	width: 100%;
	border-collapse: collapse;
}

TABLE, TR {
	border: solid black 1px;
}

.alt {
	background-color: #eee;
}

</style>
</head>
<body>

<h1>אישור הרשמה לארועי כנס ביגור</h1>

<p>להלן פרטי הרישום לארועים שהזמנת בכנס:</p>

<div class="reg-list">
	<table>
	<thead>
	<tr>
			<th>ארוע</th><th>כמות</th><th>עלות</th><th>קוד אישור</th>
	</tr>
	</thead>
	<tbody>
	{% for reg in registrations %}
		<tr class="{% if loop.index is odd %}alt{% endif %}">
			{% if reg.event %}
			<td><a href="http://www.bigor.org.il/2015/כנס-ביגור/ארוע?id=/{{reg.event.id}}">{{reg.event.title}}</a></td>
			{% else %}
			<td><a href="http://www.bigor.org.il/2015/shop/{{reg.sku.merchandise.key}}">{{reg.description}}</a></td>
			{% endif %}
			<td>{{reg.amount}}</td>
			<td>₪{{reg.price}}</td>
			<td>{{reg.authcode}}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div>

<p>
<a href="http://www.bigor.org.il/2015/כנס-ביגור/הכרטיסים-שלי/">
את פרטי כל ההזמנות שלך ניתן לראות באתר ביגור
</a>
</p>

<p>
בהגיעך לכנס, יש להציג הדפסה של רשימת ההזמנות (המצורפת להלן או מעמוד פרטי ההזמנות באתר)
כדי לקבל את כרטיס כניסה.
</p>

</body>
</html>