<div class="reg-list">
	{% set subscribed = user.fulfilled_registrations.find_all().as_array() %}

	{% if subscribed %}
	<table>
	<caption>פרטי רישום של {{user.fullname}}</caption>
	<thead>
	<tr>
			<th>ארוע</th><th>כמות</th><th>עלות</th><th>קוד אישור</th><th>מקום</th><th>זמן</th>
	</tr>
	</thead>
	<tbody>
	{% for reg in subscribed %}
		<tr class="{% if loop.index is odd %}alt{% endif %}">
			<td><a href="/2015/כנס-ביגור/ארוע?id=/{{reg.event.id}}">{{reg.event_occurrence.event.title}}</a></td>
			<td>{{reg.amount}}</td>
			<td>{{reg.price}}</td>
			<td>{{reg.authcode}}</td>
			<td>{{reg.event_occurrence.location}}</td>
			<td>{{reg.event_occurrence.start|hdate("D H:i")}}-{{reg.event_occurrence.end|hdate("H:i")}}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
	{% endif %}

	{% set hosting = user.hosted_events.order_by('event_occurrence.start').find_all().as_array() %}
	{% if hosting %}
	<table>
	<caption>ארועים בהנחיית {{user.fullname}}</caption>
	<thead>
	<tr>
			<th>ארוע</th><th>מקום</th><th>זמן</th>
	</tr>
	</thead>
	<tbody>
	{% for event in hosting %}
		<tr class="{% if loop.index is odd %}alt{% endif %}">
			<td><a href="/2015/כנס-ביגור/ארוע?id=/{{event.id}}">{{event.title}}</a></td>
			<td>{{event.location}}</td>
			<td>{{event.start|hdate("D H:i")}}-{{event.end|hdate("H:i")}}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
	{% endif %}

	{% set orders = user.fulfilled_orders.as_array() %}
	{% if orders %}
	<table>
	<caption>הרכישות של {{user.fullname}}</caption>
	<thead>
	<tr>
			<th>פריט</th>
	</tr>
	</thead>
	<tbody>
	{% for order in orders %}
		<tr class="{% if loop.index is odd %}alt{% endif %}">
			<td>{{order.description}}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
	{% endif %}

</div>

{% if print %}
<script type="text/javascript">$(function(){window.print();window.close();});</script>
{% else %}
<p style="float: left">
<button type="none" onclick="window.open('/controll/events/print', 'printview','menubar=no,location=no,resizable=no,scrollbars=yes,status=no,width=800,height=600');">
<img src="/controll/images/print.png">הדפס</a>
</button>
</p>
{% endif %}
