{% set regs = user.pending_registrations %}
{% set orders = user.pending_orders %}
{% if (regs.count() + orders.count()) > 0 %}
{% set total = 0 %}
{% set remaining_credit = 0 %}
<aside class="checkout-cart">

<table>
<caption>כרטיסים לארועים שהוזמנו</caption>
<thead>
	<tr>
		<th>ארוע</th><th>כמות</th><th>עלות</th>
	</tr>
</thead>
<tbody>
	{% for reg in regs %}
	{% set total = total + reg.price %}
	<tr>
		<td>
			<a href="/controll/event/{{reg.event_occurrence.id}}/unregister?regid={{reg.id}}" title="בטל הזמנה"><img src="/controll/images/action-delete.png"></a>
			{{reg.event.title}}
			{% if reg.status_text != 'עגלת קניות' %}
			(בתהליך רכישה - יש למחוק כדי להזמין מחדש)
			{% endif %}
		</td>
		<td>{{reg.amount}}</td>
		<td dir="ltr">₪{{reg.price}}</td>
	</tr>
	{% endfor %}

	{% for order in orders %}
	{% set total = total + order.price %}
	<tr>
		<td>
			<a href="/controll/shop/{{order.sku.merchandise.key}}/cancel?id={{order.id}}" title="בטל הזמנה"><img src="/controll/images/action-delete.png"></a>
			{{order.description}}
			{% if order.status_text != 'עגלת קניות' %}
			(בתהליך רכישה - יש למחוק כדי להזמין מחדש)
			{% endif %}
		</td>
		<td>{{order.amount}}</td>
		<td dir="ltr">₪{{order.price}}</td>
	</tr>
	{% endfor %}

	{% if user.discount %}
	{% set discount = user.discount %}
	{% if total < discount %}
		{% set remaining_credit = discount - total %}
		{% set discount = total %}
	{% endif %}
	{% set total = total - discount %} 
	<tr>
		<td>הנחת קופון</td>
		<td></td>
		<td dir="ltr">₪-{{"%.2f"|format(discount)}}</td>
	</tr>
	{% endif %}
</tbody>
<tbody>
	<tr>
		<th colspan="2">סה&quot;כ</th>
		<th>₪{{"%.2f"|format(total)}}</th>
	</tr>
</tbody>
</table>
<footer>ההזמנה לא הושלמה. לחצו "אישור" כדי לאשר את ההזמנה ולעבור לדף התשלום.</footer>
<form method="post" action="?id=/{{event.id}}" id="shopping-cart-checkout">
	<input type="hidden" name="action" value="checkout"/>
	<button id="checkout-button" type="submit">אישור הזמנה<img src="/controll/images/cc_generic.png"><img src="/controll/images/cc_paypal.png"></button>
	{#
	<button id="checkout-button-phone" type="button">הזמנה טלפונית<img src="/controll/images/phone-icon.png"></button>
	<div id="phone-checkout-data" style="display: none;">
	התשלום בהזמנה טלפונית מתבצע בעזרת הצוות שלנו שיצור איתך קשר בהקדם האפשרי, במספר הטלפון
	המופיע להלן. יש לוודא שמספר הטלפון נכון ואז ללחוץ על כפתור האישור
	<input type="text" name="userphone" value="{{user.phone}}" placeholder="מספר טלפון" style="width: 16em; margin-bottom:0;">
	<button type="submit" name="type" value="phone" style="float:none;">אישור</button>
	</div>
	<script type="text/javascript">
	$('#checkout-button-phone').click(function(){
		$('#phone-checkout-data').show();
	});
	</script>
	#}
</form>
<div class="loading-anim"><img src="/controll/images/loading.gif"></div>
{% if remaining_credit > 0 %}
	<footer>יתרת זכות בקופון: ₪{{"%.2f"|format(remaining_credit)}}</footer>
{% endif %}
</aside>

<script type="text/javascript">
$(function(){
    $('#shopping-cart-checkout').submit(function() {
	if ($('#checkout-button').prop('disabled'))
		return;
	$('#checkout-button').prop('disabled', true);
	//$('#checkout-button-phone').prop('disabled', true); // dont disable phone checkout button, otherwise the value is not sent
	$('.loading-anim').show();
	return true;
    });
});
</script>
{% endif %}
