{% include 'convention/shopping-cart' %}

<article class="event-details">

	<h1>הזמנת {{item.title}}</h1>
	
	<dl>
	<dt>מחיר</dt>	<dd>{{item.price}}</dd>
	</dl>

	{{item.description|markdown}}

	{% if item.active %}	
	{%if user %}
		<a id="purchase">הזמנה</a>
		<div id="register">
			<form method="post" action="/2015/כנס-ביגור/מוצר?id=/{{item.key}}&action=order" class="reg-list">
				{% for feature in item.features.find_all() %}
				<label for="feature-{{feature.id}}">{{feature.type}}</label>
				<select name="feature-{{feature.id}}">
					<option value="">בחר {{feature.type}}:</option>
					{% for property in feature.get_sku_properties() %}
					<option value="{{property}}">{{property}}</option>
					{% endfor %}
				</select>
				{% endfor %}
				<!-- input name="size" type="text" placeholder="גודל" -->
				<label for="amount" class="as-placeholder">כמות</label>
				<input name="amount" type="number" value="1" min="1">
				<button type="submit">הזמן</button>
			</form>
			<script type="text/javascript">
			$('form.reg-list').submit(function(){
				var ok = true;
				$('form.reg-list select, form.reg-list input').each(function(){
					if (!$(this).val())
						ok = false;
				});
				if (!ok) {
					alert('יש למלא את כל השדות');
				}
				return ok;
			});
			</script>
		</div>
	{% else %}
	<a href="#purchase" onclick="showAuthenticateDialog('http://www.bigor.org.il/2015/כנס-ביגור/מוצר?id=/{{item.key}}#purchase'); return false;">הרשמה לצורך רכישה</a>
	{% endif %}	
	{% endif %}

	{% if user.isAdmin() %}
		<p>נרכשו {{item.orders}} פריטים</p>
		{% set orders = item.orders.find_all() %}
		{% if not (orders is empty) %}
		<table class="admin">
		<thead>
			<tr><th>שם</th><th>תאריך</th><th>כמות</th><th>עלות</th><th>SKU</th><th>מצב</th><th>קוד אישור</th><th>פרטים</th></tr>
		</thead>
		<tbody>
			{% for order in orders %}
			<tr>
				<td>
					<span dir="rtl">
					<a href="mailto:{{order.user.email}}">{{order.user.fullname}}</a>
					</span>
					({{order.user.phone}})
				</td>
				<td>{{order.ordered|date("d/m H:i")}}</td>
				<td>{{order.amount}}</td>
				<td>{{order.price}}</td>
				<td>{{order.sku}}</td>
				<td>{{order.status_text}}</td>
				<td>{{order.authcode}}</td>
				<td>{{order.user_notes}}</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
		{% endif %}
	{% endif %}

</article>

<ul class="link-bar">
{% if user.isAdmin() %}
	<li><a href="/controll/admin/edit-item?item_id={{item.id}}">ערוך</a></li>
{% endif %}
</ul>

{% include 'convention/shopping-footer' %}
