<header class="entry-header full">
	<h2 class="entry-title"><a href="/controll/" title="{{title}}" rel="bookmark">{{title}}</a></h2>
</header>

<!-- .entry-content -->        	
<div id="grid-wrap" class="clearfix">
{% for article in articles %}
	{{article|raw}}
{% endfor %}
</div>

<!-- div id="map-canvas" style="height: 250px; width: 100%; padding-left: 5px;"></div -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d845.4358607999973!2d34.786668123012156!3d32.04913511345412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4b69bfcf8fc5%3A0xcfd751ac9af6209e!2sBeit+Dani!5e0!3m2!1sen!2s!4v1389458736472" height="250" style="border:0; width: 100%;"></iframe>
<script>
function startgmaps() {
	return;
	var conLocation = new google.maps.LatLng(32.04905, 34.78670);
	var map = new google.maps.Map(document.getElementById("map-canvas"), { 
          center: conLocation,
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          overviewMapControl: true,
          zoomControl: true,
          zoomControlOptions: {
            style: google.maps.ZoomControlStyle.LARGE
          },
        });
        
	var marker = new google.maps.Marker({ position: conLocation, map: map, title:"בית דני", animation: google.maps.Animation.DROP });
	var infowindow = new google.maps.InfoWindow({ content: 'גיבורים<br/><em>בית דני, תל אביב</em>' });
	window.setTimeout(function() {infowindow.open(map, marker);},2500);
}

$(function(){ // async load the Google Maps API
	var script = document.createElement('script');
	script.type = 'text/javascript';
	script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAaTOoPESiZBN7Qq1_pB8GD8W_W3ruBa2s&sensor=false&callback=startgmaps';
	document.body.appendChild(script);
});
</script>