/*
Theme Name: Parabola
Theme URI: http://www.cryoutcreations.eu/parabola
Description:Welcome to a world of endless possibilities! Parabola awaits you with a huge assortment of theme settings that enable you to take a fully responsive, clean and elegant design to even newer heights. You can edit everything: all text and background colors, font families and sizes, site widths and layouts.  You also have the power to show or hide various elements of the design and choose from over 30 social media icons. Harnessing the power of HTML5 and CSS3 you will enjoy a great design, subtle animations, a great front page fully equipped with a slider, columns, textareas and shortcode support. Among other editable goodies you'll find featured images, post excerpts, post formats, Google fonts, magazine and blog layouts, 8 widget areas, translation support and much more.
Author: Cryout Creations
Author URI: http://www.cryoutcreations.eu
Version: 1.4.2
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: white, black, red, orange, gray, silver, light, dark, one-column, two-columns, three-columns, right-sidebar, left-sidebar, fixed-layout, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, front-page-post-form, full-width-template,  microformats, post-formats, rtl-language-support,  sticky-post, theme-options, threaded-comments, translation-ready
*/

/*
 * Copyright (c) 2013-14 Cryout Creations
 * http://www.cryoutcreations.eu
*/

/* 
IMPORTANT!

Any changes made to this or any other of the theme's files will be lost at the next update.

To safely make customizations to the theme, for CSS-only consider using the theme's dedicated 
"Custom CSS" field found under the Miscellaneous section of the theme settings page; 
for advanced CSS and other customizations, consider using a child theme.
*/



/******* BIGOR customized *******/


body #branding #logo {
	transform: none;
	-webkit-transform: none;
}

#prime_nav {
	margin-right: 0;
}

body #access {
	margin-top: 20px;
}

body .nivo-caption {
	opacity: 1;
	background-color: rgba(0,0,0,0.5);
}

body #front-text2 h1 {
	background: rgba(0,0,0,0.6);
	color: #fff;
	padding: 20px;
	margin: 0;
	width: 50%;
	text-align: right; 
}

body #front-text2 {
	background: url('http://www.bigor.org.il/2015/wp-content/uploads/splash.jpg') no-repeat;
	padding: 0;
	margin-bottom: 20px;
	overflow: hidden;
	text-align: left;
	background-size: cover;
	margin: 0 2px 22px;
	border: 10px solid #fff;
}


body .nav-previous a {
	width: auto;
	margin: 0 10px;
}

.Recently_Updated_Pages li.page_item {
	font-size: 12px;
	line-height: 14px;
}

.Recently_Updated_Pages li.page_item a {
	display: block;
	font-size: 14px;
}

body footer#footer[role="contentinfo"] {
	background: #131211;
}

body #footer2 {
	border: 0;
}

/******* Theme Styles *******/

@import url("fonts/fontfaces.css");

/* Reset default browser CSS */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
#content h1,#content h2,#content h3,#content h4,#content h5,#content h6 {
	clear: none;
}
#content .entry-content h1 { font-size: 32px; }
#content .entry-content h2 { font-size: 28px; }
#content .entry-content h3 { font-size: 24px; }
#content .entry-content h4 { font-size: 20px; }
#content .entry-content h5 { font-size: 16px; }
#content .entry-content h6 { font-size: 12px; }
ol, ul {
	list-style: none;
}

#frontpage blockquote {
	border : 1px solid transparent;
	padding:15px;
}

.entry-content blockquote {
	border-left : 5px solid transparent;
	padding:15px ;
	display:block;
	font-style: italic;
	margin:0 auto;
	clear:both;
	float:none;
	width:80%;
 }

#content blockquote p{
 margin-bottom:0;
 }

del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}


/* =Layout
-------------------------------------------------------------- */

#container {
	float: none;
	margin:0;
	width: 100%;
	margin-top:20px;
}
#content {
	margin-bottom: 0px;
}
.sidey {
	display:block;
	float: left;
}

#footer {
	clear: both;
	width: 100%;
}

/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url ,
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
input[type=submit] {
	/*font-family:Open Sans, Arial, sans-serif;*/
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace !important;
}
.entry-content pre {
border:5px dashed transparent;
}
.entry-content code {
    border: 1px solid transparent;
	background:url(images/code.png) repeat;
    clear: both;
    display: block;
    float: none;
    margin: 0 auto;
    overflow: auto;
    padding: 10px !important;
    text-indent: 0;
    white-space: nowrap;
}

/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
div.menu,
#colophon,
#branding,
#main,
#header {
	margin: 0 auto;
}

#branding {
	display:block;
	float:left;
	clear:both;
	height:75px;
	padding:0;
	position:relative;
	overflow:hidden;
	width:100%;
}

a#logo {
	display:inline;
	height:100%;
}

#linky {
	background-image: url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
	display:block;
	width:100%;
	height:100%;
}

#forbottom {
	min-height:200px;
}

/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}

.footerfour .widget-area {
	float: left;
	margin-right:2%;
	width: 23.5%;
}
.footerthree .widget-area {
	float: left;
	margin-right:2%;
	width: 32%;
}

.footertwo .widget-area {
	float: left;
	margin-right: 2%;
	width: 49%;
}

.footerone .widget-area {
	float: left;
	width: 100%;
}

.footertwo #second, .footerthree #third, .footerfour #forth {
	margin-right: 0%;
}

#footer-widget-area #fourth {
	margin-right: 0;
}

#site-generator {
	float: right;
	width: 220px;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
}

body,
input,
textarea {
	font-size: 12px;
	line-height: 18px;

}
hr {
	border: 0;
	clear: both;
	height: 1px;
}

/* Text elements */

.entry-content ul {
	margin-left:1.5em;
}

.entry-content ul li,
.entry-content ol li {
	padding:2px 0;
}

.entry-content ul > li {
list-style:square;
}

.entry-content ol > li {
	text-indent:0px;
}

.entry-content  li li {
margin-left:15px;
}

ol {
	list-style: decimal;
	margin-left: 1.5em;

}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}

strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	text-decoration: none;
}
pre {
	line-height: 18px;
	padding: 1.5em;
	border:1px dashed transparent;
}
abbr,
acronym {
	border-bottom: 1px dotted transparent;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;

	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"], input[type="password"], input[type="email"], input[type="file"], textarea, select,
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"],
input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"]{
	border: 1px solid transparent;
	padding:5px 5px;
	transition:background-color .2s;
}
input[type="file"] { border-color: transparent !important; }

a:link,a:visited  {
    text-decoration:none;
}


/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}


/* =Header
-------------------------------------------------------------- */

#header {
	background:none;
}
#site-title {
	float: left;
	font-size: 32px;
	line-height: 32px;
}
#site-title a {
	font-weight: bold;
	text-decoration: none;
    letter-spacing: -0.03em;
	display:block;
	text-transform:uppercase;
}
#site-description {
	display:inline;
	float: left;
	font-size: 15px;
	margin-top:5px;
	padding:3px 6px 3px 0;
	clear:both;
	text-transform:uppercase;
}

#header-container {
	display:block;
	float:none;
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
}

#header-container > div {
	margin-top:20px;
}
	
/* Header widget area
-------------------------------------------------------------- */

#header-widget-area {
    display: block;
    right: 0;
	top:5px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 33%;
    z-index: 251;
}

body #header-widget-area ul.yoyo > li { 
	border: none;
	background: none;
}

/* =Menu -PRIMARY
-------------------------------------------------------------- */

#nav-toggle { display: none; }

#access {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	margin: 10px auto 0;
}

#access ul {
}

 #access  ul  li.current_page_item,  #access ul li.current-menu-item  {

}

#access a {
	display:block;
	text-decoration: none;
	font-size:13px;
	text-transform:uppercase;
	transition:all .3s ease-in-out;
}

#access a span {
	display:block;
	padding:7px 13px;
}

#access a:hover {

}

#access ul li {
position:relative;
display:block;
float:left;
margin-right:8px;
white-space: nowrap;
margin-bottom:10px;
}


#access > .menu > ul > li > a:after {
position:absolute;
content:"";
width:0px;height:0px;
right:0;bottom:0;
border-bottom:10px solid transparent;
border-left:6px solid transparent;
transition:border-color .25s linear;}


#access > .menu > ul ul:after {
position:absolute;
content:"";
width:0px;height:0px;
right:0;bottom:0;
border-bottom:10px solid transparent;
border-left:6px solid transparent;
transition:border-color .25s linear;
}

#access ul ul {
	display: none;
	position: absolute;
	clear:both;
	z-index: 250;
	margin-left:0px;
}
#access ul ul li { /* level 2 */
	margin:0;
    width: 100%; /* submenu width fix */
	position:relative;
	display:table;
	float:left;
	clear:both;
}

#access ul ul ul {
	position:absolute;
	left: 100%;
	top: 0px;
	margin:0;
}

#access ul ul ul li { /* level 3 */
     width: 100%;
	 display: block;
     float: none;
 }

#access ul ul a, #access ul ul ul a {
	display:table;
	float:none;

	min-width:150px;
	width:100%;
	}

#access ul ul li:hover, #access ul ul ul li:hover {
}

#access li:hover > a {
}

#access ul ul :hover > a {
}

#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-item > a{
}

#access ul ul li.current_page_item ,
#access ul ul li.current-menu-ancestor,
#access ul ul li.current-menu-item ,
#access ul ul li.current-menu-parent {
}

#access ul li.current_page_item a,
#access ul li.current-menu-ancestor a,
#access ul li.current-menu-item a,
#access ul li.current-menu-parent a,
#access ul li a:hover {
}

/* =Menu -SECONDARY
-------------------------------------------------------------- */

.topmenu {
overflow:hidden;
margin: 0 auto;
	}

.topmenu ul{
	margin:0;
	padding:0;
	float: right;
}

.topmenu ul li{
	display:block;
	float:left;
	margin:0 3px;
}

.topmenu ul li a {
display:block;
text-transform:uppercase;
padding:3px 5px;
}

.topmenu ul li a:before {
width:0;height:0;
position:relative;
content:"";
border-right:5px solid transparent;
border-top:5px solid transparent;
top:5px;
left:-3px;
transition:all .3s ease-in-out;
}

.footermenu {
	display:block;
	overflow:visible;
	float:none;
}

.footermenu {
	text-align:center;
	display:table;
	float:none;
	margin:0 auto;
}

.footermenu ul li{
	display:block;
	float:left;
	margin:0px 5px;
	text-align:center;
	white-space:nowrap;
}

.footermenu ul li a:after {
width:0;height:0;
position:relative;
content:"";
border-left:5px solid transparent;
border-bottom:5px solid transparent;
bottom:5px;right:-1px;
}

.footermenu a{
text-transform:uppercase;
}


/* =Content
-------------------------------------------------------------- */

#main {
	clear: both;
	padding: 0;
}

#content,
#content input,
#content textarea {
	font-size: 16px;
	line-height: 24px;
}

#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
	overflow:auto;
	font-family: "Courier New",Courier,monospace !important;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	line-height: 1.5em;
	margin:20px 0 0;
}

#content table {
	border: 0;
	margin: 0 0px 24px 0;
	text-align: left;
	width: 100%;
	vertical-align: top;
}
#content tr {
	vertical-align: top;
}
#content .alternate {
}


#content tr th,
#content thead th {
	font-size: 14px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid transparent;
	padding: 6px 24px;
	vertical-align:top;
}
#content tr.odd td {
}

.page-header {
	display:table;
	float:none;
	border-bottom:2px solid transparent;
	margin-bottom:10px;
	padding:10px 15px;
}

.page-header .category-archive-meta {padding-left:10px;}

.page-title {
	font-size: 14px;
	font-weight: bold;
	display:inline-block;
	padding:3px 10px;
}
.page-title span {
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
}
#content .entry-title {
	font-size: 32px;
	font-weight: normal;
	line-height: 1.3em;
	padding:0px;
	margin: 0px;
	word-wrap:break-word;
}
.entry-title a {
/*display: inline-block;*/
 }

.entry-title a:link,
.entry-title a:visited {
	color:inherit;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
}

#content > h1.entry-title {
	margin-bottom: 10px;
}

.entry-meta {
    display: block;
    font-size: 12px;
	clear:both;
}

.entry-meta:hover {
opacity:1;
}

.entry-meta span, .entry-utility span {
display:block;
float:left;
border:1px solid transparent;
margin-right:-1px;
padding:0px 7px;
text-transform:uppercase;
line-height:22px;
transition:background .5s ease-in-out;
}

.entry-meta span.bl_categ { max-width: 97%; }

.entry-utility {
	clear: both;
	font-size: 12px;
}

.footer-tags {display:inline;}

.entry-utility span.bl_bookmark {
float:none;display:inline;padding:0;
}

.entry-meta span.bl_sep {
display:none;
}

 .comments-link {
float:right;
height:25px;min-width:110px;
padding:0 15px 0 5px;
text-align:center;
margin-top:-22px;
margin-right:-22px;
position:relative;
opacity:0.8;transition:opacity 0.2s;
}

.comments-link:hover {
opacity:1;
}
.comments-link * {
font-size:12px;
}

.comments-link:before {
position:absolute;
content:"";
width:0px;height:0px;
left:-24px;top:0;
border-top:25px solid transparent;
border-left:25px solid transparent;
}

 .comments-link b {
font-size:12px;
}

 .comments-link span {
font-size:12px;
}

#content h3.entry-format {
display:inline;
float:left;
font-size:14px;
text-transform: uppercase;
border:1px solid transparent;
padding:0 5px;
line-height:22px;
height:22px;
}

.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted transparent;
}
.entry-content,
.entry-summary {
	clear: both;
	padding-top:8px;
	word-wrap:break-word;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid transparent;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {

}
.entry-content input.file,
.entry-content input.button {

}
.entry-content label {

}
.entry-content select {

}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}

.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}

.tag-links {
	margin-left:30px;
}

.page-link {
	margin: 20px 0 20px 0;
	clear:both;
    font-size: 12px;
    line-height: 13px;
	text-transform:uppercase;
}

 .page-link a, .page-link span {
	font-weight: normal;
	text-decoration: none;
}

.page-link em {
font-style:normal;
padding:2px 8px;
}

span.edit-link {
    border: 1px solid transparent;
    text-transform: uppercase;
	clear: both;
	float:right !important;
	display: block;
	background:none;
	margin:0;
	padding:0;
	font-size:12px;
}
span.edit-link a { padding:3px 16px; }

#author-info {
	border-top: 4px solid transparent;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: -10px 0 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}

#author-info #author-avatar {
	border: 7px solid transparent;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
}
#author-info #author-description {
	float: left;
	margin: 0 0 0 94px;
}

#entry-author-info {
	border-top: 4px solid transparent;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	border: 7px solid transparent;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 94px;
}
#entry-author-info h2 {
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}

#content .video-player {
	padding: 0;
}

/* POST FORMATS */

/* =Asides
-------------------------------------------------------------- */

.home #content .format-aside p,
.home #content .category-asides p {
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}

.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
	padding-top: 0;
}

#content .format-aside .entry-title {
	display:none;
}

#content .format-aside .author ,
#content .format-aside  .bl_categ,
#content .format-aside .bl_sep {
	display:none;
}


/**
 * 5.4 Galleries
 * ----------------------------------------------------------------------------
 */

.gallery {
	margin-bottom: 20px;
	margin-left: -4px;
}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
	display: table;
	margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
	text-align: center;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-caption {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
	line-height: 1.3;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 2px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	-webkit-transition: opacity 400ms ease;
	transition:         opacity 400ms ease;
	width: 100%;
	cursor: default;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}



/* =Chat
-------------------------------------------------------------- */
.format-chat p {
	font-family:Monaco, "Courier New", monospace !important;
}

/* =Quote
-------------------------------------------------------------- */
.format-quote blockquote,
.format-quote blockquote p{
	font-family: Georgia,"Bitstream Charter",serif !important;
	font-size:1.1em !important;
}


/* =Status
-------------------------------------------------------------- */

.format-status .entry-title {
	display:none;
}

.status_content {
}

.format-status .avatar {
	display:block;
	width:auto;
	float:left;
	margin:0 10px 10px 0;
}

/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
/*.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}*/


/* =Images
-------------------------------------------------------------- */

#content img {
	margin: 0;
	height: auto;
	max-width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

#content img:hover {
}

#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content img.alignleft,
#content img.alignright,
#content img.aligncenter {
	margin-bottom: 12px;
}

#content img.alignleft,
#content img.alignright,
#content img.aligncenter,
#content img.alignnone,
#content .wp-caption img {
	transition:all .3s ease-in-out;
	opacity:0.99;
	filter:alpha(opacity=99);
}

#content img.alignleft:hover,
#content img.alignright:hover,
#content img.aligncenter:hover,
#content img.alignnone:hover,
#content .wp-caption img:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
}
#content .wp-caption {
	line-height: 18px;
	margin-bottom: 20px;
	text-align: center;
	max-width:100%;
}
#content .wp-caption img {
	border:none !important;
	padding:0px;
    box-shadow: none !important;
	-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
	width: 100%;
}
#content .wp-caption p.wp-caption-text {
	font-size: 13px;
	margin: 0px;
	padding: 3px 5px 5px 5px;
	text-align:center;
	text-indent:0px;
	line-height: 1.5em;
}
#content .wp-smiley {
	margin: 0;
    -moz-box-shadow: none !important;
	-webkit-box-shadow: none !important ;
	box-shadow: none !important;
    background: none !important;
    border: 0 !important;
    vertical-align: middle;
}

#content .attachment img { /* single attachment images should be centered */
	display: block;
	margin: 0 auto;
	max-width:96%;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	font-size: 14px;
	overflow: hidden;

}
.navigation a:link,
.navigation a:visited {
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {

}
.nav-previous a{
	float: left;
	width: 47%;
	padding:5px 1%;

}
.nav-next a{
	float: right;
	text-align: right;
	width: 47%;
	padding:5px 1%;
}

 .nav-next a:hover {
}

.nav-previous a:hover {
}

.single #nav-above {
	display: block;
}
#nav-below {
	margin-bottom: 6px;
	margin-top:5px;
	display:block;
	float:none;
	clear:both;
	border:1px solid transparent;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	border:1px solid transparent;
	margin-top:-1px;
	padding:10px 20px;
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	font-size: 22px;
	margin-bottom: 0;
	text-transform:uppercase;
}
h3#comments-title {
	margin-top: 10px;
	margin-bottom:20px;;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	margin: 0;
	list-style:none;
	line-height:10px;
}

.commentlist li.comment:hover {
}

.commentlist .comment-body {
border:1px solid transparent;
padding:10px;
overflow:hidden;
clear:both;
line-height:22px;
margin-bottom:20px;
}

.commentlist li:last-child {
}
#comments .comment-body ul,
#comments .comment-body ol {
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	float:left;
}
.comment-author {
	display:inline-block;
	line-height:24px;
	transition:background .3s;
}

.comment-details {
	float:left;
	padding:0 10px;
	position:relative;
}

.comment-details:after {
content:"";
position:absolute;
top:0;
right:-20px;
width:0px;
height:0px;
border-left:20px solid transparent;
border-top:50px solid transparent;
transition:border-left-color .3s;
}

.comment-author cite {
	font-style: normal;
	font-weight: normal;
	text-transform:uppercase;
	font-size:18px;

}
.comment-meta {
	font-size: 12px;
}
.comment-meta a:link,
.comment-meta a:visited {
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .even {
}
.commentlist .bypostauthor {
}

.comment-await {
margin-left:25px;
}
.reply a{
	font-size: 12px;
	display:block;
	float:right;
	padding:2px 25px;
	margin:0 -11px -11px 0;
	border:1px solid transparent;
	text-transform:uppercase;
	transition:background .2s ease-in-out;
}

.reply a:hover {
}
.reply a,
a.comment-edit-link {
}

.reply a:hover,
a.comment-edit-link:hover {

}
.commentlist .children {
	background-image:none;
	list-style: none;
	margin: 0;
	margin-left:20px;
}
.commentlist .children li {
	border: none;
	background-image:none !important;
	margin: 0;
	text-indent:0px !important;
}


#content .nocomments, #content .nocomments2 {
margin-bottom:0;
}

.hideme {display:none;}

#comments .pingback {
	border-bottom: 1px solid transparent;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
}
#respond {
	margin: 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 0.2em;
	font-size:0.8em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
	min-width:400px;
}
h3#reply-title {
	margin: 0;
	padding:5px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
}

#commentform  {
	max-width:550px;
	display:block;
}

#respond label {
}

#respond input {
	margin: 0 0 9px;
	width:98%;
}

.comment-form-comment textarea {
	display:block;
	float:none;
	height:150px;
	width:98%
}

.comment-form-author label, .comment-form-email label, .comment-form-email label, .comment-form-url label, .comment-form-comment label {
display:block;
float:none;
}

.comment-form-author input, .comment-form-email input, .comment-form-email input, .comment-form-url input, .comment-form-comment input {
display:block;
float:none;
}

#respond input:hover, #respond textarea:hover {

}

#respond .form-allowed-tags {
	font-size: 12px;
	line-height: 18px;
	width: 100%;
	clear:both;
	display:block;
	float:none;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
	text-align:right;
	clear:both;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}

#respond .form-submit input#submit {
	border:1px solid transparent;
	padding:4px 7px;
	transition:background-color .2s;
}

#respond .form-submit input#submit:hover {
	cursor:pointer;
}

.file, .button {
	border:1px solid transparent;
	padding:4px 7px;
	transition:background-color .2s;
}

.file:hover, .button:hover {
	cursor:pointer;
}

/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul, .widget-area ul ul {
	list-style: none !important;
	list-style-image:none;
}

.widget-container {
	padding:10px;
	margin: 0 0 18px 0;
	border:1px solid transparent;
}

.widget-container > * {max-width:100%;}

.widget-container ul li {
	display:block;
	float:none;
	margin-bottom:5px;
}

.widget-title {
	font-size:16px;
	padding:5px 0;
	padding-left:15px;
	text-align:left;
	margin-bottom:10px;
	text-transform:uppercase;
	position:relative;
}

.widget-title:after {
	position:absolute;
	content:"";
	width:0px;height:0px;
	right:0;bottom:0;
	border-bottom:10px solid transparent;
	border-left:6px solid transparent;}

#footer-widget-area a:hover {
	text-decoration:underline;
}

.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
	word-wrap:break-word;
}
.widget-area a:active,
.widget-area a:hover {
}

.widget-area .entry-meta {
	font-size: 11px;
}

/* Search buttons */
#searchform {
display:block;
height:auto;
overflow:hidden;
}

.contentsearch {
display:block;float:none;
overflow:hidden;
margin-bottom:20px;padding:10px;
}
.no-results .contentsearch {padding:0;}

#searchform input[type="text"]  {/* This keeps the search inputs in line This is the Sidebar Search*/
	display:block;float:left;
	font-size:15px;
	padding:0px 30px 0 5px;
	height:35px;width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.contentsearch #searchform input[type="text"] {
width:100%;margin-left:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}
.widget_search label {display: none;}

#searchsubmit {
display:block;
float:left;
width:20px;
height:20px;
text-indent:-9999px;
border:none;
box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
background:url(images/search.png) no-repeat transparent;
margin-left:-27px;
margin-top:8px;
cursor:pointer;
transition: all .2s ease-in-out;
}

#searchform input[type="text"]:hover {}

#searchform:hover #searchsubmit {
transform:rotate(719deg);
-ms-transform:rotate(719deg); /* IE 9 */
-webkit-transform:rotate(719deg); /* Safari and Chrome */
}

.contentsearch #searchsubmit {
margin-top:7px;
margin-left:-30px;
}

/* Callendar */
#wp-calendar {width:100%;}
#wp-calendar caption {
	font-size: 14px;font-weight: bold;
	padding-bottom: 4px;margin-left:10px;}
#wp-calendar thead {font-size: 11px;}
#wp-calendar tbody td {
	padding: 3px 0 2px;text-align: center;
	border:1px solid transparent;}
#wp-calendar tbody td:hover {opacity:0.8;}
#wp-calendar tbody td a{
	border:none;background:none;
	padding:0;margin:0;}
#wp- tbody .pad {background: none;}
#wp-calendar tfoot #next {text-align: right;}

.widget_rss a.rsswidget {}
.widget_rss a.rsswidget:hover {}
.widget_rss .widget-title img {width: 11px;height: 11px;}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 10px;
	padding: 0;
}
/* Before and after content widgets */

.yoyo .widget-title {
background:none;
padding:0;
margin:0;
}

/* Footer widget areas */
#footer-widget-area {
margin:20px 0 10px 0;
}

#footer-widget-area a{
}


/* =Footer
-------------------------------------------------------------- */

#footer {
	margin-top:20px;
	margin-bottom: 0px;
	border-top:1px solid transparent;
}

#footer a{
transition:color .2s;
}

#footer2 {
	display:block;
	border-top:1px solid transparent;
	padding:10px;
	overflow:visible;
}

#footer2-inner {
	margin: 0 auto;
}

#colophon {
	margin-top: 0;
	overflow: hidden;
}

#site-copyright {
	display:block;
	float:none;
	padding-top:5px;
	font-style: italic;
	clear:both;
	margin:0 auto;
	text-align:center;
}

#footer2 a{
text-decoration:none;
}

#footer2 a:hover{
text-decoration:underline;
}

img#wpstats {
	display: block;
	margin: 0 auto 10px;
}

/*  Extras   */

#forbottom {
	clear:both;
	width:100%;
}

/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}


/* SOCIALS */

.socials {
	float:right;
	position:relative;
	margin-right:10px;
	height:30px;
	overflow: hidden;
}
.socials a {
	display:block;
	float:left;
	margin-right:5px;
	position:relative;
	height:26px;
	width:26px;
	padding:2px;
	overflow:hidden;
}
.socials img {
	width:26px;
	height:26px;
	position:relative;
	z-index:99;
}

/* The animated square */
.socials-hover {
width:30px;
height:30px;
display:block;
position:absolute;
left:0px;bottom:-30px;
}

#header-container >div#sheader {
position:absolute;
margin:0;
top:10px;
right:5px;
}
#smenul, #smenur {
float:none;
margin:0px auto;
position:inherit;
display:table;
}

#smenul a , #smenur a {
margin:3px;
}

#sfooter {
float:none;
clear:both;
display:table;
margin:5px auto 0;
text-align:center;
}

#sfooter a {
margin-left:5px;
padding:0;
}

#srights, #slefts {
right:0;
padding:5px;
border:1px solid transparent;
position:fixed;
top:40%;
height:auto;
display:block;
width:30px;
margin:0;
opacity:0.5;
transition:opacity .5s ease-in-out;
z-index:99;
}

#srights:hover, #slefts:hover {
opacity:1;
}

#srights a, #slefts a {
display:block;
float:none;
clear:both;
margin: 0 0 5px 0;
}

#srights {border-right:0;}
#slefts {border-left:0;left:0;}

.socials a:last-child {margin-bottom:0 !important;}

/* ARTICLES */

article.post, article.page, article.hentry {
	display:block;
	overflow:hidden;
	margin: 0 0 20px 0;
	border:1px solid transparent;
	padding:20px;
}

div.post, div.page, div.hentry, .yoyo > li {
	display:block;
	overflow:hidden;
	padding:20px;
	border:1px solid transparent;
}

article.sticky {
border:10px solid transparent;
}

#toTop {
width:22px;
height:14px;
bottom:20px;
right:20px;
position:fixed;
cursor:pointer;
display:none;
z-index:999;
background:url(images/back.png);
transition:all .3s ease-in-out;
}

#toTop:hover {
background-position:0px -15px;
}

/* CUSTOM IMAGE BORDER */

.parabola-image-none .entry-content img[class*='align'],
.parabola-image-none .entry-summary img[class*='align'] {}
.parabola-image-one .entry-content img[class*='align'],
.parabola-image-one .entry-summary img[class*='align'] {
	border:1px solid #CCC;
	padding:2px;
}
.parabola-image-two .entry-content img[class*='align'],
.parabola-image-two .entry-summary img[class*='align'] {
	border:5px solid #444;
	-webkit-box-shadow:0 0 3px #444;
	-moz-box-shadow:0 0 3px #444;
	box-shadow:0 0 3px #444;
}
.parabola-image-three .entry-content img[class*='align'],
.parabola-image-three .entry-summary img[class*='align'] {
	border:1px solid #eee;
	padding:4px;
	-moz-box-shadow:0 0 5px #e7e7e7;
	-webkit-box-shadow:0 0 5px #e7e7e7;
	box-shadow:0 0 5px #e7e7e7;
}
.parabola-image-four .entry-content img[class*='align'],
.parabola-image-four .entry-summary img[class*='align'] {
	border:7px solid #f7f7f7;
	-moz-box-shadow:0 0 1px #ddd;
	-webkit-box-shadow:0 0 1px #ddd;
	box-shadow:0 0 1px #ddd;
}
.parabola-image-five .entry-content img[class*='align'],
.parabola-image-five .entry-summary img[class*='align'] {
padding:8px;
background:url(images/border.png) repeat;
}

.parabola-image-one .entry-content img[class*='align']:hover,
.parabola-image-one .entry-summary img[class*='align']:hover {background-color:#eee;}
.parabola-image-two .entry-content img[class*='align']:hover,
.parabola-image-two .entry-summary img[class*='align']:hover {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.parabola-image-three .entry-content img[class*='align']:hover,
.parabola-image-three .entry-summary img[class*='align']:hover {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}

/* CUSTOM CAPTION LOOK */

.caption-clear .wp-caption {}

.caption-light .wp-caption {
background:#eee;
color:#333;
}

.caption-accented .wp-caption {}

.caption-dark .wp-caption {
background:#4a4a4a;
color:#EEE;
}

/* CUSTOM META AREA LOOK */

.meta-clear .entry-meta span:first-child {
     padding-left:0; }

.meta-border .entry-meta span, .meta-border .entry-utility span.bl_posted {
     border:1px solid transparent; }

.meta-accented .entry-meta span, .meta-accented .entry-utility span.bl_posted {
     border:1px solid transparent; }

.meta-light .entry-meta span, .meta-light .entry-utility span.bl_posted {
     border:1px solid #eee;
     background:#f7f7f7; }

.meta-dark .entry-meta span, .meta-dark .entry-utility span.bl_posted  {
     border:1px solid #555;
     background:#444;
     color:#eee; }

/* BREADCRUMBS */

.breadcrumbs {
	font-size:1em;
	display:block;
	position:relative;
	padding-left:20px;
	top:10px;
}

.breadcrumbs:before {
height:0;width:0;
content:"";
position:absolute;
border-top:4px solid transparent;
border-left:4px solid transparent;
border-bottom:4px solid transparent;
top:6px;
left:9px;
}
 .breadcrumbs a {
}
 .breadcrumbs a:hover {
}

/* PAGINATION */

.pagination {
	display:table;
	float:none;
	margin:20px auto;
	text-align:center;
	clear:both;
}
.pagination span, .pagination a {
	display:block;
	float:left;
	margin-right:1px;
	text-decoration:none;
	width:50px;
	text-align:center;
	position:relative;
	font-size:12px;
	line-height:27px;
	-moz-transition:background .3s ease-in-out;
	-webkit-transition:background .3s ease-in-out;
	-o-transition:background .3s ease-in-out;
	transition:background .3s ease-in-out;
}

.pagination a:hover{
}

.pagination .current{
	/*text-decoration:underline;*/
}


/* CUSTOM FRONT PAGE */


/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * March 2010
 */


/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	z-index:8;
	padding: 20px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=80);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nivo-caption h2 {
	margin-bottom:10px;
	text-transform:uppercase;
	font-size:20px;
}

.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/
.theme-default .nivoSlider {
	position:relative;
	background: url(images/nivoslider/loading.gif) no-repeat 50% 50%;
    margin-bottom:50px;
   /* -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;*/
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav:before {
content:"";
position:absolute;
top:0;left:-42px;
width:0;height:0;
border-top:32px solid transparent;
border-left:42px solid transparent;
}

.theme-default .nivo-controlNav:after {
content:"";
position:absolute;
top:0;right:-42px;
width:0;height:0;
border-top:32px solid transparent;
border-right:42px solid transparent;
}

.theme-default .nivo-controlNav {
	text-align: center;
	display:table;
	margin:0 auto;
	width:auto;
	padding:0px 10px;
	min-width:150px;
	position:relative;
	height:32px ;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.theme-default .nivo-controlNav a {

}

.slider-bullets .nivo-controlNav a {
display:inline-block;
width:10px;height:10px;
text-indent:-9999px;
margin: 8px 4px 0;
transition:background-color .3s;
}

.slider-bullets .nivo-controlNav a:hover {}
.slider-bullets .nivo-controlNav a.active {}

.slider-numbers .nivo-controlNav a {
display:inline-block;
padding:1px 6px;margin:4px 5px 0;
font-size:12px;
font-family:"Open Sans";
-moz-box-shadow:0 0 2px #DDD inset;
-webkit-box-shadow:0 0 2px #DDD inset;
box-shadow:0 0 2px #DDD inset;
transition:all .3s;
}

.slider-numbers .nivo-controlNav a:hover {}
.slider-numbers .nivo-controlNav a.active {}

.slider-none .nivo-controlNav {display:none;}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(images/nivoslider/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}
.theme-default .nivo-caption a {
    border-bottom:1px dotted transparent;
}
.theme-default .nivo-caption a:hover {
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

/* IE link fix */
a.nivo-imageLink  {
 background-color: #fff;
 filter:alpha(opacity=0);
 opacity: 0;
 -webkit-opacity:0;
 -moz-opacity:0;
-khtml-opacity:0;
}

/* Continue Reading Links */

a.continue-reading-link {
display:table;
width:auto;
float:none;
padding:5px 12px;
transition:background .3s;
border: 1px solid transparent;
margin-top: 3px;
line-height:1.6em;
font-size:11px;
text-transform:uppercase;
font-style:normal;
}


/* Front page columns */

#front-columns {
	display:block;
	width:auto;
	float:none;
	overflow:hidden;
}
.column-image {
	width:100%;
	display:block;
	overflow:hidden;
}
.column-text {
	text-align:justify;
	padding:10px;
	width:100%;
	min-height:20px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
	line-height:1.5em;
	font-size:13px;
}
.column-image img {
	width:100%;
}
.column-image h3 {
	display:block;
	width:100%;
	font-size:20px;
	margin:0;
	position:absolute;
	padding:10px 15px 10px 7px;
	bottom:-50px;
	display:none;
	text-transform:uppercase;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

#front-columns h3.column-header-noimage {
display:block;
font-size:20px;
text-transform:uppercase;
padding:10px 10px 0px 10px; }

.columnmore  {
	font-size:12px;
	text-align:right;
	padding-right:10px;
	padding-left:5px;
	position:relative;
	display:inline-block;
	width:auto;
	line-height:20px;
	float:right;
	right:-10px;
	bottom:-10px;
}
.columnmore a {transition:color .3s ease-in-out;}
.columnmore:before {
	border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    content: "";
    height: 0;
    left: -19px;
    position: absolute;
    top: 0;
    width: 0;
}
/* Style HTML5 tags for IE8 and lower */
header
,nav
,section
,article
,aside
,footer
,hgroup
{
display: block;
}

.tinynav {
display:block;
float:none;
margin:0 auto;
display:none;
min-width:200px;
width:100%;
padding:10px;
margin-bottom:8px;
text-transform: uppercase;
}

.tinynav  option {
}

/* Magazine layout */
.magazine-layout #content article.post,
.magazine-layout.search #content article{
float:left; width:49%;
padding: 22px 15px 10px;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;
}
.magazine-layout #content article.sticky { border-width: 5px; padding:22px 10px 10px;}
.magazine-layout #content article:nth-of-type(2n+1) { clear: both; margin-right:2%; }
.magazine-layout .comments-link { margin-top:-25px;vertical-align:middle; }

.magazine-layout .entry-header .entry-meta { margin-top: 5px; }
.magazine-layout span.edit-link { clear: none; }
.magazine-layout .entry-header { clear: both; }


/* shareaddy compat */ 
.sharedaddy ul > li { background: none !important; text-indent: 0 !important; }

/*woocommerce compat */ 
.woocommerce .product .entry-summary {clear:none;}

/* video fix */
#content embed, #content iframe {max-width:100%;}

/* FIN! */