<p>בחר משתמש בעל הארוע, או הגדר משתמש חדש</p>

<table class="admin">
<thead>
	<tr>
		<th>שם</th><th>דואל</th><th>תאריך לידה</th><th>טלפון</th><th>תאריך רישום</th><th></th>
	</tr>
</thead>
<tbody>
{% for user in users %}
<tr {%if loop.index is odd %}class="alt"{% endif %}>
	<td>{{user.first_name}} {{user.last_name}}</td>
	<td style="dir:ltr; text-align: left;"><a href="mailto:{{user.email}}">{{user.email}}</a></td>
	<td>{{user.date_of_birth}}</td>
	<td>{{user.phone}}</td>
	<td>{{user.registered|date("d.m.Y")}}</td>
	<td><a href="add-event?user={{user.id}}">בחר</a></td>
</tr>
{% endfor %}
</tbody>
<form action="add-event" method="post">
	<input type="hidden" name="user" value="new">
<tbody>
	<tr>
		<td><input type="text" name="fullname" placehoder="שם מלא"></td>
		<td><input type="email" name="email" placeholder="דואר אלקטרוני"></td>
		<td></td>
		<td><input type="phone" name="phone" placeholder="טלפון"></td>
		<td></td>
		<td><button type="submit">המשך</button></td>
	</tr>
</tbody>
</form>
</table>

