<h2>עריכת פרטי ארוע</h2>

<form method="post" action="edit-event" cLass="admin">
<input type="hidden" name="event_occurrence" value="{{occurrence.id}}"/>
<input type="hidden" name="action" value="{{action}}"/>
<input type="hidden" name="return_to" value="{{referrer}}"/>

<p style="position: fixed; left: 3em; width: 11em;" >
	<button type="submit">עדכון פרטים</button>
	<button type="button" onclick="history.go(-1);">ביטול</button>
</p>
<p>
	<label for="title">כותרת:</label>
	<input type="text" name="title" class="large" value="{{occurrence.event.title}}"/>
</p>
<p>
	<label>מנחים:</label>
	<select name="hosts[]" id="host-form" style="display:none" multiple="multiple">
		{% for user in occurrence.users.find_all() %}
			<option value="{{user.id}}" selected="selected">{{user.name}}</option>
		{% endfor %}
		{% if event_user %}
			<option value="{{event_user.id}}" selected="selected">{{event_user.name}}</option>
		{% endif %}
	</select>
	<div id="host-list" style="border: 1px solid lightgray; width: 100%; padding: 0.3em; min-height: 2.4em;">
		<span id="host-list-add" style="cursor: pointer;"><img src="/controll/images/add.png"></span>
	</div>
	<div id="user-list-chooser" style="display: none; position: absolute; width: 20em; height: 15em; overflow: auto; z-index: 10; border: solid black 2px; border-radius: 10px; background-color: white;">
		{% for user in system_users %}
		<div id="select-user-{{user.id}}" title="{{user.email}}" style="cursor: pointer; background-color: #eee; border-radius: 5px; padding: 0.3em 0.7em;">{{user.name}}</div>
		<script type="text/javascript">
		$('#select-user-{{user.id}}').click(function(){ 
			addHost('{{user.id}}', '{{user.name}}');
			$('#user-list-chooser').dialog('close');
		});
		</script>
		{% endfor %}
	</div>
</p>
<p>
	<label>איש צוות אחראי</label>
	<select name="staff_contact" >
		<option value="">אין איש צוות אחראי</option>
		{% for staffer in staffers %}
		<option value="{{staffer.id}}" {% if staffer == occurrence.staff_contact %}selected="selected"{% endif %}>{{staffer.name}}</option>
		{% endfor %}
	</select>
</p>
<p>
	<label for="type">סוג ארוע:</label>
	<select name="type">
	{% for type in convention.event_types.find_all() %}
	<option value="{{type.key}}" {%if type.key == occurrence.event.type.type.key %}selected{%endif%}>{{type.title}}</option>
	{%endfor%}
	</select>
</p>
<p>
	<label for="event_rule_system">שיטת משחק:</label>
	<input type="text" name="event_rule_system" value="{{occurrence.event.rule_system.title}}"/>
	<script>
	$(function(){
		$("input[name=event_rule_system]").autocomplete({
			autoFocus: true,
			minLength: 0,
			source: [
		{% for rule_system in rule_systems %}"{{rule_system.title|raw|escape('js')}}"{%if not loop.last%},{%endif%}{% endfor %}			         ]
		});
		$("input[name=event_rule_system]").click(function(){
			$("input[name=event_rule_system]").autocomplete('search',"");
		});
		$("input[name=event_rule_system]").focus(function(){
			$("input[name=event_rule_system]").autocomplete('search',"");
		});
	});
	</script>
</p>
<p>
	<label>תיאור:</label>
</p>
<p>
	<textarea class="large-description" name="description">{{occurrence.event.description}}</textarea>
</p>
<p>
	<label for="location">מיקום:</label>
	<input type="text" name="location" value="{{occurrence.location.title}}"/>
	<script>
	$(function(){
		$("input[name=location]").autocomplete({
			autoFocus: true,
			minLength: 0,
			source: [
		{% for location in convention.locations.find_all() %}"{{location.title}}"{%if not loop.last%},{%endif%}{% endfor %}
			         ]
		});
		$("input[name=location]").click(function(){
			$("input[name=location]").autocomplete('search',"");
		});
		$("input[name=location]").focus(function(){
			$("input[name=location]").autocomplete('search',"");
		});
	});
	</script>
</p>
<p>
	<label for="start">זמן התחלה:</label>
	<input type="text" name="start" style="direction: ltr" value="{{(occurrence.start?occurrence.start:convention.start)|date("j-n-Y H:i")}}"/>
<script>
$(function(){
	$.datepicker.setDefaults({
		  buttonImageOnly: true, isRTL: true, changeYear: true,
		  minDate: '{{(convention.start-86400)|date("d-m-Y")}}', maxDate: '{{(convention.end+86400)|date("d-m-Y")}}',
		  buttonImage: "/controll/images/dateinput/icon.jpg",
		  buttonText: "לוח שנה",
		  dateFormat: 'd-m-yy', changeYear: false,
		  dayNames: [ "ראשון", "שני", "שלישי", "רביעי", "חמישי", "שישי", "שבת" ],
		  dayNamesMin: [ 'א', 'ב', 'ג', 'ד', 'ה', 'ו', 'ש' ],
		  monthNames: [ "ינואר", "פברואר", "מרץ", "אפריל", "מאי", "יוני", "יולי", "אוגוסט", "ספטמבר", "אוקטובר", "נובמבר", "דצמבר" ]
		});
	$('[name=start]').datetimepicker({timeText: 'זמן', hourText: 'שעה', minuteText: 'דקות', isRTL: true, 
		  stepMinute: 30, hourGrid: 4, minuteGrid: 30, parse: 'loose'});
});
</script>
</p>
<p>
	<label for="length">משך הזמן הנדרש (דקות):</label>
	{% set event_len = occurrence.length / 60 %}
	{% set event_max_len = 720 %}
	{% if event_len > event_max_len %}
		{% set event_max_len = event_len %}
	{% endif %}
	<input name="length" type="number" min="15" max="{{event_max_len}}" step="15" value="{% if event_len %}{{event_len}}{% else %}15{% endif %}"/>
</p>
<p>
	<label for="min_attendees">מספר משתתפים מזערי:</label>
	<input name="min_attendees" type="number" min="1" max="300" value="{% if occurrence.min_attendees %}{{occurrence.min_attendees}}{% else %}1{% endif %}"/>
</p>
<p>
	<label for="max_attendees">מספר משתתפים מרבי:</label>
	<input name="max_attendees" type="number" min="1" max="300" value="{{occurrence.max_attendees}}"/>
</p>
<script>
$(function(){
	window.last_max_attendees = 0 + {{occurrence.max_attendees}};
	var min = $('[name=min_attendees]');
	var max = $('[name=max_attendees]');
	var unrestricted = $('[name=max_attendees_unrestricted]');
	
	var checkUnrestricted = function() {
		max.prop('disabled', unrestricted.is(':checked')); 
		if (unrestricted.is(':checked')) 
			max.val(''); 
		else
			max.val(window.last_max_attendees ? window.last_max_attendees : parseInt(min.val()));
	}
	
	min.change(function(){ if (parseInt(max.val()) - parseInt(min.val()) < 0) max.val(min.val()); }); 
	max.change(function(){ if (parseInt(max.val()) - parseInt(min.val()) < 0) min.val(max.val()); window.last_max_attendees = parseInt(max.val()); });
	unrestricted.change(checkUnrestricted);
	checkUnrestricted();
});
</script>
<p>
	<label><input type="checkbox" name="kid_friendly" value="1" {% if occurrence.event.kid_friendly %}checked{% endif %}/>מתאים לילדים</label>
</p>
<p>
	<label><input type="checkbox" name="newbie_friendly" value="1" {% if occurrence.event.newbie_friendly %}checked{% endif %}/>מתאים לשחקנים מתחילים</label>
</p>
<p>
	<label for="tags">תיוג</label>
	<input type="text" class="large" name="tags" value="{% for tag in occurrence.event.editor_tag_list %}{% if not loop.first %}, {%endif%}{{tag.title}}{% endfor %}"/>
</p>
<!--  add `media` TEXT, -- embedded images and such -->
<p>
	<label for="status">מצב:</label>
	<select name="status">
		<option value="0" {%if occurrence.status == 0%}selected{%endif%}>ממתין לאישור</option>
		<option value="1" {%if occurrence.status == 1%}selected{%endif%}>מאושר</option>
		<option value="2" {%if occurrence.status == 2%}selected{%endif%}>מלא</option>
		<option value="99" {%if occurrence.status == 99%}selected{%endif%}>בוטל</option>
	</select>
<p>
	<label>
	מנע התנגשויות
	<input type="checkbox" name="prevent_conflicts" value="1" {%if occurrence.prevent_conflicts%}checked{%endif%}/>
	</label>
</p>
<p>
	<label for="price">עלות:</label>
	<input type="text" style="width: 8em" name="price" value="{{occurrence.event.price}}"/>
</p>
<p>
	<label>
	<input type="checkbox" value="1" {%if not occurrence or occurrence.registration_required%}checked="checked"{%endif%} name="registration_required"/>
	רישום חובה</label>
</p>
<p>
	<label for="notes_to_staff">הערות לצוות:</label>
</p>
<p>
	<textarea class="large-description" name="notes_to_staff">{{occurrence.notes_to_staff}}</textarea>
</p>
<p>
	<label for="logistical_requirments">דרישות לוגיסטיות:</label>
</p>
<p>
    {% if occurrence.logistical_requirments is null %}
	<textarea class="large-description" disabled="disabled">&lt;אין&gt;</textarea>
    {% else %}
	<textarea class="large-description" name="logistical_requirments">{{occurrence.logistical_requirments}}</textarea>
	{% endif %}
</p>
<p>
	<label for="scheduleing_constraints">מגבלות שיבוץ:</label>
</p>
<p>
	<textarea class="large-description" name="scheduleing_constraints">{{occurrence.scheduleing_constraints}}</textarea>
</p>
<p>
	<button type="submit">עדכון פרטים</button>
	<a href="delete_event?event_occurrence={{occurrence.id}}" onclick="return confirm('אתה בטוח שאתה רוצה למחוק את הארוע? אין אפשרות לשחזר!')">מחק ארוע</a>
</p>
</form>

<script type="text/javascript">

var removeHost = function(id) {
	$('#host-box-' + id).remove();
	$("#host-form option[value='" + id + "']").remove();
}

var addHost = function(id, name) {
	$('#host-list').append(genHost(id, name));
	$('#host-form').append($('<option/>').val(id).text(name));
	$('#host-form option').prop('selected', true);
}

var genHost = function(id, name) {
	return $('<span/>')
	.attr('id','host-box-' + id)
	.css({ 
		backgroundColor: '#eee',
		borderRadius: '5px',
		padding: '0.3em 0.7em',
		margin: '0 .5em',
	})
	.append($('<img/>').css({verticalAlign:'middle', marginLeft: '2px', cursor: 'pointer'})
			.attr('src','/controll/images/delete.png')).click(function(){ removeHost(id); })
	.append($('<span/>').text(name));
}

var chooseUsers = function() {
	$('#user-list-chooser').show();
	$('#user-list-chooser').dialog({
		dialogClass: 'user-list-chooser',
		modal: true, draggable: true, resizable: true,
		width: 600, height: 360,
		open: function() { 
			$('.ui-widget-overlay').click(function(){ $('#user-list-chooser').dialog('close'); });
		},
		close: function() { $('#user-list-chooser').hide(); },
	});
}

$(function(){
	$('#host-form option').each(function(i,el){
		$('#host-list').append(genHost(el.value, $(el).text()));
	});	
	$('#host-list-add').click(chooseUsers);
});

</script>
