<p>
<a href="/controll/admin">בחזרה למסך מנהל</a>
<a href="add-event">הוסף ארוע חדש</a> 
<a href="export">יצא לגליון אלקטרוני</a> 
</p>

<table class="admin">
<thead>
	<tr>
		<th><a href="?sort=id{%if sortby == 'id' and not sortrev%}&sortrev=1{%endif%}">#</a></th>
		<th><a href="?sort=title{%if sortby == 'title' and not sortrev%}&sortrev=1{%endif%}">כותרת</a></th>
		<th><a href="?sort=owner{%if sortby == 'owner' and not sortrev%}&sortrev=1{%endif%}">מציע</a></th>
		<th><a href="?sort=staff_contact{%if sortby == 'staff_contact' and not sortrev%}&sortrev=1{%endif%}">אחראי צוות</a></th>
		<th><a href="?sort=status{%if sortby == 'status' and not sortrev%}&sortrev=1{%endif%}">מצב</a></th>
		<th><a href="?sort=start{%if sortby == 'start' and not sortrev%}&sortrev=1{%endif%}">לו"ז</a></th>
		<th><a href="?sort=price{%if sortby == 'price' and not sortrev%}&sortrev=1{%endif%}">מחיר</a></th>
		<th>רישום</th>
		<th>מנחים</th>
	</tr>
</thead>
<tbody>
{% set looprow = 0 %}
{% for event in events %}
	<tr class="{%if looprow is odd %}alt{% endif %} event-status-{{event.statustext|replace(' ','-')}}">
		<td>{{loop.index}}</td>
		<td>
			<a href="/controll/event/{{event.key}}">{{event.title}}</a> 
		</td>
		<td>
			<span id="coupon-report-{{event.user.id}}" style="vertical-align: super; font-size: 50%; position: absolute; margin-right: -1.5em; margin-top: -1em;">{{event.user.totalCoupons()}}</span>
			<img id="coupon-button-{{event.user.id}}" src="/controll/images/add-coupon.png" style="width:22px;cursor: pointer;" title="הוסף קופון"/>
			<a href="mailto:{{event.user.email}}">{{event.user.name}}</a>
			<script type="text/javascript">
			$('#coupon-button-{{event.user.id}}').click(function(){ couponUser({{event.user.id}}); });
			</script>
		</td>
		{% for occurr in event.occurrences.find_all() %}
		{% if not loop.first %}
		<tr><td colspan="3"></td>
		{%endif%}
		<td>{{occurr.staff_contact.name}}</td>
		<td>
			<img class="action-icon" src="/controll/images/{% if occurr.start == 0 %}not-{% endif %}scheduled.png"/>
			{{occurr.statustext}}
		</td>
		<td>
			{% if occurr.start > 0 %}{{occurr.starttext}}{% else %}לא בלו"ז{% endif %}
		</td>
		<td>
			{{occurr.price}}
		</td>
		<td  {% if occurr.available_tickets is not null and occurr.registered_tickets >= occurr.max_attendees %}style="background-color:green"{% endif %}>
			<bdo dir="ltr">
			{{occurr.registered_tickets}}
			{% if occurr.available_tickets is not null %}
				/ {{occurr.max_attendees}}
			{%endif%}
			</bdo>
		</td>
		<td>{%for host in occurr.users.find_all()%}
			<span id="coupon-report-{{host.id}}" style="vertical-align: super; font-size: 50%; position: absolute; margin-right: -1.5em; margin-top: -1em;">{{host.totalCoupons()}}</span>
			<img id="coupon-button-{{host.id}}" src="/controll/images/add-coupon.png" style="width:22px;cursor: pointer;" title="הוסף קופון"/>
			<a href="mailto:{{host.email}}">{{host.name}}</a>
			<script type="text/javascript">
			$('#coupon-button-{{host.id}}').click(function(){ couponUser({{host.id}}); });
			</script>
			{%endfor%}
		</td>

		<td><a href="edit-event?event_occurrence={{occurr.id}}">ערוך</a></td>
	</tr>
		{% set looprow = looprow + 1 %}
	{% endfor %}
{% endfor %}
</tbody>
</table>

<script type="text/javascript">

var couponUser = function(userid) {
	$('body').append('<div id="coupon-ok" style="display: none"><span id="coupon-ok-text"></span></div>');
	$('#coupon-ok-text').text('טוען');
	$('#coupon-ok').show().dialog({
		dialogClass: 'coupon-ok',
		modal: true, draggable: false, resizable: false,
		width: 200, height: 80,
		open: function() { 
			var self = this;
			var x = $('<div/>');
			$('body').append(x);
			x.css({display:'none', position: 'absolute', top: '-500px'})
				.load('give-host-coupon?user=' + userid + '&render=false','',function(){
					$(self).dialog('close');
					$('#coupon-report-' + userid).text($(this).text());
				});
		},
		close: function() { $('#coupon-ok').remove();},
	});
};
</script>
