<style>

TABLE {
	border: solid black 1px;
	border-collapse: collapse;
	direction: ltr;
	font-size: 70%;
}

TR {
	height: 1.25em;
	max-height: 1.25em;
}

TD {
	border: solid black 1px;
}

</style>

<table>
	<caption>לוגים</caption>

	<tbody>
	
	{% for log in logs %}
		<tr>
			<td style="white-space: nowrap">{{log.timestamp}}</td>
			<td style="width: 15em;">{{log.file}}:{{log.class}}::{{log.function}}({{log.line}})</td>
			<td style="width: 40em;">{{log.body}}</td>
			<td style="width: 5em;"><pre style="max-height: 1.25em; overflow:hidden;" title="{{log.trace}}">{{log.trace}}</pre></td>
		</tr>
	{% endfor %}
	
	</tbody>	
	
</table>

<script type="text/javascript">
$(function(){
	$('TABLE').tooltip();	
});
</script>