<table class="admin">
<thead>
	<tr><th>מוצר</th><th>שם</th><th>תאריך</th><th>SKU</th><th>כמות</th><th>עלות</th><th>מצב</th><th>קוד אישור</th></tr>
</thead>
<tbody>
	{% set total_items = 0 %}
	{% set total_revenue = 0 %}
	{% for trx in transactions %}{% if trx.status_text != 'בוטל' %}
	<tr>
		<td><a href="/controll/shop/{{trx.sku.merchandise.key}}">{{trx.sku.merchandise.title}}</a></td>
		<td>
			<span dir="rtl">
			<a href="mailto:{{reg.user.email}}">{{trx.user.fullname}}</a>
			</span>
			({{trx.user.phone}})
		</td>
		<td>{{trx.ordered|date("d/m H:i")}}</td>
		<td title="{{trx.sku.id}}">{{trx.sku|replace('_',' ')}}</td>
		<td>{{trx.amount}}</td>
		<td>₪{{trx.price}}</td>
		<td>{{trx.status_text}}</td>
		<td>{{trx.authcode}}</td>
		<td>
			{% if trx.status_text == 'בקניה'%}
				<a href="?cancel={{trx.id}}">ביטול</a>
			{% elseif trx.status_text == 'שולם' %}
				<a href="/controll/admin/refund?trxid={{trx.id}}">ביטול</a>
			{% endif %}
		</td>
	</tr>
	{% set total_items = total_items + trx.amount %}
	{% set total_revenue = total_revenue + trx.price %}
	{% endif %}{% endfor %}
</tbody>
<tbody>
	<tr><th colspan="3">סה"כ</th><td>{{total_items}}</td><td>₪{{total_revenue}}</td></tr>
</tbody>
</table>
