<h1>ביטול עסקה {{transaction_id}}</h1>

<p>העסקה עם הלקוח {{customer.fullname}} תבוטל והכרטיסים הבאים יוחזרו למערכת:</p> 

<form action="?" method="post" id="approve-form">
<input type="hidden" name="approved" value="true">
<input type="hidden" name="regid" value="{{origregid}}">

<table class="admin">
<thead>
	<tr><th>ארוע</th><th>תאריך</th><th>כמות</th><th>עלות</th><th>קוד אישור</th></tr>
</thead>
<tbody>
	{% set total_revenue = 0 %}
	{% for reg in registrations %}
	<tr>
		<td><a href="/controll/event/{{reg.event.key}}">{{reg.event.title}}</a></td>
		<td>{{reg.registered|date("d/m H:i")}}</td>
		<td>
			<input name="refund-amount-{{reg.id}}" type="number" id="refund-amount-{{reg.id}}" value="{{reg.amount}}" min="{{1}}" max="{{reg.amount}}">
		</td>
		<td>₪<span id="refund-price-{{reg.id}}">{{reg.price}}</span></td>
		<td>{{reg.authcode}}</td>
		<script>
		$(function(){
			$('#refund-amount-{{reg.id}}').change(function(){
				cost = $('#refund-amount-{{reg.id}}').val() * {{reg.event_occurrence.price}};
				$('#refund-price-{{reg.id}}').text('' + cost);
			});
		});
		</script>
	</tr>
	{% set total_revenue = total_revenue + reg.price %}
	{% endfor %}
</tbody>
</table>

<script>
var cost = {{total_revenue}};
</script>

<p style="text-align: center">
<button type="submit" style="font-size: 150%; padding: .3em 2em;">אישור</button>
</p>
</form>

<script type="text/javascript">
$(function(){
	$('#approve-form').submit(function() {
		return confirm('לבטל עסקה בערך של ₪' + cost + '?');
	});
});
</script>
