<p>
<a href="/controll/admin">בחזרה למסך מנהל</a>
</p>

<table class="admin">
<thead>
	<tr>
		<th><a href="?sort=event{%if sorted=='event'%}&desc=1{%endif%}">ארוע</a></th>
		<th><a href="?sort=name{%if sorted=='name'%}&desc=1{%endif%}">שם</a></th>
		<th><a href="?sort=date{%if sorted=='date'%}&desc=1{%endif%}">תאריך</a></th>
		<th>כמות</th>
		<th>עלות</th>
		<th><a href="?sort=status{%if sorted=='status'%}&desc=1{%endif%}">מצב</a></th>
		<th>קוד אישור</th>
	</tr>
</thead>
<tbody>
	{% set total_tickets = 0 %}
	{% set total_revenue = 0 %}
	{% set unapproved_revenue = 0 %}
	{% set unapproved_tickets = 0 %}
	{% for reg in registrations %}{% if reg.status_text != 'בוטל' %}
	<tr>
		<td><a href="/controll/event/{{reg.event.key}}">{{reg.event.title}}</a></td>
		<td>
			<span dir="rtl">
			<a href="mailto:{{reg.user.email}}">{{reg.user.fullname}}</a>
			</span>
			({{reg.user.phone}})
		</td>
		<td>{{reg.registered|date("d/m H:i")}}</td>
		<td>{{reg.amount}}</td>
		<td>₪{{reg.price}}</td>
		<td>{{reg.status_text}}</td>
		<td>{{reg.authcode}}</td>
		<td>
			{% if reg.status_text == 'בקניה'%}
				<a href="?approve={{reg.id}}" onclick="trxid = prompt('To approve the transaction, enter the Paypal transaction ID. Enter nothing or click Cancel to abort'); if (trxid && trxid.trim()) { this.href += '&transaction' + trxid; return true;} else { return false; }">אישור ידני</a>
				<a href="?cancel={{reg.id}}">ביטול</a>
				{% set unapproved_revenue = unapproved_revenue + reg.price %}
				{% set unapproved_tickets = unapproved_tickets + reg.amount %}
			{% elseif reg.status_text == 'שולם' %}
				<a href="/controll/admin/refund?regid={{reg.id}}">ביטול</a>
			{% endif %}
		</td>
	</tr>
	{% set total_tickets = total_tickets + reg.amount %}
	{% set total_revenue = total_revenue + reg.price %}
	{% endif %}{% endfor %}
</tbody>
<tbody>
	<tr><th colspan="3">סה"כ</th><td>{{total_tickets}} (לא אושר: {{unapproved_tickets}})</td><td colspan="3">₪{{total_revenue}} (לא אושר: {{unapproved_revenue}}₪)</td></tr>
</tbody>
</table>
