<p>
<a href="/controll/admin">בחזרה למסך מנהל</a>
</p>

<table class="admin users">
<thead>
	<tr>
		<th><a href="?sort=first_name">שם</a></th>
		<th>דואל</th>
		<th>תאריך לידה</th>
		<th>טלפון</th>
		<th>תאריך רישום</th>
		<th>התנדב להנחיה</th>
		<th>התנדב לכנס</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for user in users %}
<tr {%if loop.index is odd %}class="alt"{% endif %}>
	<td>{{user.first_name}} {{user.last_name}}</td>
	<td style="dir:ltr; text-align: left;"><a href="mailto:{{user.email}}" name="{{user.id}}">{{user.email}}</a></td>
	<td>{%if user.date_of_birth %}{{user.date_of_birth|date("d.m.Y")}}{% endif %}</td>
	<td>{{user.phone}}</td>
	<td>{{user.registered|date("d.m.Y")}}</td>
	<td>{%if attribute(user, 'didVolunteerForHosting', [convention])%}<img src="/controll/images/ok.png"/>{%endif%}</td>
	<td>{%if attribute(user, 'didVolunteer', [convention])%}<img src="/controll/images/ok.png"/>{%endif%}</td>
	<td>{{user.tokentype}}</td>
	<td style="white-space:nowrap">
		<!-- manage admin status -->
		<span style="display: inline-block;">
		{% if (user.isConventionAdmin(convention) or user.isSuperAdmin) %}
			<a href="revoke?user={{user.id}}&role=admin&return_to={{user.id}}" title="בטל מנהל"><img src="/controll/images/crown.png"/></a>
		{% else %}
			<a href="grant?user={{user.id}}&role=admin&return_to={{user.id}}" title="הפוך למנהל"><img src="/controll/images/crown.png" class="desaturate"/></a>
		{% endif %}
		</span>
		<!-- manage staff status -->
		<span style="display: inline-block;">
		{% if (user.hasRole(convention, 'staff')) %}
			<a href="revoke?user={{user.id}}&role=staff&return_to={{user.id}}" title="בטל איש צוות"><img src="/controll/images/staff.png"/></a>
		{% else %}
			<a href="grant?user={{user.id}}&role=staff&return_to={{user.id}}" title="הפוך לאיש צוות"><img src="/controll/images/staff.png" class="desaturate"/></a>	
		{% endif %}
		</span>
		<!-- manage cashier status -->
		<span style="display: inline-block;">
		{% if (user.hasRole(convention, 'קופאי')) %}
			<a href="revoke?user={{user.id}}&role=קופאי&return_to={{user.id}}" title="בטל קופאי"><img src="/controll/images/cash-register.png"/></a>
		{% else %}
			<a href="grant?user={{user.id}}&role=קופאי&return_to={{user.id}}" title="הפוך לקופאי"><img class="desaturate" src="/controll/images/cash-register.png"/></a>	
		{% endif %}
		</span>
		<span id="coupon-report-{{user.id}}" style="vertical-align: super; font-size: 50%; position: absolute; margin-right: -.5em; margin-top: -1em; font-weight: bold;text-shadow: 1px 1px lightgray;">{{user.remainingCoupons()}}/{{user.totalCoupons()}}</span>
		<img id="coupon-button-{{user.id}}" src="/controll/images/add-coupon.png" style="width:22px;cursor: pointer;" title="הוסף קופון"/>
		<script type="text/javascript">
		$('#coupon-button-{{user.id}}').click(function(){ couponUser({{user.id}}); });
		</script>
		<a href="/controll/events/registrations?userid={{user.id}}">
			<img src="/controll/images/registrations.png" style="width: 16px; vertical-align: middle; margin: 0 .3em;"></a>
	</td>
</tr>
{% endfor %}
</tbody>
<form action="add-user" method="post">
<tbody>
	<tr>
		<td colspan="8">
			<input type="text" name="fullname" placeholder="שם מלא">
			<input type="email" name="email" placeholder="דואר אלקטרוני">
			<input type="phone" name="phone" placeholder="טלפון">
			<button type="submit">הוסף משתמש</button>
		</td>
	</tr>
</tbody>
</form>
</table>


<script type="text/javascript">

var couponUser = function(userid) {
	$('body').append('<div id="coupon-ok" style="display: none"><span id="coupon-ok-text"></span></div>');
	$('#coupon-ok-text').text('טוען');
	$('#coupon-ok').show().dialog({
		dialogClass: 'coupon-ok',
		modal: true, draggable: false, resizable: false,
		width: 200, height: 80,
		open: function() { 
			var self = this;
			var x = $('<div/>');
			$('body').append(x);
			x.css({display:'none', position: 'absolute', top: '-500px'})
				.load('give-host-coupon?user=' + userid + '&render=false','',function(){
					$(self).dialog('close');
					$('#coupon-report-' + userid).text($(this).text());
				});
		},
		close: function() { $('#coupon-ok').remove();},
	});
};
</script>
