<!DOCTYPE html>
<html lang="he">
<head>
	<title></title>
	<link rel="stylesheet" href="/controll/style/default.css" type="text/css" media="screen,projection" />
	<link rel="stylesheet" href="/controll/style/number-polyfill.css" type="text/css" media="screen,projection" />
	<link rel="stylesheet" href="/controll/style/jquery-ui.css" data-realhref="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script type="text/javascript" src="/controll/script/jquery-1.11.2.min.js" data-realsrc="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/controll/script/jquery.tools.min.js" data-realsrc="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
	<script type="text/javascript" src="/controll/script/jquery-ui.js" data-realsrc="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="/controll/script/number-polyfill.min.js"></script>
	<script type="text/javascript" src="/controll/script/jquery-ui-timepicker-addon.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="innerwrapper">
			<header>
				{% if user %}
				<div class="login">שלום {{user.first_name}}. <a href="/controll/authenticate/logout">יציאה</a></div>
				{% else %}
				<div class="login"><button type="button" id="authenticate">כניסה לאתר</button></div>
				{% endif %}
				<h1><a href="/controll/c/{{convention.key}}">{{convention.title}}</a></h1>
				<!--  h2>subtitle</h2 -->
					
				{%spaceless%}
				<nav>
					<a href="/controll/c/{{convention.key}}/events" accesskey="" 
						class="{% if current == 'convention_eventlist' %}active{% endif %}">ארועים</a>
					<a href="/controll/c/{{convention.key}}/events/add" accesskey="" 
						class="{% if current == 'add_event' %}active{% endif %}">הצע ארוע</a>
					<a href="/controll/" accesskey="" 
						class="{% if current == 'category2' %}active{% endif %}">קטגוריה <em>2</em></a>
					<a href="/controll/" accesskey="" 
						class="{% if current == 'category3' %}active{% endif %}">קטגוריה <em>3</em></a>
					{% if user and user.isAdmin %}
					<a href="/controll/c/{{convention.key}}/admin" accesskey="" 
						class="{% if current == 'category3' %}active{% endif %}">ניהול</a>
					{% endif %}
					<div style="clear: both;"></div>
				</nav>
				{%endspaceless%}
			</header>

			{% if error %}<p class="error-message">{{error}}</p>{% endif %}
						
			<div class="content">
				{{content|raw}}
			</div>
			
		</div>
		<footer>
			footer
		</footer>
	</div>
	<script>
	$(function() {
		$('#authenticate').click(function() {
			$('body').append('<div id="modal-authenticate" style="display: none;"></div>');
			$('#modal-authenticate').load('/controll/authenticate/signin?return_url=' + encodeURI(window.location.href),'',function(){
				$('#modal-authenticate').show();
				$('#modal-authenticate').dialog({
					dialogClass: 'modal-authenticate',
					modal: true, draggable: false, resizable: false,
					width: 600,
					open: function() { $('.ui-widget-overlay').click(function(){ $('#modal-authenticate').dialog('close'); }); },
					close: function() { $('#modal-authenticate').remove(); },
				});
			});
			
		});
	});
	</script>
</body>
</html>
