<!DOCTYPE html>
<html lang="he">
<head>
<meta charset="UTF-8">
	<!-- webapp resources -->
	<link rel="stylesheet" href="/controll/style/number-polyfill.css" type="text/css" media="screen,projection" />
	<link rel="stylesheet" href="/controll/style/jquery-ui.css" data-realhref="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script type="text/javascript" src="/controll/script/jquery-1.11.2.min.js" data-realsrc="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/controll/script/jquery.tools.min.js" data-realsrc="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
	<script type="text/javascript" src="/controll/script/jquery-ui.js" data-realsrc="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="/controll/script/number-polyfill.min.js"></script>
	<script type="text/javascript" src="/controll/script/jquery-ui-timepicker-addon.js"></script>
	<script type="text/javascript" src="/controll/script/modernizr-2.6.2.min.js"></script>
	<script type="text/javascript" src="/controll/script/shortcut.js"></script>

	<!-- meta data -->
	<link rel="icon" href="/controll/images/convention/small-logo.png" type="image/png">
	<link rel="apple-touch-icon" href="/controll/images/convention/small-logo.png">
	
	<!-- Theme based on Surframa theme, used under GPLv2 license http://surfarama.com/ -->
	<link rel="stylesheet" id="controll-css-app" href="/controll/style/default.css" type="text/css" media="all"/>
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script type="text/javascript" src="/controll/script/authenticate.js"></script>
	<script type="text/javascript" src="/controll/script/utils.js"></script>
</head>
<body style="direction: rtl;">
			{% if error %}<p class="error-message">{{error}}</p>{% endif %}
{{content|raw}}
</body>
</html>