<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/controll/style/default.css" type="text/css" media="all"/>
	<script type="text/javascript" src="/controll/script/jquery-1.11.0.min.js" data-realsrc="http://code.jquery.com/jquery-1.10.2.min.js"></script>
</head>
<body>
			{% if error %}<p class="error-message">{{error}}</p>{% endif %}

{{content|raw}}
</body>
</html>
