<table class="admin">
<thead>
</thead>
<tbody>
	{% for item in items if not item.hidden %}
	{% set uri = 'shop/' ~ item.key %}
	<tr>
		<td>
			<a href="/2015/כנס-ביגור/מוצר/?id=/{{item.key}}">{{item.title}}</a>
			{% if not item.active %}
			(לא זמיון כרגע)
			{% endif %}
		</td>
		<td>₪{{item.price}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>

{% include 'convention/shopping-cart' %}
