{% include 'convention/email/header' %}

<h1>אישור הצעת ארוע</h1>

<p>תודה רבה על שהצעת ארוע לכנס!<p>

<p>
להלן פרטי הארוע כפי שנרשמו אצלנו.
אם יש הבדל בין הרשום מטה למה שציפית, אפשר ליצור קשר עם אחראי תוכן בכתובת <a href="mailto:content@bigor.org.il">content@bigor.org.il</a>
</p>

<article class="event-details">

	<h1>{{event.title}}</h1>
	
	<dl>
		<dt>מנחה</dt>
		{% set hosts = event.occurrence.users.find_all().as_array() %}
		{% if hosts|length > 0 %}
		{% for user in hosts %}
			<dd>{{user.first_name}} {{user.last_name}}</dd>
		{% endfor %}
		{% else %}
		<dd>עדיין לא הוגדר</dd>
		{% endif %}
		<dt>סוג ארוע</dt>	<dd>{{event.type.title}}</dd>
		{% if event.rule_system %}
		<dt>שיטת משחק</dt><dd>{{event.rule_system.title}}</dd>
		{% endif %}
	</dl>


	{{event.description|nl2br|linkify|markdown}}

	<dl>
		<dt>מספר משתתפים</dt>	<dd>{{event.occurrence.max_attendees}}</dd>
		{% if event.tags %}
		<dt>תגים</dt>	<dd class="tags">
			{% for tag in event.tag_list %}
				{{tag.title}}
				{% if not loop.last %},{%endif%}
			{% endfor %}
			</dd>
		{% endif %}
	</dl>

	<dl>
		<dt>הערות לצוות הכנס</dt>
		{% if event.occurrence.notes_to_staff %}
		<dd>{{event.occurrence.notes_to_staff}}</dd>
		{% else %}
		<dd>אין</dd>
		{% endif %}
		<dt>דרישות לוגיסטיות</dt>
		{% if event.occurrence.logistical_requirments %}
		<dd>{{event.occurrence.logistical_requirments}}</dd>
		{% else %}
		<dd>אין</dd>
		{% endif %}
		<dt>מגבלות שיבוץ</dt>
		{% if event.occurrence.scheduleing_constraints %}
		<dd>{{event.occurrence.scheduleing_constraints}}</dd>
		{% else %}
		<dd>אין</dd>
		{% endif %}
	</dl>

</article>

{% include 'convention/email/footer' %}