{% include 'convention/email/header' %}

<p>שלום {{user.fullname}}</p>

<p>מישהו ניגש לאתר כנס ביגור וביקש לאפס את הסיסמה שלך באתר.</p>

<p>אם לא שלחת את הבקשה בעצמך, אז אין מה לדאוג - הסיסמה שלך לא התגלתה ואין צורך לעשות שום דבר. אפשר להתעלם מהדואר הזה.</p>

<p>אם ברצונך לאפס את הסיסמה שלך בכל זאת - יש להפעיל את הקישור להלן:</p>

<p>
<a href="http://www.bigor.org.il/controll/user/doreset?email={{user.email|url_encode}}&token={{token}}">http://www.bigor.org.il/controll/user/doreset?email={{user.email|url_encode}}&token={{token}}</a>
</p>

{% include 'convention/email/footer' %}
