@CHARSET "UTF-8";

.error-message {
	color: #cc0000;
	font-size: 120%;
	text-align: center;
}

table.con-plan {
	border-collapse: collapse;
	border: solid gray 1px;
	font-size: 80%;
}

table.con-plan th {
	border: solid gray 1px;
	background-color: #DCDCDC;
}

table.con-plan th, table.con-plan td {
	padding: 0.2em;
}

table.con-plan th.alt {
	background-color: #E6E6E6;
}
table.con-plan th.hour-field {
	width: 6em;
}

table.con-plan tbody th {
	white-space: nowrap;
	width: 6em;
}

table.con-plan tbody.day-selector tr {
	border: solid black 1px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	background-color: #90D1ED;
}

table.con-plan tbody.day-plan {
	display: none;
}

table.con-plan tbody td.event {
	background: #FFF7EB;
	border: solid #32302E 1px;
}

form fieldset {
	border: solid #CCC 1px;
	padding: .2em;
}

form input, form textarea, form select, form button {
	border: solid #999 1px;
	padding: 2px;
	font: 1em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
}

form input[type=number] {
	width: 3em;
}

form input[type=text].large {
	width: 38em;
}

form input[type=text].medium {
	width: auto;
}

form select, form select option {
	background-color: white;
}

form textarea.large-description {
	width: 60em;
	height: 10em;
}

form label[for] {
	width: 12em;
	float: right;
}

form p {
	clear: both;
	margin-bottom: .3em;
}

table.admin tbody tr:hover {
	background-color: lightgray;
}

table.admin th, table.admin td {
	padding: .2em .5em;
	border-bottom: solid 1px gray;
}

table.admin .action-icon {
	height: 16px;
	width: 16px;	
}
