@CHARSET "UTF-8";
@import url(shmulikclm.css);

/* --== Header ==-- */
#branding {
	padding-top: 1em;
}

#branding #logo {
	float: right;
	width: 100px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	margin-left: 8px; /* leave some room to breath between the logo and the header */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 12px; /* align dragon's feet with title */
}

#site-title {
	font-size: 4.6em;
	font-family: 'shmulik_clmmedium', serif;
}

#site-heading {
	padding: 0;
	float: right;
	margin-top: 58px;
}

#social-media {
	width: 220px;
	float: left;
	padding: 8px 0 0 0;
	text-align: left;
}

#social-media #search-icon {
	margin: 0;
}

#login-control {
	float: left;
	padding-top: 20px;
}

#login-control button {
	border: solid gray 1px;
	border-width: 0 0 1px 0;
	background: transparent;
}

#access {
	margin-top: 50px;
}

/* --== Main Navigation ==-- */

nav[role=navigation] div.menu {
	background: url('/controll/images/convention/header-img.png') transparent 0% 20%;
}

body.magazine nav[role=navigation] div.menu {
	background: url('/controll/images/convention/header-img-benfelten-roll-d20.png') transparent 0% 46%;
}

nav[role=navigation] div.menu #menu-internals {
	/*background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);*/
	background: -webkit-linear-gradient(left, rgba(252,238,33,0) 45%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(45%,rgba(252,238,33,0)), color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -ms-linear-gradient(left, rgba(252,238,33,0) 45%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(252,238,33,0) 45%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
	height: 7em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

nav[role=navigation] div.menu #menu-main {
	padding-top: 5em;
}

@media only screen and (max-width: 824px) {
	nav[role=navigation] div.menu #menu-internals {
		height: auto;
	}
}

@media only screen and (max-width: 757px) {
	nav[role=navigation] div.menu #menu-main {
		padding-top: 0;
		clear:both;
	}
	#site-heading {
		margin-top: 0;
	}
	nav[role=navigation] div.menu #menu-main {
		padding-top: 0;
		clear:both;
	}
}

nav[role=navigation] div.menu ul li {
	float: left;
}

nav[role=navigation] .menu ul li a {
	width: 180px;
	padding: 0;
	text-align: center;
	background-color: rgba(85,70,150,0.6);
	height: 2em;
}
div.menu ul li ul.sub-menu, div.menu ul li ul.children, div.menu ul li ul li ul.sub-menu, div.menu ul li ul li ul.children {
	width: 180px;
	padding: 0;
}
nav[role="navigation"] .menu ul li ul.sub-menu li, nav[role="navigation"] .menu ul li ul.children li {
	width: 180px;
}

nav[role=navigation] .menu ul.menu > li:nth-child(2) a {
	background-color: rgba(255,203,4,0.6);
}

nav[role=navigation] .menu ul li a:hover {
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 7px rgba(255,255,255,1);
}

nav[role="navigation"] .menu ul li ul.sub-menu li a {
	color: #FFF;
	background-color: rgba(85,70,150,0.6);
}

nav[role="navigation"] .menu ul li ul li a:hover {
	background-color: rgba(85,70,150,0.6);
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 7px rgba(255,255,255,1);
}

nav[role=navigation] .menu ul li:nth-child(2) ul li a {
	background-color: rgba(255,203,4,0.6);
}
nav[role="navigation"] .menu ul li ul.sub-menu li a, nav[role="navigation"] .menu ul li ul.children li a {
	padding: 0;
}

@media only screen and (max-width: 626px) {
	nav[role=navigation] div.menu ul#menu-main {
		padding-top: 10px;
	}
	nav[role=navigation] div.menu ul#menu-main li {
		float: none;
	}
	nav[role=navigation] div.menu ul#menu-main .sub-menu {
		margin-right: 4em;
		right: auto;
		position: relative;
		margin-bottom: 0.5em;
	}
	div.menu ul li ul.children { 
		position: relative;
	}
	nav[role=navigation] .menu ul.menu > li:nth-child(2) a {
		background-color: rgba(85,70,150,0.6);
	}
}

@media only screen and (max-width: 498px) {
	#social-media {
	width: auto;
	}
}

@media only screen and (max-width: 352px) {
	#social-media {
	display:none;
	}
}

@media only screen and (max-width: 800px) {
	 body.con-plan-page #container {
	 	overflow: visible!important;
	 }
}

/* --== Main Page ==-- */

.error-message {
	font-weight: bold;
	color: #960000;
	text-decoration: underline;
}

article .grid-box-img .img-box-link-bait {
	/*box-shadow: inset 10px 10px 10px 15px rgba(30,0,30,0.7);*/
}

article .grid-box-img .img-box-link-bait {
	display: block; 
	width: 100%; 
	background-size: 100% auto;
}

.grid-box.smallbox .entry-content {
	display: none; /* small boxes show only title */
}

.grid-box.latest .entry-content {
	display: block; /* small boxes show only title */
}

.grid-box .grid-box-img .img-box-link-bait.large {
	display: none;
}

.grid-box.featured .grid-box-img .img-box-link-bait.thumbnail, .grid-box.latest .grid-box-img .img-box-link-bait.thumbnail {
	display: none;
}
.grid-box.featured .grid-box-img .img-box-link-bait.large, .grid-box.latest .grid-box-img .img-box-link-bait.large {
	display: block !important;
}

.page-type1 {
	 background-color: rgb(255,203,4);
}

.page-type2 {
	 background-color: rgb(85,70,150);
}

.tag-type1 {
	background-color: rgb(172,69,183);
}

.tag-type2 {
	background-color: rgb(255,28,84);
}

.tag-type3 {
	background-color: rgb(6,23,209);
}

.tag-type4 {
	background-color: rgb(61,185,51);
}

#map-canvas {
	margin: 10px 0;
}

/* --== magazine ==-- */

.post-520.post.full .grid-box-img {
	display: none;
}

.sponsor-logo {
}

.grid-box .entry-header  {
    height: 2.6em;
}

/* --== Con plan ==-- */


ul.link-bar {
	float: left;
}

ul.link-bar li {
	float: left;
    padding: .2em;
}

ul.link-bar li:after {
    content: ' | ';
    float: left;
    padding: .2em;
}

ul.link-bar li:first-child:after {
    content: '';
}

#day-selector a {
    font-size: 150%;
    text-decoration: none;
    border: outset gray 1px;
    padding: .2em;
    background-color: #CCC;
}

#day-selector a.disabled {
    border: solid lightgray 1px;
    background-color: #EEE;
    color: gray;
    cursor: default;
}

div.con-plan-container-container {
	line-height: 1.1em;
	clear: left;
}

.con-plan {
    border-collapse: collapse;
    border: solid gray 1px;
    width: 100%;
}

.con-plan td, .con-plan th {
    border: solid gray;
    border-width: 0 1px;
    padding: 0.2em;
}

.con-plan thead {
    border: solid black;
    border-width: 0 0 2px 0;
    vertical-align: bottom;
}

.con-plan td {
	cursor: pointer;
	vertical-align: middle;
}

.con-plan th select {
	border: solid gray 1px;
	background-color: white;
	width: 100%;
}

.con-plan .event {
    background-color: rgba(255,203,4,0.5);
    border: solid gray 1px;
    padding: .3em;
}

.con-plan .event div {
	max-width: 10em;
}

.con-plan .event div.eventbox {
	cursor: pointer;
	text-decoration: none;
}

.con-plan tr.alt {
	background-color: #EEE;
}

.con-plan .table-search tr {
	border: solid black 1px;
}

.con-plan .table-search input {
	width: 56em;
	padding-left: 30px;
}

.con-plan .table-search img {
    position: absolute;
	margin-right: -2em;
	margin-top: 2px;
}

.con-plan .event-full {
	color: gray;
}

.con-plan .single-row {
	height: 1.5rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	max-width: 37em;
}

.con-plan .single-row p:first-child {
	margin-top: 0;
}

.con-plan .pop-up {
	display: none;
	position: absolute;
	background-color: #FFFFC0;
	border: solid gray 1px;
	z-index: 5;
	padding: .2em;
}

.con-plan .pop-up p:first-child {
	margin-top: 0;
}

.con-plan .pop-up p:last-child {
	margin-bottom: 0;
}

.con-plan td.event-type-מיניאטורות, .event-type-legend.event-type-מיניאטורות .box { background-color: #F0FF80; }
.con-plan td.event-type-משחק-תפקידים, .event-type-legend.event-type-משחק-תפקידים .box { background-color: #52FF20; }
.con-plan td.event-type-משחק-חי, .event-type-legend.event-type-משחק-חי .box { background-color: #5FFEF7; }
.con-plan td.event-type-טורניר, .event-type-legend.event-type-טורניר .box { background-color: #FF4848; }
.con-plan td.event-type-הרצאה-או-סדנא, .event-type-legend.event-type-הרצאה-או-סדנא .box { background-color: #0066FF; }
.con-plan td.event-type-אירוע-קהילתי, .event-type-legend.event-type-אירוע-קהילתי .box { background-color: #FFE920; }
.con-plan td.event-type-קלפים-ולוח, .event-type-legend.event-type-קלפים-ולוח .box { background-color: #FF00BF; }

.event-type-legend .box {
    width: 30px;
    height: 1em;
    border: solid black 1px;
    display: inline-block;
    margin-left: 0.2em;
    margin-top: -2px;
    margin-right: 0.5em;
    vertical-align: middle;
}

.event-details #register {
    width: 19em;
    background-color: rgb(255,203,4);
    padding: 1em;
}

.event-details dl {
	border: lightgray 10px;
	border-style: none solid none none;
	padding-right: .3em;
}
.event-details dt:after {
    content: ': '
}

.event-details dt { 
    float: right;
    width: 9em;
    font-style: italic;
}

.event-details dd {
	margin-right: 9em;
}

.event-details dd p:last-child {
	margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
	.event-details dd {
		margin-right: 3em;
	}
}

.event-details dd.tags a {
    margin-left: 0.5em;
    text-decoration: none;
    background-color: #EEE;
    padding: 0.1em 0.5em;
    border: solid #DDD 1px;
    border-radius: 10px;
    white-space: nowrap;
}

.event-details dd.tags {
    margin-bottom: .5em;
}

/* make horizontal scrolling in the con-plan works, but not on mobile 
	table.con-plan {
	    table-layout: fixed;
        margin-right: -91px;
	    width:3490px; 
	}
	
	table.con-plan tbody td, table.con-plan tbody th {
        width:80px;
        height:12px;
	}
	table.con-plan tbody th {
	  position:absolute;
	  right:0; 
	  width:60px;
	}
	
	div.con-plan-container-container { 
        position: relative;
    }
	div.con-plan-container {
	  margin-right:66px;
        overflow-x:scroll;
        overflow-y:visible;
	}
*/
	
@media only screen and (max-width: 600px) {
	.con-plan {
		font-size: 90%;
	}
	.con-plan td.mobile-optional, .con-plan th.mobile-optional {
		display: none;
	}
	
	div.con-plan-container-container {
		line-height: .9em;
	}	
}

/* --== Event Cart & Registation complete ==-- */

.checkout-cart {
	float: left;
	width: 22em;	
    background-color: rgba(255,203,4, 0.5);
    padding: .5em;
}

.checkout-cart caption, .reg-list caption {
    text-decoration: underline;
}

.checkout-cart table, .reg-list table {
    width: 100%;
}

.checkout-cart table td, .reg-list table td {
    border: solid gray 1px;
    padding: 0.2em;
    text-align: center;
}

.checkout-cart footer, .reg-list footer {
    font-size: 80%;
    font-style: italic;
}

.checkout-cart button {
    border: solid black 1px;
    background-color: white;
    margin: 0 1em;
    padding-left: 0;
    float: right;
}

.checkout-cart button[disabled] {
    background-color: lightgray;
    color: gray;
    border-color: darkgray;
}

.checkout-cart button img {
    width: 18px;
    vertical-align: middle;
    margin: 0px 1px;
}

.checkout-cart td a img {
	padding-top: 4px;
	float: right;
}

.checkout-cart .loading-anim {
	display: none;
	width: 16px;
	position: absolute;
	margin-top: -1.6em;
	margin-right: 11em;
}

.checkout-cart .loading-anim img {
	width: 100%;
}

/* --== Footer ==-- */

footer.footnote {
	clear: both;
    font-size: 80%;
    font-style: italic;
}

footer[role="contentinfo"] {
	border: none !important;
	background: -webkit-linear-gradient(top,  rgb(255,203,4) 0%,#ffffff 21%); /* Chrome10+,Safari5.1+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,203,4)), color-stop(21%,#ffffff)); /* Chrome,Safari4+ */
	background: -ms-linear-gradient(top,  rgb(255,203,4) 0%,#ffffff 21%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(255,203,4) 0%,#ffffff 21%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFCB04', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	height: 8em;
	margin-top: 10px;
	padding: 2em 10px;
}

footer[role="contentinfo"] a {
	color: inherit;
}

footer[role="contentinfo"] p {
	margin-top: 0.05em;
	margin-bottom: 0.05em;
}

footer[role="contentinfo"] img.logo {
	width: 100px;
	float: right;
}

footer[role="contentinfo"] .tag-cloud {
	float: left;
	/* height: 100%; */
	width: 53%;
	text-align: center;
	overflow: hidden;
}

footer[role="contentinfo"] .tag-cloud a {
	text-decoration: none;
    white-space: nowrap;
}

footer[role="contentinfo"] .tag-cloud a:hover {
	text-decoration: underline;
}

footer[role="contentinfo"] .mini-info {
	float: right;
	margin: 0 1em 0 0;
	padding-left: 2em;
	border-left: solid gray 1px;
	height: 100%;
	margin-bottom: 10px;
}

footer[role="contentinfo"] .copyright {
	border-top: solid rgb(85,70,150) 3px;
	clear: both;
	text-align: center;
	font-size: 80%
}

footer[role="contentinfo"] .copyright p:first-child {
	color: black;
}

footer[role="contentinfo"] .copyright p {
	margin: 0;
	color: #999;
}

/* --== Article Page ==-- */

header.entry-header.full {
	margin-top: -3rem;
	width: 28em;
	position: absolute;
}

@media only screen and (max-width: 600px) {
	header.entry-header.full {
		width: auto;
	}
}

header.entry-header.full p {
	font-style: italic;
}

article.full {
	line-height: 1.25rem;
}

article.full.type-post .grid-box-img {
	width: 440px;
	float: left;
	margin-right: 1em;
}

article.full.type-page .grid-box-img {
	width: 220px;
	float: left;
	margin-right: 1em;
	padding: 8px;
}

article.full .post_content {
	font-size: 14pt;
	line-height: 1.15em;
}

article.full .post_content .grid-box-img + p {
	font-weight: bold;
}

article.full .post_content ul li {
	list-style: disc;
}

@media only screen and (max-width: 626px) {
	header.entry-header.full {
		margin-top: 0;
		position: relative;
	}
}

/* --== Forms ==-- */

#main form fieldset {
	background: rgba(104,103,147,1);
    border: 0;
    width: 18em;
    padding: 20px 20px 0;
    font-size: 120%;
    margin-left: 20px;
	float: right;
}

#main form fieldset:first-child {
    background: rgba(254,237,175,1);
}

#main form fieldset p {
    margin: 0;
}

#main form label {
	display: none;
}

#main form label.as-placeholder {
	display: block;
	position: absolute;
	margin-right: .2em;
	opacity: 0.4;
}

#main form input, #main form select, #main form textarea {
    border: 0;
    background: white;
    width: 100%;
    margin-bottom: 20px;
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
    padding: 3px;
}

#main form input[disabled], #main form textarea[disabled] {
	background-color: lightgray;
}

#main form input[type=checkbox] {
	width: auto;
	float: left; 
	margin-top: 3px;
}

#main form input[type=date] {
	padding-right: 7em;
}

#main form input[type=number] {
	padding-right: 14em;
	width: auto;
}

#main form label.checkbox-label {
	display: block; 
	background: white; 
	-moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4); 
	margin-bottom: 20px; 
	color: rgba(0, 0, 0, 0.4); 
	padding: 4px;
}

#main form select {
    padding: 0;
}

#main form textarea {
    height: 8em;
}

#main form fieldset .input-addendum {
	position: absolute;
	margin-right: -6em;
	opacity: 0.4;
	padding-left: .2em;
}

#main form p.form-submit {
	clear: both;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

#main form p.form-submit button {
	font-size: 140%;
	padding: 0.7em 0;
	width: 10em;
}

/* --== Login Box ==-- */

.loginbox {
	width: 600px;
	height: 360px;
	direction: rtl;
	background-image: url('/controll/images/login-sprite.png');
	position: absolute;
	left: 0;
	top: 0;
	text-shadow: rgba(70,70,70,1) 1px 1px 3px;
}

.loginbox.mobile {
	width: auto;
	height: auto;
	position: relative;
}

.loginbox.stage1 {
	background-position: 0 0;
}

.loginbox.stage2 {
	background-position: 0 -360px;
}

.loginbox.stage3 {
	background-position: 0 -720px;
}

.loginbox .login-buttons {
	float: right;
}

.loginbox.mobile .login-buttons {
	float: none;
}

.loginbox .login-button {
	background-image: url('/controll/images/login-sprite.png');
	width: 64px;
	height: 64px;
	background-size: 300px;
	display: block;
	margin: 38px 32px 0;	
	border: solid #EEE 1px;
}

.loginbox.mobile .login-button {
	float: right;
	margin: 16px 16px 0;	
}

#loginbox-google {
	background-position: 0 64px;	
}

#loginbox-twitter {
	background-position: -128px 64px;	
}

#loginbox-facebook {
	background-position: -64px 64px;	
}

.loginbox p {
	font: 2.8rem sans-serif;
	margin: 32px .3em;
}

.loginbox.mobile p {
	font: 1.4rem sans-serif;
	margin: 16px .3em;
	clear: right;
}

.loginbox p.form {
	margin: 10px .3em;
}

.loginbox p:last-child {
	margin-top: 4rem;
}

.loginbox.mobile p:last-child {
	margin-top: inherit;
	padding-bottom: 1rem;
}

.loginbox input {
	font-size: 70%;
	width: 52%;
	border: solid lightgray 1px;
}

.loginbox input[type=email] {
	direction: ltr;
}

.loginbox #password-strength, .loginbox #password-confirmation {
	font: 1.5rem sans-serif italic;
    float: left;
    margin-left: 2em;
    margin-top: 0.5em;
}

.loginbox.mobile #password-strength, .loginbox.mobile #password-confirmation {
	font-size: 100%;
}

.loginbox #password-strength .score0 {
	color: #FF6666;
	display: none;
}

.loginbox #password-strength .score1 {
	color: #FFBF66;
	display: none;
}

.loginbox #password-strength .score2 {
	color: #FFFFC0;
	display: none;
}

.loginbox #password-strength .score3 {
	color: #C0FFC0;
	display: none;
}

.loginbox #password-strength .score4 {
	color: #00C000;
	display: none;
}

.loginbox button {
	font-size: 80%;
}

.loginbox button[disabled] {
	border: solid gray 1px;
    background-color: #DDD;
    color: gray;
}

#modal-authenticate {
	overflow: hidden;
}
.ui-dialog {
	padding: 0;
}
.ui-dialog .ui-dialog-titlebar {
    margin: 0;
    padding: 0;
    height: 0;
    border: 0;
    position: absolute;
    z-index: 5;
}
.ui-widget-header .ui-state-default {
	background: transparent;
	border: 0;
	height: auto;
	width: auto;
	top: -18px;
	right: 0;
}
.ui-state-default .ui-icon {
    background: url('/controll/images/dialog-close.png');
    width: 32px;
    height: 32px;
}

/* --== Admin ==-- */

table.admin tr {
	border: solid gray;
	border-width: 0 1px 1px 0;
}

table.admin tr.alt {
	background-color: #EEE;
}

table.admin tr td {
	padding: 0 1em;
}

#main form.admin label {
	display: inline;
}

#main form.admin input[type=number] {
	width: 4em;
	padding-right: 0;
}

#main form.admin input[type="checkbox"] {
	float: none;
}

#main form.admin select {
	width: auto;
}

.event-status-ממתין-לאישור {
	background-color: azure!important;
}

img.desaturate { 
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.5;
}
