@CHARSET "UTF-8";
@import url(shmulikclm.css);

.controll-error-message {
	font-weight: bold;
	color: #960000;
	text-decoration: underline;
}

/* --== Forms ==-- */

#main form fieldset {
	background: rgba(104,103,147,1);
    border: 0;
    width: 18em;
    padding: 20px 20px 0;
    font-size: 120%;
    margin-left: 20px;
	float: right;
}

#main form fieldset:first-child {
    background: rgba(254,237,175,1);
}

#main form fieldset p {
    margin: 0;
}

#main form label {
	display: none;
}

#main form label.as-placeholder {
	display: block;
	position: absolute;
	margin-right: .2em;
	opacity: 0.4;
}

#main form input, #main form select, #main form textarea {
    border: 0;
    background: white;
    width: 100%;
    margin-bottom: 20px;
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
    padding: 3px;
}

#main form input[disabled], #main form textarea[disabled] {
	background-color: lightgray;
}

#main form input[type=checkbox] {
	width: auto;
	float: left; 
	margin-top: 3px;
}

#main form input[type=date] {
	padding-right: 7em;
}

#main form input[type=number] {
	padding-right: 14em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#main form label.checkbox-label {
	display: block; 
	background: white; 
	-moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4); 
	margin-bottom: 20px; 
	color: rgba(0, 0, 0, 0.4); 
	padding: 4px;
}

#main form select {
    padding: 0;
}

#main form textarea {
    height: 8em;
}

#main form fieldset .input-addendum {
	position: absolute;
	margin-right: -6em;
	opacity: 0.4;
	padding-left: .2em;
}

#main form p.form-submit {
	clear: both;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

#main form p.form-submit button {
	font-size: 140%;
	padding: 0.7em 0;
	width: 10em;
}

/* --== Login Box ==-- */

.loginbox {
	width: 600px;
	height: 360px;
	direction: rtl;
	background-image: url('/controll/images/login-sprite.png');
	position: absolute;
	left: 0;
	top: 0;
	text-shadow: rgba(70,70,70,1) 1px 1px 3px;
}

.loginbox.mobile {
	width: auto;
	height: auto;
	position: relative;
}

.loginbox.stage1 {
	background-position: 0 0;
}

.loginbox.stage2 {
	background-position: 0 -360px;
}

.loginbox.stage3 {
	background-position: 0 -720px;
}

.loginbox .login-buttons {
	float: right;
}

.loginbox.mobile .login-buttons {
	float: none;
}

.loginbox .login-button {
	background-image: url('/controll/images/login-sprite.png');
	width: 64px;
	height: 64px;
	background-size: 300px;
	display: block;
	margin: 38px 32px 0;	
	border: solid #EEE 1px;
}

.loginbox.mobile .login-button {
	float: right;
	margin: 16px 16px 0;	
}

#loginbox-google {
	background-position: 0 64px;	
}

#loginbox-twitter {
	background-position: -128px 64px;	
}

#loginbox-facebook {
	background-position: -64px 64px;	
}

.loginbox p {
	font: 2.8rem sans-serif;
	margin: 32px .3em;
}

.loginbox.mobile p {
	font: 1.4rem sans-serif;
	margin: 16px .3em;
	clear: right;
}

.loginbox p.form {
	margin: 10px .3em;
}

.loginbox p:last-child {
	margin-top: 4rem;
}

.loginbox.mobile p:last-child {
	margin-top: inherit;
	padding-bottom: 1rem;
}

.loginbox input {
	font-size: 70%;
	width: 52%;
	border: solid lightgray 1px;
}

.loginbox input[type=email] {
	direction: ltr;
}

.loginbox #password-strength, .loginbox #password-confirmation {
	font: 1.5rem sans-serif italic;
    float: left;
    margin-left: 2em;
    margin-top: 0.5em;
}

.loginbox.mobile #password-strength, .loginbox.mobile #password-confirmation {
	font-size: 100%;
}

.loginbox #password-strength .score0 {
	color: #FF6666;
	display: none;
}

.loginbox #password-strength .score1 {
	color: #FFBF66;
	display: none;
}

.loginbox #password-strength .score2 {
	color: #FFFFC0;
	display: none;
}

.loginbox #password-strength .score3 {
	color: #C0FFC0;
	display: none;
}

.loginbox #password-strength .score4 {
	color: #00C000;
	display: none;
}

.loginbox button {
	font-size: 80%;
}

.loginbox button[disabled] {
	border: solid gray 1px;
    background-color: #DDD;
    color: gray;
}

#modal-authenticate {
	overflow: hidden;
}
.ui-dialog {
	padding: 0;
}
.ui-dialog .ui-dialog-titlebar {
    margin: 0;
    padding: 0;
    height: 0;
    border: 0;
    position: absolute;
    z-index: 5;
}
.ui-widget-header .ui-state-default {
	background: transparent;
	border: 0;
	height: auto;
	width: auto;
	top: -18px;
	right: 0;
}
.ui-state-default .ui-icon {
    background: url('/controll/images/dialog-close.png');
    width: 32px;
    height: 32px;
}

/* --== con plan ==-- */

#day-selector a {
    font-size: 150%;
    text-decoration: none;
    border: outset gray 1px;
    padding: .2em;
    background-color: #CCC;
}

#day-selector a.disabled {
    border: solid lightgray 1px;
    background-color: #EEE;
    color: gray;
    cursor: default;
}

div.con-plan-container-container {
	line-height: 1.1em;
	clear: left;
}

.con-plan {
    border-collapse: collapse;
    border: solid gray 1px;
    width: 100%;
	margin: 0 !important;
}

.con-plan tr td, .con-plan tr th {
    border: solid gray;
    border-width: 0 1px;
    padding: 0.2em !important;
	font-size: 90%;
}

.con-plan tbody:last-child {
	border-bottom: solid #ccc 1px;
}

.con-plan thead {
    border: solid black;
    border-width: 0 0 2px 0;
    vertical-align: bottom;
}

.con-plan td {
	cursor: pointer;
	vertical-align: middle;
}

.con-plan th select {
	border: solid gray 1px;
	background-color: white;
	width: 100%;
}

.con-plan .event {
    background-color: rgba(255,203,4,0.5);
    border: solid gray 1px;
    padding: .3em;
}

.con-plan .event div {
	max-width: 10em;
}

.con-plan .event div.eventbox {
	cursor: pointer;
	text-decoration: none;
}

.con-plan tr.alt {
	background-color: #EEE;
}

.con-plan .table-search tr {
	border: solid black 1px;
}

.con-plan .table-search img {
    position: absolute;
	margin-right: -2em;
	margin-top: 2px;
}

.con-plan .table-search table {
	margin: 0 !important;
}

.con-plan .event-full {
	color: gray;
}

.con-plan .single-row {
	height: 1.5rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	max-width: 37em;
}

.con-plan .single-row p:first-child {
	margin-top: 0;
}

.con-plan .pop-up {
	display: none;
	position: absolute;
	background-color: #FFFFC0;
	border: solid gray 1px;
	z-index: 5;
	padding: .2em;
}

.con-plan .pop-up p:first-child {
	margin-top: 0;
}

.con-plan .pop-up p:last-child {
	margin-bottom: 0;
}

.con-plan td.event-type-מיניאטורות, .event-type-legend.event-type-מיניאטורות .box { background-color: #F0FF80; }
.con-plan td.event-type-משחק-תפקידים, .event-type-legend.event-type-משחק-תפקידים .box { background-color: #52FF20; }
.con-plan td.event-type-משחק-חי, .event-type-legend.event-type-משחק-חי .box { background-color: #5FFEF7; }
.con-plan td.event-type-טורניר, .event-type-legend.event-type-טורניר .box { background-color: #FF4848; }
.con-plan td.event-type-הרצאה-או-סדנא, .event-type-legend.event-type-הרצאה-או-סדנא .box { background-color: #0066FF; }
.con-plan td.event-type-אירוע-קהילתי, .event-type-legend.event-type-אירוע-קהילתי .box { background-color: #FFE920; }
.con-plan td.event-type-קלפים-ולוח, .event-type-legend.event-type-קלפים-ולוח .box { background-color: #FF00BF; }

.event-type-legend .box {
    width: 30px;
    height: 1em;
    border: solid black 1px;
    display: inline-block;
    margin-left: 0.2em;
    margin-top: -2px;
    margin-right: 0.5em;
    vertical-align: middle;
}

.event-details {
    clear: none !important; /* otherwise the shopping cart is not floating */
}

.event-details #register {
    width: 19em;
    background-color: rgb(255,203,4);
    padding: 1em;
}

.event-details dl {
	border: lightgray 10px;
	border-style: none solid none none;
	padding-right: .3em;
}
.event-details dt:after {
    content: ': '
}

.event-details dt { 
    float: right;
    width: 9em;
    font-style: italic;
}

.event-details dd {
	margin-right: 9em;
}

.event-details dd p:last-child {
	margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
	.event-details dd {
		margin-right: 3em;
	}
}

.event-details dd.tags a {
    margin-left: 0.5em;
    text-decoration: none;
    background-color: #EEE;
    padding: 0.1em 0.5em;
    border: solid #DDD 1px;
    border-radius: 10px;
    white-space: nowrap;
}

.event-details dd.tags {
    margin-bottom: .5em;
}

/* make horizontal scrolling in the con-plan works, but not on mobile 
	table.con-plan {
	    table-layout: fixed;
        margin-right: -91px;
	    width:3490px; 
	}
	
	table.con-plan tbody td, table.con-plan tbody th {
        width:80px;
        height:12px;
	}
	table.con-plan tbody th {
	  position:absolute;
	  right:0; 
	  width:60px;
	}
	
	div.con-plan-container-container { 
        position: relative;
    }
	div.con-plan-container {
	  margin-right:66px;
        overflow-x:scroll;
        overflow-y:visible;
	}
*/
	
@media only screen and (max-width: 600px) {
	.con-plan {
		font-size: 90%;
	}
	.con-plan td.mobile-optional, .con-plan th.mobile-optional {
		display: none;
	}
	
	div.con-plan-container-container {
		line-height: .9em;
	}	
}

/* --== Event Cart & Registation complete ==-- */

.checkout-cart {
	float: left;
	width: 22em;	
    background-color: rgba(255,203,4, 0.5);
    padding: .5em;
}

.checkout-cart caption, .reg-list caption {
    text-decoration: underline;
}

.checkout-cart table, .reg-list table {
    width: 100%;
}

.checkout-cart table th, .reg-list table th {
	padding: 0 .3em !important;
}

.checkout-cart table td, .reg-list table td {
    border: solid gray 1px;
    padding: 0.2em;
    text-align: center;
	padding: 0 .3em !important;
}

.checkout-cart footer, .reg-list footer {
    font-size: 80%;
    font-style: italic;
}

.checkout-cart button {
    border: solid black 1px;
    background-color: white;
    margin: 0 1em;
    padding-left: 0;
    float: right;
}

.checkout-cart button[disabled] {
    background-color: lightgray;
    color: gray;
    border-color: darkgray;
}

.checkout-cart button img {
    width: 18px;
    vertical-align: middle;
    margin: 0px 1px;
}

.checkout-cart td a img {
	padding-top: 4px;
	float: right;
}

.checkout-cart .loading-anim {
	display: none;
	width: 16px;
	position: absolute;
	margin-top: -1.6em;
	margin-right: 11em;
}

.checkout-cart .loading-anim img {
	width: 100%;
}
