@CHARSET "UTF-8";

html[lang=he] body {
	direction: rtl;
}

body {
	background: url('/controll/images/background.jpg') #f6f6f6;
	font: 78.5%/1.6em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
	word-spacing:2px;
	color:#444;
	margin: 10px 20px 0;
}

* {
	margin:0;
	padding:0;
}

#wrapper {
	border: 0;
	max-width:1100px;
	width:expression(this.width > 320 ? "320px" : this.width);
	/* min-width:760px; */
	margin:0 auto;
}

* html #wrapper
{
	w\idth: expression(document.documentElement.clientWidth > 1200 ? "1200px" : "auto");
}

#innerwrapper {
	margin:0 1px;
	background: rgba(255,255,255,0.2);
	height: 100%;
}

header input {
        width: 12em;
        padding: 0.5em;
        background: #fff;
        border: 2px solid #f6f6f6;
        font: 150% Arial;
        color: #999;
}

header input:hover {
        border:2px solid #ccc;
}

header input:focus {
        border:2px solid #79B5D6;
        color:#555;
}

header h1 {
	/* float: right; */
	font: 250% Georgia;
	color: #333;
	padding: 0.2em;
}

header h1 a {
	color:#333;
	text-decoration:none;
}

header h1 a:hover {
	color:#111;
}

header h2 {
	font:150% Georgia;
	font-weight:normal;
	color:#555;
	padding:14px 0 0 0;
	border:none;
}

header h2 a {
	color:#555;
	text-decoration:none;
	border-bottom:2px solid #f6f6f6;
}

header nav {
        clear:both;
        opacity: 0.7;
        background: url('/controll/images/nav.jpg') top repeat-x #f6f6f6;
        padding: 10px 0px 10px 0 !important;
        padding: 4px 10px 10px 0;
        text-align: center;
}

header a em {
        font-style: normal;
        text-decoration: underline;
}

header nav a {
        color: #fff;
        font: 140% Trebuchet MS;
        text-decoration: none;
        padding: 10px;
}

header nav a:hover {
        background: #666;
        opacity: 1;
}

header nav a.active {
        background: #666;
}

header .login {
	float: left;
	margin: .5em;
}

header .login button {
	border: none;
	padding: 0.3em;
	background: transparent;
	cursor: pointer;
}

header .login button:hover {
	text-decoration: underline;
}

header .login a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

header .login a:hover {
	text-decoration: underline;
}

.content {
	margin: 0 0 0 240px;
	padding: 1.5em 0.7em;
	font: 140% "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
}

footer {
        clear: both;
        border-top: 1px solid #999;
        padding: 0;
        margin: 0;
        color: #999;
        font-size: 70%;
        height: 3em;
}
footer p {
        margin: 0;
}
footer a {
        color: #999;
}
