/*
	Simple OpenID Plugin
	http://code.google.com/p/openid-selector/
	
	This code is licensed under the New BSD License.
*/

#openid_form {
/* 	width: 580px; */
}

#openid_form legend {
	font-weight: bold;
}

#openid_choice {
	display: none;
}

#openid_input_area {
	clear: both;
	padding: 10px;
}

#openid_btns, #openid_btns br {
	clear: both;
}

#openid_highlight {
	padding: 3px;
	background-color: #FFFCC9;
	float: left;
}

.openid_large_btn {
	width: 100px;
	height: 60px;
/* fix for IE 6 only: http://en.wikipedia.org/wiki/CSS_filter#Underscore_hack */
	_width: 102px;
	_height: 62px;

	border: 1px solid #DDD;
	margin: 3px;
	float: left;
}

.openid_small_btn {
	width: 24px;
	height: 24px;
/* fix for IE 6 only: http://en.wikipedia.org/wiki/CSS_filter#Underscore_hack */
	_width: 26px;
	_height: 26px;

	border: 1px solid #DDD;
	margin: 3px;
	float: left;
}

a.openid_large_btn:focus {
	outline: none;
}

a.openid_large_btn:focus {
	-moz-outline-style: none;
}

.openid_selected {
	border: 4px solid #DDD;
}