<p>איפוס סיסמה</p>

{% if error %}
	<p class="error-message">{{error}}</p>
{% endif %}

<form method="post" action="completereset">
<input type="hidden" name="token" value="{{token}}"/>
<input type="hidden" name="email" value="{{email}}"/>
<p>
<label for="password1">הקש סיסמה</label>
<input name="password1" type="password">
</p>
<p>
<label for="password2">הקש סיסמה לאישור</label>
<input name="password2" type="password">
</p>
<p>
<button type="submit">אישור</button>
</p>
</form>