{% if error %}<p class="error-message">{{error}}</p>{% endif %}

<p>אני מעוניין להתנדב בכנס ל:</p>

<form method="post">
<fieldset>
	<input type="hidden" name="action" value="update"/>
	<p>
		<label class="checkbox-label"><input type="checkbox" name="want_host" value="1"  {% 
			if attribute(user, 'didVolunteerForHosting', [convention]) 
				%}checked="checked"{% 
			endif 
			%}/> אני מעוניין להנחות בכנס</label>
	</p>
	<p>
		<label class="checkbox-label"><input type="checkbox" name="want_volunteer" value="1" {% 
			if attribute(user, 'didVolunteer', [convention]) 
				%}checked="checked"{% 
			endif 
			%}/> אני מעוניין להתנדב בכנס</label>
	</p>
	<p>
		<button type="submit">אישור</button>
	</p>
</fieldset>
</form>
<div style="clear: both;"></div>

{% if thanks %}
<p>הרישום שלך עודכן, תודה!</p>
{% endif %}