<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
#loginbox {
	width: 600px;
	height: 360px;
	direction: rtl;
	background-image: url('images/login-sprite.png');
	position: absolute;
}

#loginbox.stage1 {
	background-position: 0 0;
}

#loginbox.stage2 {
	background-position: 0 -360px;
}

#loginbox.stage3 {
	background-position: 0 -720px;
}

#loginbox .login-buttons {
	float: right;
}

#loginbox .login-button {
	background-image: url('images/login-sprite.png');
	width: 64px;
	height: 64px;
	background-size: 300px;
	display: block;
	margin: 38px 32px 0;	
	border: solid #EEE 1px;
}

#loginbox-google {
	background-position: 0 64px;	
}

#loginbox-twitter {
	background-position: -64px 64px;	
}

#loginbox-facebook {
	background-position: -128px 64px;	
}

#loginbox p {
	font: 2.8rem sans-serif;
	margin: 32px .3em;
}

#loginbox p:last-child {
	margin-top: 4rem;
}

#loginbox input {
	font-size: 70%;
	width: 52%;
	border: solid lightgray 1px;
	direction: ltr;
}

#loginbox button {
	font-size: 80%;
}

</style>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>

	<div id="loginbox" class="stage1">
		<div class="login-buttons">
			<a h.ref="/authenticate/signin?return_url={{canonical|e('url')}}&openid_identity=https%3A%2F%2Fwww.google.com%2Faccounts%2Fo8%2Fid" id="loginbox-google" class="login-button"></a>
			<a href="#" id="loginbox-twitter" class="login-button"></a>
			<a href="#" id="loginbox-facebook" class="login-button"></a>
		</div>
		<p>לכניסה לאתר, בחרו את שירות הזיהוי הרצוי או הכניסו כתובת דוא"ל</p>
		<p>
			<input type="text" name="email" id="login-email" placeholder="user@domain.com"/>
			<button id="login-start">כניסה</button>
		</p>
	</div>

</body>
</html>