<div class="loginbox stage1 mobile">
	<div class="login-buttons">
		<a href="/controll/authenticate/oauth2?return_url={{return_url|e('url')}}&provider=google" id="loginbox-google" class="login-button"></a>
		<a href="/controll/authenticate/oauth?return_url={{return_url|e('url')}}&provider=twitter" id="loginbox-twitter" class="login-button"></a>
		<a href="/controll/authenticate/oauth2?return_url={{return_url|e('url')}}&provider=facebook" id="loginbox-facebook" class="login-button"></a>
	</div>
	<p>לכניסה לאתר, בחרו את שירות הזיהוי הרצוי או הכניסו כתובת דוא"ל</p>
	<p class="form">
		<input type="email" name="email" id="login-email" placeholder="user@domain.com"/>
		<button id="login-start" disabled="disabled">כניסה</button>
	</p>
</div>
<div class="loginbox stage2 mobile" style="display:none;">
	<p>לרישום לאתר, יש להכניס סיסמת זיהוי חדשה, פעמיים.</p>
	<p class="form">
		<input type="password" name="password1" id="login-reg-password1" placeholder="סיסמה"/> 
	</p>
	<div id="password-confirmation" style="display: none;">
		<span>סיסמאות לא זהות</span>
	</div>
	<p class="form">
		<input type="password" name="password2" id="login-reg-password2" placeholder="אישור סיסמה"/>
	</p>
	<p class="form">
		<button id="login-password-ok" disabled="disabled">אישור</button>
	</p>
	<p></p>
</div>
<div class="loginbox stage3 mobile" style="display:none;">
	<p>לכניסה לאתר, יש להכניס את סיסמת הזיהוי</p>
	<p>
		<input type="password" name="password" id="login-password"/>
		<button id="login-enter">כניסה</button>
	</p>
</div>

<script type="text/javascript">
passwordLogin();
</script>
