<header class="entry-header full ">

    <h2 class="entry-title">
        רישום משתמש
    </h2>

</header>

<p>
שלום לך משתמש\ת חדש\ה!
</p>
<p>
על מנת להשלים את הכניסה לאתר, אנחנו זקוקים למספר פרטים - כדי שנוכל ליצור איתך קשר בעתיד:
</p>
{%if error%}<p class="error-message">{{error}}</p>{%endif%}
<form action="register">
<div class="boxset">
<fieldset>
	<input type="hidden" name="return_url" value="{{return_url}}"/>
	<p>
		<label for="name">שם:</label>
		<input type="text" name="name" autofocus class="medium" placeholder="שם פרטי ומשפחה" value="{{fullname}}"/>
		<span class="input-addendum">(שדה חובה)</span>
	</p>
	<p>
		<label for="email">דואר אלקטרוני:</label>
		<input type="text" name="email" placeholder="כתובת דואל" value="{{email}}"/>
		<span class="input-addendum">(שדה חובה)</span>
	</p>
	<p>
		<label class="as-placeholder" for="date_of_birth">תאריך לידה</label>
  		<input type="date" name="date_of_birth" min="1950-01-01" max="-3650" placeholder="שנה/חודש/יום" value="{{date_of_birth}}"/>
  	</p>
  	<p>
  		<label for="phone">טלפון:</label>
  		<input type="tel" name="phone" placeholder="מספר טלפון" value="{{phone}}"/>
  	</p>
</fieldset>
<div style="clear:both;"></div>
</div>
<p class="form-submit">
	<button type="submit">הרשם</button>
</p>
</form>
<div id="error-message"></div>
<script>

function formInvalid() {
	var emailpattern = /^[a-zA-Z0-9\-_]+(\.[a-zA-Z0-9\-_]+)*@[a-z0-9]+(\-[a-z0-9]+)*(\.[a-z0-9]+(\-[a-z0-9]+)*)*\.[a-z]{2,4}$/;
	var namepattern = /^\s*\S{2,}\s+\S{2,}/;
	var namevalid = namepattern.test($('input[name=name]').val());
	var emailvalid = emailpattern.test($('input[name=email]').val());
	if (namevalid) { $('input[name=name]').removeClass('invalid'); } else { $('input[name=name]').addClass('invalid'); }
	if (emailvalid) { $('input[name=email]').removeClass('invalid'); } else { $('input[name=email]').addClass('invalid'); }
	$('#error-message').hide();
	$('#error-message').empty();
	if (!namevalid) {
		$('#error-message').append('<p>חובה להכניס את שמך המלא</p>');
	}
	if (!emailvalid) {
		$('#error-message').append('<p>חובה להכניס את כתובת הדואר האלקטרוני שלך</p>');
	}
	if (!namevalid || !emailvalid) {
		$('#error-message').show(750);
		return true;
	}
}

$(function(){
	if (!Modernizr.inputtypes.date) {
	$.datepicker.setDefaults({
		  buttonImageOnly: true, isRTL: true, changeYear: true,
		  minDate: '1/1/1950', maxDate: '-8y', yearRange: '1950:c0', defaultDate: '-16y',
		  buttonImage: "/images/dateinput/icon.jpg",
		  buttonText: "לוח שנה",
		  dateFormat: 'd/m/yy',
		  dayNames: [ "ראשון", "שני", "שלישי", "רביעי", "חמישי", "שישי", "שבת" ],
		  dayNamesMin: [ 'א', 'ב', 'ג', 'ד', 'ה', 'ו', 'ש' ],
		  monthNames: [ "ינואר", "פברואר", "מרץ", "אפריל", "מאי", "יוני", "יולי", "אוגוסט", "ספטמבר", "אוקטובר", "נובמבר", "דצמבר" ]
		});
	$('input[type=date]').datepicker();
	}
	$('form').submit(function(ev){
		if (formInvalid())
			ev.preventDefault();
	});
})
</script>